@using SiteExtensions.Graphics
@using Vip
@using Vip.Models
@model Vip.Models.SiteViewModel
<script type="text/javascript">

    $(function () {

        //        $('.slideshow').cycle({
        //            fx: 'fade',
        //            timeout: 6000// choose your transition type, ex: fade, scrollUp, shuffle, etc...
        //        });


        var t = this;
        t.element = $("#container1");

        var conteinerWidth = $("#container1").width();
        var conteinerHeight = $("#container1").height();

        var image = $("#image1");
        var imageWidth = image.width();
        var imageHeight = image.height();


        $(document).mousemove(function (e) {
            var width = conteinerWidth;
            var height = conteinerHeight;
            var left = e.pageX - t.element.offset().left;
            var top = e.pageY - t.element.offset().top;



            var hOffsetLength = imageWidth - conteinerWidth;
            var vOffsetLength = imageHeight - conteinerHeight;
            var hRatio = hOffsetLength / conteinerWidth;
            var vRatio = vOffsetLength / conteinerHeight;

            if (left > 0 && left < width && top > 0 && top < height) {
                image.css({ left: -left * hRatio, top: -top * vRatio });
            }

        });


        var hide = 0;


        $("#container1").mouseover(function () {



            if (hide == 0) {

                $("#thumb").fadeOut("slow", function () {
                    hide = 1;
                    //$("#thumb").css("display", "none");
                    //$("#image1").css("display", "block");
                });
            }

        });

        $("#container1").mouseleave(function () {
           // alert("out");
            

            if (hide == 1) {
                $("#thumb").fadeIn("slow", function () {
                    hide = 0;
                    //$("#image1").css("display", "none");
                    //$("#thumb").css("display", "block");
                    $("#thumb").css("left", "0");
                    $("#thumb").css("top", "0");
                });
            }

        });

    })
</script>
<div class="mainPageContainer">
    @if (Model.Content != null && !Model.IsHomePage)
    {
        
        <div class="titleContainer">
            <span>@Model.Content.Title</span>
        </div>
        <div class="patternTop">
        </div>
        <div class="contentContainer">
            @Html.Raw(Model.Content.Text)
        </div>
        <div class="patternBottom">
        </div>
    }
    @if (Model.Content != null && Model.IsHomePage)
    {
        <div class="titleContainer">
            <span>@Model.Content.Title</span>
        </div>
    }
    @if (Request.IsAuthenticated)
    {
        <div>
            @Html.ActionLink("Добавить изображение", "AddImage", "Content", new { area = "Admin" }, new { @class = "adminLink" })
        </div>
    }
    
 @if (Model.IsHomePage)
    {
    <div class="patternTop">
    </div>
    <div class="mainImage" id="container1">
        <div class="corner top-left">
        </div>
        <div class="corner top-right">
        </div>
        <div class="corner bottom-left">
        </div>
        <div class="corner bottom-right">
        </div>
        @if (Request.IsAuthenticated)
        {
            <div class="manageImageLinkContainer">
                @*@Html.ActionLink("Удалить", "DeleteImage", "Content", new { area = "Admin", id = Model.MainPageImage.Id }, new { @class = "adminLink", onclick = "return confirm('Удалить изображение?')" })*@
            </div>
        }
        @Html.Raw(Html.OriginalImageWithDim("/Content/Images/", Model.MainPageImage.ImageSource, "image", "image1"))
        <div id="thumb">
            @Html.Raw(Html.CachedImage("~/Content/Images/", Model.MainPageImage.ImageSource, SiteSettings.GetThumbnail("mainPageImage")))
        </div>
        @*<div class="slideshow">
                @foreach (var item in Model.MainPageImages)
                {
                    @Html.Raw(Html.CachedImage("~/Content/Images/", item.ImageSource, SiteSettings.GetThumbnail("mainPageImage")))
                }
                </div>*@
    </div>
    <div class="patternBottom">
    </div>
     }
    @if (Model.Content != null && (!string.IsNullOrEmpty(Model.Content.Description) || !string.IsNullOrEmpty(Model.Content.DescriptionTitle)))
    {
        <div class="pattern">
        </div>
        @Html.Partial("AboutModel", new AboutModel { Title = Model.Content.DescriptionTitle, Text = Model.Content.Description })
    }
    @if (Request.IsAuthenticated)
    {
        <div style="text-align: center; margin-top: 120px;">
            @Html.ActionLink("Редактировать страницу", "Edit", "Content", new { area = "Admin", id = (Model.Content != null ? Model.Content.Id : 0) }, new { @class = "adminLink" })
        </div>
    }
</div>
