@using SiteExtensions.Graphics
@using Vip
@using Vip.Models
@model Vip.Models.SiteViewModel
<script type="text/javascript">
    $(function () {
        //        $(".mainImage img").panorama(
        //            {
        //                viewport_width: 1165,
        //                speed:50000,
        //                mode_360: "true",
        //                control_display: "no"   
        //            }
        //        );
    })
</script>
<div class="mainPageContainer">
    @if (Model.Content != null && !Model.IsHomePage)
    {
        <div class="contentContainer">
            @Html.Raw(Model.Content.Text)
        </div>
    }
    
    @if (Request.IsAuthenticated)
        {
        <div>
            @Html.ActionLink("Добавить изображение", "AddImage", "Content", new { area = "Admin" }, new { @class = "adminLink" })
        </div>
        }
    @if (Model.MainPageImage != null)
    {
        <div class="patternTop">
        </div>
    
        if (Model.MainPageImage.ImageSource != null)
        {
            <div class="mainImage">
                <div class="corner top-left"></div>
                <div class="corner top-right"></div>
                <div class="corner bottom-left"></div>
                <div class="corner bottom-right"></div>
                @if (Request.IsAuthenticated)
                {
                    <div class="manageImageLinkContainer">
                        @Html.ActionLink("Удалить", "DeleteImage", "Content", new { area = "Admin", id = Model.MainPageImage.Id }, new { @class = "adminLink", onclick = "return confirm('Удалить изображение?')" })
                    </div>
                }
                @*@Html.Raw(Html.CachedImage("~/Content/Images/", Model.MainPageImage.ImageSource, SiteSettings.GetThumbnail("mainPageImage"), ScaleMode.FixedHeight))*@
                @Html.Raw(Html.CachedImage("~/Content/Images/", Model.MainPageImage.ImageSource, SiteSettings.GetThumbnail("mainPageImage"), ScaleMode.Crop))
            </div>
        }
        <div class="patternBottom">
        </div>
    }
    @if (Model.Content != null && (!string.IsNullOrEmpty(Model.Content.Description) || !string.IsNullOrEmpty(Model.Content.DescriptionTitle)))
    {
        @Html.Partial("AboutModel", new AboutModel { Title = Model.Content.DescriptionTitle, Text = Model.Content.Description })
    }
    @if (Request.IsAuthenticated)
    {
        <div style="text-align: center; margin-top: 120px;">
            @Html.ActionLink("Редактировать страницу", "Edit", "Content", new { area = "Admin", id = (Model.Content != null ? Model.Content.Id : 0) }, new { @class = "adminLink" })
        </div>
    }
</div>
