@using Listelli.Models
@model Designer

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/DesignersPortfolio/Views/Shared/_Layout.cshtml";
}

@section Title
{
    @Html.Partial("PageTitle", new ContentTitleModel { Type = TitleType.Text, Title = "О дизайнере" })
}

<div class="content">

    <div class="display-label">Name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">DesignerName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DesignerName)
    </div>

    <div class="display-label">DesignerNameF</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DesignerNameF)
    </div>

    <div class="display-label">Description</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">ImageSource</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ImageSource)
    </div>


    @Html.ActionLink("Редактировать", "Edit","Designer", new {area="Admin", id=Model.Id },new{@class="adminLink"}) |
    
    @if (Request.IsAuthenticated)
    {
        @Html.ActionLink("К списку дизайнеров", "Index", "Designer", new { area = "admin" }, new { @class = "adminLink" })
    }
</div>
