@using SiteExtensions
<div class="mainMenu">
    <ul>
        <li>
            @if (Html.IsCurrentController("Catalogue"))
            {
                <text>Продукция</text>
            }
            else
            {
                @Html.ActionLink("Продукция", "Index", "Catalogue", new { area = "", category = "" }, null)
            }
        </li>
        <li>
            @if (Html.IsCurrentController("Brands"))
            {
                <text>Бренды</text>
            }
            else
            {
                @Html.ActionLink("Бренды", "Index", "Brands", new { area = "", category = "" }, null)
            }
        </li>
        <li>
            @if (Html.IsCurrentController("Project"))
            {
                <text>Проектирование</text>
            }
            else
            {
                @Html.ActionLink("Проектирование", "Index", "Project", new { area = "",category="" }, null)
            }
        </li>
        <li>
            @if (Html.IsCurrentController("Home") && ViewBag.ContentName == "about")
            {
                <text>О компании</text>
            }
            else
            {
                @Html.ActionLink("О компании", "Index", "Home", new { area = "", id = "about" }, null)
            }
        </li>
        <li>
            @if (Html.IsCurrentController("Home") && ViewBag.ContentName == "contacts")
            {
                <text>Обратная связь</text>
            }
            else
            {
                @Html.ActionLink("Обратная связь", "Index", "Home", new { area = "", id = "contacts" }, null)
            }
        </li>
    </ul>
</div>
