<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>

    <link href="@Url.Content("~/Content/Fonts.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Menu.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Admin.css")" rel="stylesheet" type="text/css" />
    @{
        var mombileExpression = new System.Text.RegularExpressions.Regex("(ipad)|(iphone)|(android)", System.Text.RegularExpressions.RegexOptions.IgnoreCase);
        bool isMobile = mombileExpression.IsMatch(Request.UserAgent);
    }
    <script src="@Url.Content("~/Scripts/jquery-2.0.0.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Scene.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/PageScripts.js")" type="text/javascript"></script>
    
    

    <meta name="description" content="@ViewBag.SeoDescription" />
    <meta name="keywords" content="@ViewBag.SeoKeywords" />
    <script type="text/javascript">
            var isHomePage =  @(ViewBag.isHomePage != null ? (ViewBag.isHomePage).ToString().ToLowerInvariant() : "false");
            BasePageExtender.initialize();</script>
            
            @if (isMobile)
    {
        <link href="@Url.Content("~/Content/Site-mobile.css")" rel="stylesheet"  type="text/css" />
    }
    else
    {
                <link href="@Url.Content("~/Content/Site-main.css")" rel="stylesheet"  type="text/css" />
        <script type="text/javascript">
            $(document).ready(function () {
                var obj = $("#Scene1");
                new scene(obj);
            });
        </script>
    }

    @RenderSection("Includes", false)
</head>
<body>
    <div class="main-page-container">
        <div class="header">
            <div class="top">
                <div class="language-switcher">
                    @Html.Partial("LanguageSwitcher")
                </div>
            </div>
            <div class="middle" id="Scene1">
                <div class="layer pattern1">
                </div>
                <div class="layer pattern2">
                </div>
                <div class="toplayer">
                    <div id="logo"></div>
                </div>
            </div>
            <div class="bottom">
            </div>
            <div class="mainMenuContainer">
            <div class="mainMenu">
                
                @Html.Partial("MainMenu")
                </div>
            </div>
            <div class="bottom2">
            </div>
        </div>
        <div class="content-container">
            <div class="content-center">
                <div class="content-top">
                </div>
                @if (Roles.IsUserInRole(User.Identity.Name, "Administrators"))
                {
                    <div class="adminLinkContainer">
                        @Html.ActionLink("Выйти из системы администрирования", "LogOff", "Account", new { area = "" }, new { @class = "adminLink" })
                    </div>
                }
                @RenderSection("Title", false)
                @RenderBody()
                <div class="line">
                </div>
                <div class="content-bottom">
                    
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="em-link"></div>
    </div>
</body>
</html>
