<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Fonts.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Menu.css")" rel="stylesheet" type="text/css" />
    
    <script src="@Url.Content("~/Scripts/jquery-2.0.0.min.js")" type="text/javascript"></script>
    
    @RenderSection("Includes",false)
</head>
<body>
    <div class="main-page-container">
        <div class="header">
            <div class="top">
                <div class="language-switcher">
                    @Html.Partial("LanguageSwitcher")
                </div>
            </div>
            <div class="middle">
                <div class="layer">
                </div>
            </div>
            <div class="bottom">
            </div>
            <div class="mainMenu">
                @Html.Partial("MainMenu")
            </div>
            <div class="bottom2">
            </div>
        </div>
        <div class="content-container">
            <div class="content-center">
                <div class="content-top">
                </div>
                @RenderSection("Title")
                
                
                
                    @RenderBody()
                    

                
                

                <div class="line">
                </div>
                <div class="content-bottom">
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
    </div>
</body>
</html>
