@using System.Threading
<div class="m1">
    @Html.ActionLink(GlobalRes.About, "Index", "Home", new { id = "main" }, null)
</div>
@if (ViewBag.CurrentMenuItem == "gallery")
{
    <div class="m2 selected">
        @GlobalRes.BrandGallery
    </div>
}
else if (ViewBag.CurrentMenuItem == "brand-details")
{
    <div class="m2">
        @Html.ActionLink(GlobalRes.BrandGallery, "Gallery", "Home",null,new{@class="selected"})
    </div>
}
else
{
    <div class="m2">
        @Html.ActionLink(GlobalRes.BrandGallery, "Gallery", "Home")
    </div>
}
<div class="m3 selected">
    @Html.ActionLink(GlobalRes.News, "Index", "Home")
</div>
<div class="m4">
    @Html.ActionLink(GlobalRes.FactoryCatalogue, "Index", "Home")
</div>

@{
    string className = "m5";
    if (Thread.CurrentThread.CurrentCulture.Name == "en-US")
    {
        className += " m5en";
    }
}

<div class="@className">
    @Html.ActionLink(GlobalRes.Contacts, "Index", "Home", new { id = "contacts" }, null)
</div>
