@using Kiki.WebSite
@using Kiki.WebSite.App_LocalResources
@using Kiki.WebSite.Helpers.Graphics
@using Kiki.WebSite.Models
@model Kiki.WebSite.Models.SiteModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section TopMenu
{
    @Html.Partial("TopMenu", new SiteMenuModel { Contents = Model.Contents, CurrentMenuItemName = Model.Content.Name,Lang = Model.LangCode })
}

@section Menu
{
    @Html.Partial("Menu", new SiteMenuModel { Contents = Model.Contents, CurrentMenuItemName = Model.Content.Name,Lang = Model.LangCode })
}

@section Banner
{
    @if (Model.Banner != null)
    {
        @Html.Partial("Banner",Model.Banner.ImageSource)
    }
}


<div class="attention">
    <ul class="bxsliderProducts">
            @foreach (var item in Model.Attentions)
            {
                <li>
                    @Html.Raw(Html.CachedImage("~/Content/Images/", item.ImageSource, SiteSettings.GetThumbnail("attention")))
                </li>    
            }
        </ul>
</div>


 

<div class="main-image-container">
    <div class="main-image-wrapper">
        <ul class="bxsliderProducts">
            @foreach (var item in Model.MainImages)
            {
                <li>
                    @Html.Raw(Html.CachedImage("~/Content/Images/", item.ImageSource, SiteSettings.GetThumbnail("mainImage")))
                </li>    
            }
        </ul>
    </div>
</div>

 

<div class="pay-attention">
</div>
<div class="pay-attention-text">
    @Html.Raw(Model.LangCode=="en"? Model.Attention.TextEng: Model.Attention.Text)
</div>

<div class="main-image-text-container">
            <div class="text">
                
                @Html.Raw(GlobalRes.MainText)
                
                @*Настоящий<br>
                мужской мейк-ап &mdash;<br>
                всего за<br>
                <span class="digit">40</span><br>
                <span
                    class="bottom">минут</span>*@
                

            </div>
        </div>

<div style="height: 1px;"></div>
<div class="secret">
</div>
<div class="secret-frame">
    @Html.Raw(GlobalRes.Why)
    
    @*вот <a href="#secret-info">почему</a> вы<br>к нам вернетесь:*@
</div>
<div class="vertical-line-top"></div>
<div class="horizontal-line"></div>
<div class="vertical-line-bottom"></div>

<div class="secret-info" id="secret-info">
     @foreach (var item in Model.Reasons)
        {
            <div class="secret-info-block">
        
       
                <div class="container">
                    <div class="digit-frame">@item.SortOrder</div>
                </div>
                <div class="container">
                    <div class="title">@(Model.LangCode=="en"? item.TitleEng:item.Title)</div>
                </div>
                <div class="container">
                    <div class="text">
                        @Html.Raw(Model.LangCode=="en"? item.TextEng:item.Text)
                    </div>
                </div>
        
            </div>
        }
</div>


@section scripts
{
    <script type="text/javascript">

        $(function () {

            
            //alert(autostart);

             $('.bxsliderProducts').bxSlider({
                 mode: 'fade',
                 auto: true,
                 pause: 5000,
                 speed: 500,
                 pager: false
             });
        });
    </script>
}