@{
    string className = "";
}
<div id="mainMenu">
    <ul>
        @if (ViewBag.CategoryLevel == "technologyRoot")
        {<li class="selected">технологии </li>
        }
        else
        {
            className = ViewBag.CategoryLevel == "technology" ? "selected" : "";
            <li class="@className">
                @Html.ActionLink("технологии", "Technologies", "Home", new { area = "", categoryId = "", subCategoryId = "" }, null)
            </li>
        }
        @if (ViewBag.CategoryLevel == "productRoot")
        {<li class="selected">продукция</li>
        }
        else
        {
            className = ViewBag.CategoryLevel == "product" ? "selected" : "";
            <li class="@className">
                @Html.ActionLink("продукция", "Products", "Home", new { area = "", categoryId = "", subCategoryId = "" }, null)</li>
        }
        @if (ViewBag.CategoryLevel == "documentRoot")
        {<li class="selected w">статьи и документация</li>
        }
        else
        {
            className = ViewBag.CategoryLevel == "document" ? "selected" : "";
            <li class="@className w">
            @Html.ActionLink("статьи и документация", "Documents", "Home", new { area = "", categoryId = "", subCategoryId = "" }, null)
        </li>
        }
        @if (ViewBag.CategoryLevel == "buildingRoot")
        {<li class="selected w">объекты и решения</li>
        }
        else
        {
            className = ViewBag.CategoryLevel == "building" ? "selected" : "";
            <li class="@className w">
                @Html.ActionLink("объекты и решения", "Buildings", "Home", new { area = "", categoryId = "", subCategoryId = "" }, null)</li>
        }
        @if (ViewBag.CategoryLevel == "wheretobuyRoot")
        {<li class="selected">где купить</li>
        }
        else
        {
            className = ViewBag.CategoryLevel == "wheretobuy" ? "selected" : "";
            <li class="@className">
            @Html.ActionLink("где купить", "WhereToBuy", "Home", new { area = "", categoryId = "", subCategoryId = "" }, null)</li>
        }
        @if (ViewBag.CategoryLevel == "aboutRoot")
        { <li class="selected">о компании</li>
        }
        else
        {
            className = ViewBag.CategoryLevel == "about" ? "selected" : "";
            <li class="@className">
            @Html.ActionLink("о компании", "About", "Home", new { area = "", categoryId = "", subCategoryId = "" }, null)</li>
        }
    </ul>
</div>
