<div id="mainMenu">
    <ul>
        <li>
            @if (ViewBag.CategoryLevel == "technologyRoot")
            {
                <text>технологии</text>
            }
            else
            {
                @Html.ActionLink("технологии", "Technologies", "Home", new { area = "",categoryId="",subCategoryId="" }, new { @class = ViewBag.CategoryLevel == "technology" ? "active" : "" })
            }
        </li>
        <li>
            @if (ViewBag.CurrentPage == "production")
            {
                <text>продукция</text>
            }
            else
            {
                @Html.ActionLink("продукция", "SiteContent", "Home", new { area = "", id = "production" }, null)
            }
        </li>
        <li>
            @if (ViewBag.CurrentPage == "documents")
            {
                <text>статьи и документация</text>
            }
            else
            {
                @Html.ActionLink("статьи и документация", "SiteContent", "Home", new {area = "", id = "documents"}, null)
            }
        </li>
        <li>
            @if (ViewBag.CategoryLevel == "buildingRoot")
            {
                <text>объекты и решения</text>
            }
            else
            {
                @Html.ActionLink("объекты и решения", "Buildings", "Home", new { area = "" }, new { @class = ViewBag.CategoryLevel == "building" ? "active" : "" })
            }
        </li>
        <li>
            @if (ViewBag.CurrentPage == "wheretobuy")
            {
                <text>где купить</text>
            }
            else
            {
                @Html.ActionLink("где купить", "SiteContent", "Home", new {area = "", id = "wheretobuy"}, null)
            }
        </li>
        <li>
             @if (ViewBag.CurrentPage == "about")
             {
                 <text>о компании</text>
             }
             else
             {
                 @Html.ActionLink("о компании", "SiteContent", "Home", new {area = "", id = "about"}, null)
             }
        </li>
    </ul>
</div>
