<div id="mainMenu">
    <ul>
        <li>
            @if (ViewBag.CategoryLevel == "technologyRoot")
            {
                <text>технологии</text>
            }
            else
            {
                @Html.ActionLink("технологии", "Technologies", "Home", new { area = "" }, new { @class = ViewBag.CategoryLevel == "technology"?"active":"" })
            }
        </li>
        <li>
            @Html.ActionLink("продукция", "SiteContent", "Home", new { area = "", id = "production" }, null)
        </li>
        <li>
            @Html.ActionLink("статьи и документация", "SiteContent", "Home", new { area = "", id = "documents" }, null)
        </li>
        <li>
            @Html.ActionLink("объекты и решения", "Technologies", "Home", new { area = "" }, null)
        </li>
        <li>
            @Html.ActionLink("где купить", "SiteContent", "Home", new { area = "", id = "wheretobuy" }, null)
        </li>
        <li>
            @Html.ActionLink("о компании", "SiteContent", "Home", new { area = "", id = "about" }, null)
        </li>
    </ul>
</div>
