@model SpaceGame.UI.Models.LoginModel

@{
    ViewBag.Title = "LogIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="logo">
    @Html.ActionLink("The Small Space Game","Index","Home")
</div>
<div class="loginForm authorizeForm">
    <div class="error">
    @Html.ValidationSummary()
        </div>

    @using (Html.BeginForm())
    {
        <table>
            <tr>
                <td class="title">@Html.LabelFor(model => model.Email)</td>
                <td>@Html.EditorFor(model => model.Email)</td>
            </tr>
            <tr>
                <td class="title">@Html.LabelFor(model => model.Password)</td>
                <td>@Html.EditorFor(model => model.Password)</td>
            </tr>
            <tr>
                <td></td>
                <td style="text-align: left; padding-top: 10px;">
                    <input type="submit" value="login" />        
                </td>
            </tr>
        </table>
    
    }
</div>


