@model SiteExtensions.Menu
<div class="mainMenu">
    <ul>
    @foreach(var item in Model)
    {
        
        <li>
            @Html.ActionLink(item.Title, "Index", "Home", new { category = item.ContentName }, new { @class = item.Current? "current":"" })
            @if (Request.IsAuthenticated)
            {
                <span>
                    @Html.Raw(Html.ActionLink("[IMAGE]", "Edit", "Category", new { area = "Admin", id = item.ContentId }, new { @class = "adminLink adminLinkImage" }).ToString().Replace("[IMAGE]", ""))
                </span>
            }
        </li>
        
    }
    </ul>
    
    @*<ul>
        <li>
            @Html.ActionLink("Сайты", "Index", "Home", new { category = "sites" }, new { @class = "current" })
            @if (Request.IsAuthenticated)
            {
                <span>
                    @Html.Raw(Html.ActionLink("[IMAGE]", "Edit", "Category", new { area = "Admin", id = 1 }, new { @class = "adminLink adminLinkImage" }).ToString().Replace("[IMAGE]", ""))
                </span>
            }
        </li>
        <li><a href="#">Фирменные стили</a></li>
        <li><a href="#">Рекламные материалы</a></li>
    </ul>*@
    @if (Request.IsAuthenticated)
    {
        @Html.ActionLink("добавить раздел", "Create", "Category", new { area = "Admin" }, new { @class = "adminLink" })
    }
</div>
