@model Kiki.DataAccess.Entities.Content

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@section AdminNavigation
{
    @Html.Partial("Menu", "Content")
}

<div class="container">
    <h3>Редактирование страницы контента</h3>
    @using (Html.BeginForm("Edit", "Content", FormMethod.Post, new { role = "form", @class = "form-horizontal", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Title, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                <input type="text" class="form-control" name="Title" id="Title" placeholder="Введите заголовок" value="@Model.Title">
            </div>
            @Html.ValidationMessageFor(model => model.Title)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.TitleEng, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                <input type="text" class="form-control" name="TitleEng" id="TitleEng" placeholder="Введите заголовок" value="@Model.TitleEng">
            </div>
            @Html.ValidationMessageFor(model => model.TitleEng)
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.MenuTitle, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                <input type="text" class="form-control" name="MenuTitle" id="MenuTitle" placeholder="Введите заголовок" value="@Model.MenuTitle">
            </div>
            @Html.ValidationMessageFor(model => model.MenuTitle)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.MenuTitleEng, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                <input type="text" class="form-control" name="MenuTitleEng" id="MenuTitleEng" placeholder="Введите заголовок" value="@Model.MenuTitleEng">
            </div>
            @Html.ValidationMessageFor(model => model.MenuTitleEng)
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                <input type="text" class="form-control" name="Name" id="Name" placeholder="Введите идентификатор" value="@Model.Name">
                <p class="help-block">Отображается как часть адреса в строке браузера. Должен быть уникальным. Если оставить пустым, то значение будет взято из поля "Заголовок" и транслитерировано в латинские символы.</p>
            </div>
            @Html.ValidationMessageFor(model => model.Name)
        </div>
        
      
        
        <div class="form-group">
            @Html.LabelFor(model => model.SortOrder, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                <input type="text" class="form-control" name="SortOrder" id="SortOrder" placeholder="Введите порядок отображения" value="@Model.SortOrder">
            </div>
            @Html.ValidationMessageFor(model => model.SortOrder)
        </div>
        
        
        
        @*<div class="form-group">
            @Html.LabelFor(model => model.Text, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                <textarea class="form-control ckeditor" rows="3" name="Text">@Model.Text</textarea>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.TextEng, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                <textarea class="form-control ckeditor" rows="3" name="TextEng">@Model.TextEng</textarea>
            </div>
        </div>*@
         <div class="form-group">
            <label class="col-sm-2 control-label">Изображения</label>
            <div class="col-sm-10">
                @Html.Partial("InputImages")
            </div>
        </div>
         <div class="form-group">
            @Html.LabelFor(model => model.SeoDescription, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                <textarea class="form-control" rows="3" name="SeoDescription">@Model.SeoDescription</textarea>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.SeoKeywords, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                <textarea class="form-control" rows="3" name="SeoKeywords">@Model.SeoKeywords</textarea>
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.SeoText, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                <textarea class="form-control" rows="3" name="SeoText">@Model.SeoText</textarea>
            </div>
        </div>
        <div class="form-group">
            @Html.ActionLink("Назад", "Index", "Content", null, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                <button type="submit" class="btn btn-success">Сохранить</button>
            </div>
        </div>
    }
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @*<script type="text/javascript" src="/Controls/ckeditor/ckeditor.js"></script>*@
    @*<script type="text/javascript" src="/Controls/ckeditor/adapters/jquery.js"></script>*@
}
