@model HavilaTravel.Models.Content

@{
    ViewBag.Title = "AddSubmenu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Добавление подраздела</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
@{
Html.EnableClientValidation();
    }

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    @Html.Hidden("parentId")
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.ContentType)
    @Html.HiddenFor(model => model.ContentLevel)
    @Html.HiddenFor(model => model.PlaceKind)
    <div class="adminEditContentContainer">
        <table class="adminEditContentTable">
            <tr>
                <td>@Html.LabelFor(model => model.Name)<br />
                    <span style="font-size: 11px;">(только имя, латиницей, без указания расширения)</span>
                </td>
                <td>
                    @Html.EditorFor(model => model.Name)
                    @Html.ValidationMessageFor(model => model.Name)
                </td>
            </tr>
            @*<tr>
                <td>@Html.LabelFor(model => model.ContentModel)</td>
                <td>

                    @Html.DropDownList("ContentModel", new List<SelectListItem> { new SelectListItem { Text = "---", Value = "0" }, new SelectListItem { Text = "Страна", Value = "1" }, new SelectListItem { Text = "Город", Value = "2" }, new SelectListItem { Text = "Отель", Value = "3" }, new SelectListItem { Text = "SPA-курорт", Value = "4" } })
                    </td>
            </tr>*@
            <tr>
                <td>
                    @Html.LabelFor(model => model.PageTitle)
                </td>
                <td>
                    @Html.EditorFor(model => model.PageTitle)
                    @Html.ValidationMessageFor(model => model.PageTitle)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Title)
                </td>
                <td>
                    @Html.EditorFor(model => model.Title)
                    @Html.ValidationMessageFor(model => model.Title)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.MenuTitle)
                </td>
                <td>
                    @Html.EditorFor(model => model.MenuTitle)
                    @Html.ValidationMessageFor(model => model.MenuTitle)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.SortOrder)
                </td>
                <td>@Html.EditorFor(model => model.SortOrder)
                    @Html.ValidationMessageFor(model => model.SortOrder)
                </td>
            </tr>
            <tr>
                <td colspan="2">
                @Html.TextAreaFor(model => model.Text, new { @class = "ckeditor" })
                    @Html.ValidationMessageFor(model => model.Text)
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: center">
                    Для поисковых систем
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.SeoDescription)
                </td>
                <td>@Html.EditorFor(model => model.SeoDescription)
                    @Html.ValidationMessageFor(model => model.SeoDescription)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.SeoKeywords)
                </td>
                <td>
                    @Html.EditorFor(model => model.SeoKeywords)
                    @Html.ValidationMessageFor(model => model.SeoKeywords)
                </td>
            </tr>
        </table>
        <div class="buttonsContainer">
            <input type="submit" value="Сохранить" />
            <a href="#" onclick="javascript:history.back();">Отмена</a>
        </div>
    </div>
}

@section Includes
{
    <script type="text/javascript" src="/Scripts/MicrosoftAjax.js"></script>
    <script type="text/javascript" src="/Scripts/MicrosoftMvcValidation.js"></script>
    <script type="text/javascript" src="/Controls/ckeditor/ckeditor.js"></script>
    <script type="text/javascript" src="/Controls/ckeditor/adapters/jquery.js"></script>
}

