@using Ego
@using SiteExtensions.Graphics
@model Ego.Models.OrderModel
@{
    ViewBag.Title = "OrderDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section MainMenu
{
    @Html.Partial("MainMenu", Model.Menu)
}
<h2>
    Информация о заказе</h2>
<table>
    <tr>
        <td>
            Дата
        </td>
        <td>@Model.Order.Date
        </td>
    </tr>
    <tr>
        <td>
            Имя
        </td>
        <td>@Model.Order.Name
        </td>
    </tr>
    <tr>
        <td>
            Телефон
        </td>
        <td>@Model.Order.Phone
        </td>
    </tr>
    <tr>
        <td>
            Электропочта
        </td>
        <td>@Model.Order.Email
        </td>
    </tr>
    <tr>
        <td>
            Размер
        </td>
        <td>@Model.Order.Size
        </td>
    </tr>
    <tr>
        <td>
            Дополнительный комментарий
        </td>
        <td>@Model.Order.Description
        </td>
    </tr>
</table>
<div class="display-field">
    @Html.Raw(Html.CachedImage("~/Content/Images/", @Model.Order.ProductImageSource, SiteSettings.GetThumbnail("product")))
</div>
