@model IEnumerable<Posh.Models.MenuItem>
<ul>
    @foreach (var item in Model.OrderBy(m => m.SortOrder).Where(m => !m.MainPage))
    {
        //string className = item.Selected ? "selected" : "";
        <li>
            @if (Request.IsAuthenticated)
            {
                @Html.ActionLink("редактировать", "Edit", "Content", new { Area = "Admin", id = item.Id }, new { @class = "adminLink mainMenuAdminLink" })
                if (!item.Static)
                {
                     @Html.ActionLink("удалить", "Delete", "Content", new { Area = "Admin", id = item.Id }, new { @class = "adminLink mainMenuAdminLink deleteMainMenuAdminLink" })
                }
            }
            @if (item.Current)
            {
                <div class="selected">@item.Title</div>
            }
            else
            {
                string className = item.Selected ? "current" : "";
                @Html.ActionLink(item.Title, "Index", "Home", new { Area = "", id = item.Name }, new { @class = className })
            }
        </li>
    }
    @if (Request.IsAuthenticated)
    {
        <li>
            @Html.ActionLink("добавить", "Create", "Content", new { Area = "Admin" }, new { @class = "adminLink mainMenuAdminLink" })
        </li>
    }
</ul>
