@model IEnumerable<Listelli.Models.Subscriber>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="adminContentContainer">
    
    
    
    Status:  @ViewBag.EmailSendingStatus
    
    
    <br/>
    @Html.ActionLink("Stop email sending","StopEmailSending") 
    | 
    @Html.ActionLink("Start email sending","StartEmailSending") 
    

    <table>
        <tr>
            <th>
                Email
            </th>
            <th>
                Active
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.OrderBy(s=>s.Email)) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Active)
                </td>
                <td>
                    @Html.ActionLink("Редактировать", "Edit", new { id=item.Id },new{@class="adminLink"})
                </td>
            </tr>
        }

    </table>
</div>