@model Rakurs.Models.CatalogueViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Text
{
    @if (Model.Category != null && (!string.IsNullOrEmpty(Model.Category.Title) || !string.IsNullOrEmpty(Model.Category.Text)))
    {
        <div id="bottomText" class="contentText">
            @if (!string.IsNullOrEmpty(Model.Category.Title))
            {
                <div class="title">
                    @Model.Category.Title</div>
                <div class="separator">
                </div>
            }
            @if (!string.IsNullOrEmpty(Model.Category.Text))
            {
                @Html.Raw(Model.Category.Text)
            }
        </div>
    }
}
@section Catalogue
{
    <div id="galleryContent">
        <div class="title">
        @if (Request.IsAuthenticated)
        {
            <div class="adminLinksStaticContainer abs categotyTitle">
                @Html.Raw(Html.ActionLink("[Image]", "Add", "Category", new { area = "Admin", id = Model.Category.Id }, new { @class = "pictureLinkSubItem addSubItem", title = "Добавить подкатегорию" }).ToString().Replace("[Image]", ""))
            </div>
            }

            @Model.Category.Title
        </div>
        @if (Model.SubcategoriesMenu != null && Model.SubcategoriesMenu.Count > 0)
        {
            @Html.Partial("CategorySubMenu", Model.SubcategoriesMenu)
        }
        @if (Model.SubCategory != null && Model.SubCategory.ProductAttributes != null && Model.SubCategory.ProductAttributes.Count > 0)
        {
            @Html.Partial("CategoryAttributeFilter", Model.SubCategory.ProductAttributes)
        }
        <div id="gallery">
            @foreach (var product in Model.Products)
            {
                @Html.Partial("Product", product)
            }
            <div class="clear">
            </div>
        </div>
    </div>
}
