@using SiteExtensions.Graphics
@using Vip
@model IEnumerable<Vip.Models.Category>
@{
    ViewBag.Title = "Разделы";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="adminContentContainer">
    <table class="adminEditContentTable">
        <tr>
            <td colspan="2">
                <h2>
                    Разделы</h2>
            </td>
        </tr>
        <tr>
            <th>
                Изображение
            </th>
            <th>
                Заголовок
            </th>
            <th>
                Веб-имя страницы
            </th>
            <th>
                Порядок отображения
            </th>
            <th>
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.Raw(Html.CachedImage("~/Content/Images/", item.ImageSource, SiteSettings.GetThumbnail("adminCategoryThumbnail"), ScaleMode.Corp))
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SortOrder)
                </td>

                <td>
                    @Html.ActionLink("Редактировать", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Удалить", "Delete", new { id = item.Id }, new { onclick = "return confirm('Удаление раздела возможно только если в нем нет изображений. Вы действительно хотите удалить данный раздел?')" })
                </td>
            </tr>
        }
        <tr>
            <td colspan="2">
                <p>
                    @Html.ActionLink("Добавить раздел", "Create")
                </p>
            </td>
        </tr>
    </table>
</div>
