@using SpaceGame.DataAccess
@using SpaceGame.UI.Helpers
@model SpaceGame.UI.Models.FacilityViewModel

@{
    ViewBag.Title = "Facilities";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Title
{
    <div class="mainTitle">
        Facilities
    </div>
}

@section Header
{
    @Html.Partial("_Header", Model)
}

@section Planets
{

}

@section Menu
{
    @Html.Partial("Menu")
}


@section Footer
{
    <div class="footer">
        footer
    </div>
}

@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    @Html.Partial("ErrorMessage", Model.ErrorMessage)
}

<table class="facilities">

    @foreach (var item in Model.PlanetFacilities)
    {
        var upgradeFacilityCostMetal = UpgrageFacilityCost.Cost((short)(item.Level + 1), (long)item.Facility.MetalCost);
        var upgradeFacilityCostCrystal = UpgrageFacilityCost.Cost((short)(item.Level + 1), (long)item.Facility.CrystalCost);
        var upgradeFacilityCostDeiterium = UpgrageFacilityCost.Cost((short)(item.Level + 1), (long)item.Facility.DeiteriumCost);
        
        
        <tr>
            <td class="title">@item.Facility.Name</td>
            <td>level:@item.Level</td>
            <td>upgrage to level @(item.Level + 1) costs: 
                @upgradeFacilityCostMetal.FormatResourcesAmount() metal 
                @upgradeFacilityCostCrystal.FormatResourcesAmount() crystal 
                @upgradeFacilityCostDeiterium.FormatResourcesAmount() deiterium. 
                Upgrade time: @UpgradeTime.Caclulate(upgradeFacilityCostMetal, upgradeFacilityCostCrystal, 0, 0,(short)(item.Level + 1)).FormatUpgradeTime()</td>
            <td>
                @if (item.IsUpdating)
                {
                    <span class="disabled">Upgrade</span>
                }
                else
                {
                    @Html.ActionLink("Upgrade", "Upgrade", "Facility", new { id = item.FacilityId }, null)    
                }
                
            </td>
            <td>
                @*@if (item.IsUpdating)
                {
                    @Html.Hidden("updateFinish", item.UpdateFinish)
                }*@
                
                <input type="hidden" id="updateFinish" value="@item.UpdateFinish.ToLocalTime().ToString("R")"/>
                <span id="remainingTime"></span>
            </td>
        </tr>
    }

</table>
