@using Listelli.App_LocalResources
@using Listelli.Helpers
<div class="userInfoArea">
    @GlobalRes.LoggedIn <span class="userName">@WebSession.GetUserName(User.Identity.Name)</span>
    <br/>
    <span class="logOut">
        ( @Html.ActionLink(@GlobalRes.LogOut, "LogOff", "Customer", new { area = "FactoryCatalogue" }, null) )    
    </span>
    @if (Roles.IsUserInRole(User.Identity.Name, "Administrators"))
{
    <div class="adminLinkContainer">
        @Html.ActionLink("Зарегистрированные пользователи", "Index", "Customer", new {area = "Admin"}, new {@class = "adminLink"})
    </div>
}
    <div class="shortLine"></div>
</div>

