@model IEnumerable<Shop.Models.Product>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<h2>
    Поиск</h2>
@using (Html.BeginForm("Index", "Search", FormMethod.Get))
{
    <table>
        <tr>
            <td>
                Код товара
            </td>
            <td>
                @Html.TextBox("productId")
            </td>
        </tr>
        <tr>
            <td>
                Название
            </td>
            <td>
                @Html.TextBox("productName")
            </td>
        </tr>
        @*<tr>
            <td>
            </td>
            <td>
            </td>
        </tr>*@
    </table>
    <p>
        <input type="submit" value="Поиск" />
    </p>
}
<table>
    <tr>
        <th>
            Уникальнй идентификатор
        </th>
        <th>
            Название
        </th>
        <th>
            Бренд
        </th>
        <th>
            Категория
        </th>
        <th>
            Новый
        </th>
        <th>
            Специальное предложение
        </th>
        <th>
            Опубликован
        </th>
        <th>
            Цена
        </th>
        <th>
            Старая цена
        </th>
        <th>
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsNew)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsSpecialOffer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Published)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OldPrice)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "Product", new { id = item.Id }, null) |
                @Html.ActionLink("Details", "Details", "Product", new { id = item.Id }, null) |
                @Html.ActionLink("Удалить", "Delete", "Product", new { id = item.Id }, new { onclick = "return confirm('Удалить товар?')" })
            </td>
        </tr>
    }
</table>
