@using SiteExtensions.Graphics
@using Vip
@using Vip.Models
@model Vip.Models.ProjectViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="projects">
    @Html.Partial("_ProjectsTitle", Model.Project)
    <div class="projectDetailsContainer">
        <div class="shadowLeft">
        </div>
        <div class="shadowRight">
        </div>
        <div class="separator">
        </div>
        @if (Request.IsAuthenticated)
        {
            <div>
                @Html.ActionLink("Добавить изображение", "AddImage", "Project", new { area = "Admin", id = Model.Project.Id }, new { @class = "adminLink" })
            </div>
        }
        <div class="title">
            @Model.Project.Title
        </div>
        <div class="picture">
            <a href="#" id="pictureLink" class="fancyImage">
                <img src="" alt="" id="pictureContainer" />
            </a>
        </div>
        <div class="previews">
            <div class="previewsContainer">
                <ul id="galleryPreviews" class="jcarousel-skin-tango">
                    @{
                        var cnt = 0;
                        foreach (var item in Model.Project.ProjectImages)
                        {
                            if (cnt == 0)
                            {
                                @Html.Raw(
                                    "<script type=\"text/javascript\">" +
                                    "$(\"#pictureContainer\").attr(\"src\", \"" + GraphicsHelper.GetCachedImage("~/Content/Images/", item.ImageSource, SiteSettings.GetThumbnail("projectBigImage"), ScaleMode.Corp, false) + "\");" +
                                    "$(\"#pictureLink\").attr(\"href\", \"/Content/Images/" + item.ImageSource + "\");" +
                                    "</script>");
                            }
                            cnt++;
                            <li>
                                <div class="preview"  onclick="setImage('@item.ImageSource')">
                                    @if (Request.IsAuthenticated)
                                    {
                                        @Html.ActionLink("Удалить", "DeleteImage", "Project", new { area = "Admin", id = item.Id }, new { @class = "adminLink abs", onclick = "return confirm('Удалить изображение?')" })
                                    }
                                    @Html.Raw(Html.CachedImage("~/Content/Images/", item.ImageSource, SiteSettings.GetThumbnail("projectDetailsPreviewThumbnail"), ScaleMode.Corp))
                                </div>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
    @if (!string.IsNullOrEmpty(Model.Project.Description) || !string.IsNullOrEmpty(Model.Project.DescriptionTitle))
    {
        @Html.Partial("AboutModel", new AboutModel {Title = Model.Project.DescriptionTitle, Text = Model.Project.Description})
    }
    @if (Request.IsAuthenticated)
    {
        <div style="text-align: center; margin-top: 100px;">
        @Html.ActionLink("Редактировать страницу", "Edit", "Project", new { area = "Admin", id = Model.Project.Id }, new { @class = "adminLink" })
        </div>
    }
</div>
@section Includes
{
    <script type="text/javascript">

        $(function () {
            $('#galleryPreviews').jcarousel({ 'scroll': 1 });
            $(".fancy").fancybox({ hideOnContentClick: true, showCloseButton: false, cyclic: true, showNavArrows: false, padding: 0, margin: 0, centerOnScroll: true });
        });

        function setImage(path) {
            $("#pictureContainer").attr("src", "/ImageCache/projectBigImage/" + path);
            $("#pictureLink").attr("href", "/Content/Images/" + path);
        }
      
    </script>
}
