@model Kulumu.Models.Category
@{
    ViewBag.Title = "Редактирование категории";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<div class="adminContentContainer">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)
        <table class="adminEditContentTable">
            <tr>
                <td colspan="2">
                    <h2>
                        Редактирование категории</h2>
                </td>
            </tr>
              <tr>
                <td>
                    @Html.LabelFor(model => model.Name)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.Name)
                    @Html.ValidationMessageFor(model => model.Name)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Title)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.Title)
                    @Html.ValidationMessageFor(model => model.Title)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Description)
                </td>
                <td>
                    @Html.TextAreaFor(model => model.Description,new{rows=12})
                    @Html.ValidationMessageFor(model => model.Description)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.BottomDescriptionTitle)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.BottomDescriptionTitle)
                    @Html.ValidationMessageFor(model => model.BottomDescriptionTitle)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.BottomDescription)
                </td>
                <td>
                    @Html.TextAreaFor(model => model.BottomDescription, new { rows = 12 })
                    @Html.ValidationMessageFor(model => model.BottomDescription)
                </td>
            </tr>
             <tr>
                <td>
                    @Html.LabelFor(model => model.ShowOnMainPage)
                </td>
                <td>
                    @Html.CheckBoxFor(model => model.ShowOnMainPage)
                    @Html.ValidationMessageFor(model => model.ShowOnMainPage)
                </td>
            </tr>
            
        </table>
        <div class="buttonsContainer">
            <input type="submit" value="Сохранить" />
            @Html.ActionLink("Назад", "Gallery", "Home", new { area = "", id = Model.Name }, null)
        </div>
    }
</div>
