@using System.Linq
@using Leo
@using SiteExtensions.Graphics
@model Leo.Models.Category
@{
    ViewBag.Title += "Просмотр категории";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@section AdminNavigation
{
    <ul class="nav nav-tabs" role="tablist">
        <li>@Html.ActionLink("Контент главной страницы", "Index", "SpecialContent", new { area = "Admin" }, null)</li>
        <li class="active">@Html.ActionLink("Категории", "Index", "Category", new { area = "Admin" }, null)</li>
        @*<li>@Html.ActionLink("Новости", "Index", "Article", new { area = "Admin" }, null)</li>*@
    </ul>
}

@if (TempData["errorMessage"] != null)
{
    <div style="text-align: center">
        <h4><span class="label label-danger">@TempData["errorMessage"]</span>    </h4>
    </div>
}

<h3>Разделы категории "@Model.Title"</h3>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SortOrder)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Text)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsCorrectLang)
        </th>
        <th></th>
    </tr>

    @foreach (var product in Model.Products.OrderBy(p => p.SortOrder))
    {
        <tr>
            <td style="white-space: nowrap">
                <span class="category-level-indicator level2"></span>
                @if (product.IsContentPage)
                {
                    <span class="product-indicator label label-primary">@product.Name</span>
                }
                else
                {
                    <span class="product-indicator label label-info">@product.Name</span>
                }
            </td>
            <td>@product.SortOrder</td>
            <td>@product.Title</td>
            <td>
                @foreach (var image in product.ProductImages)
                {
                    <div style="float: left; margin: 0 3px">
                        <div style="position: absolute">@Html.ActionLink("Удалить", "DeleteImage", "Product", new { id = image.Id }, new { @class = "adminLink", onclick = "return confirm('Удалить изображение?')" })</div>
                        @Html.Raw(Html.CachedImage("~/Content/Images/", image.ImageSource, SiteSettings.GetThumbnail("productImageAdminPreview")))
                    </div>
                }

            </td>
            <td>
                @if (!product.IsCorrectLang)
                {
                    <span class="label label-danger">!</span>
                }
                else
                {
                    <span class="label label-success">ok</span>
                }
            </td>
            <td>
                @Html.ActionLink("Редактировать", "Edit", "Product", new { id = product.Id }, null) |
                @Html.ActionLink("Добавить текстовый блок", "Create", "ProductTextBlock", new { id = product.Id }, null) |
                @Html.ActionLink("Удалить", "Delete", "Product", new { id = product.Id }, new { onclick = "return confirm('Удалить продукт?')" })
            </td>
        </tr>
        
        foreach (var textBlock in product.ProductTextBlocks.OrderBy(c => c.SortOrder))
                    {
                        
                        <tr>
                        <td style="white-space: nowrap">
                            
                        </td>
                        <td style="padding-left: 40px;">@textBlock.SortOrder</td>
                        <td style="padding-left: 40px;">@textBlock.Title</td>
                            <td>

                                @foreach (var image in textBlock.ProductTextBlockFiles)
                                {
                                    <div style="float: left; margin: 0 3px; width: 200px; height: 110px;">
                                        <div style="float: left; margin-right: 5px">
                                            @Html.Raw(Html.CachedImage("~/Content/Images/", image.ImageSource, SiteSettings.GetThumbnail("productImageAdminPreview")))
                                        </div>
                                        @Html.ActionLink("Редактировать", "Edit", "ProductTextBlockFile", new { id = image.Id }, new { @class="adminLink"})
                                        <br/>
                                        @Html.ActionLink("Удалить", "Delete", "ProductTextBlockFile", new { id = image.Id }, new { @class="adminLink" ,onclick = "return confirm('Удалить файл?')" })
                                        <br/>
                                        @image.FileName
                                        
                                        
                                    </div>
                                }
                                <div class="clear"></div>
                            </td>
                        <td>
                            @if (!textBlock.IsCorrectLang)
                            {
                                <span class="label label-danger">!</span>
                            }
                            else
                            {
                                <span class="label label-success">ok</span>
                            }
                        </td>
                        <td>
                            @Html.ActionLink("Редактировать", "Edit", "ProductTextBlock", new { id = textBlock.Id }, null) |
                            @Html.ActionLink("Добавить ячейки", "Create", "ProductTextBlockFile", new { id = textBlock.Id }, null) |
                            @Html.ActionLink("Удалить", "Delete", "ProductTextBlock", new { id = textBlock.Id }, new { onclick = "return confirm('Удалить продукт?')" })
                        </td>
                    </tr>
                    }
    }
</table>
