@using System.Linq
@using Leo
@using SiteExtensions.Graphics
@model System.Collections.Generic.IEnumerable<Leo.Models.Category>

@{
    ViewBag.Title += "Категории";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@section AdminNavigation
{
    <ul class="nav nav-tabs" role="tablist">
        <li>@Html.ActionLink("Контент главной страницы", "Index", "SpecialContent", new { area = "Admin" }, null)</li>
        <li class="active">@Html.ActionLink("Категории", "Index", "Category", new { area = "Admin" }, null)</li>
        @*<li>@Html.ActionLink("Новости", "Index", "Article", new { area = "Admin" }, null)</li>*@
    </ul>
}

@if (TempData["errorMessage"] != null)
{
    <div style="text-align: center">
    <h4><span class="label label-danger"> @TempData["errorMessage"]</span>    </h4>
        </div>
}


   


<h3>Категории</h3>

<p>
    @Html.ActionLink("Добавить категорию", "Create")
</p>
<table class="table">
    @*<table class="table">*@
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.SortOrder)*@
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Text)
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.IsCorrectLang)*@
        </th>
        <th></th>
    </tr>
    @{
        var cnt = 0;
    }
    @foreach (var item in Model)
    {
       if (item.CategoryLevel == 0&&cnt!=0)
        {
            <tr >
                <td style="height: 10px; background-color: #ccc" colspan="6"></td>
            </tr>
        }
        
        <tr class="item">
            <td>
                @if (item.CategoryLevel > 0)
                {
                    string categoryLevel = "level" + item.CategoryLevel;
                    <span class="category-level-indicator @categoryLevel"></span>
                }
                @if (item.Products.Any())
                {
                    <span class="label label-info">@item.Name</span>
                }
                else
                {
                    @item.Name
                }
                
            </td>
            <td>
                @item.SortOrder
            </td>
            <td>
                @item.Title 
            </td>
            <td>
                <div class="adminTextContainer">@Html.Raw(item.Text)</div>
            </td>
            <td>
                @if (!item.IsCorrectLang)
                {
                    <span class="label label-danger">!</span>
                }
                else
                {
                    <span class="label label-success">ok</span>
                }
            </td>
            <td>
                @Html.ActionLink("Редактировать", "Edit", "Category", new { id = item.Id }, null) |
                @if (!item.Children.Any())
                {
                    @Html.ActionLink("Удалить", "Delete", "Category", new { id = item.Id }, new { onclick = "return confirm('Удалить категорию?')" }) <text>|</text>
                }
                
                
                @if (item.IsNewsCategory)
                {
                    @Html.ActionLink("Добавить новость", "Create", "Article", new { id = item.Id }, null)
                }
                else
                {
                    @Html.ActionLink("Добавить подкатегорию", "Create", "Category", new { id = item.Id }, null) <text>|</text>
                    @Html.ActionLink("Добавить раздел", "Create", "Product", new { id = item.Id }, null) 
                }
            </td>
        </tr>
        
        

                foreach (var product in item.Products.OrderBy(p=>p.SortOrder))
                {
                    <tr>
                        <td style="white-space: nowrap">
                            <span class="category-level-indicator level2"></span>
                            @if (product.IsContentPage)
                            {
                                <span class="product-indicator label label-primary">@product.Name</span>
                            }
                            else
                            {
                                <span class="product-indicator label label-info">@product.Name</span>
                            } 
                        </td>
                        <td>@product.SortOrder</td>
                        <td>@product.Title</td>
                        <td>
                            @foreach (var image in product.ProductImages)
                            {
                                <div style="float: left; margin: 0 3px">
                                    <div style="position: absolute">@Html.ActionLink("Удалить", "DeleteImage", "Product", new { id = image.Id }, new { @class="adminLink" ,onclick = "return confirm('Удалить изображение?')" })</div>
                                    @Html.Raw(Html.CachedImage("~/Content/Images/", image.ImageSource, SiteSettings.GetThumbnail("productImageAdminPreview")))
                                </div>
                            }

                        </td>
                        <td>
                            @if (!product.IsCorrectLang)
                            {
                                <span class="label label-danger">!</span>
                            }
                            else
                            {
                                <span class="label label-success">ok</span>
                            }
                        </td>
                        <td>
                            @Html.ActionLink("Редактировать", "Edit", "Product", new { id = product.Id }, null) |
                            @Html.ActionLink("Удалить", "Delete", "Product", new { id = product.Id }, new { onclick = "return confirm('Удалить продукт?')" })
                        </td>
                    </tr>
                }


                foreach (var article in item.Articles.OrderByDescending(a=>a.Date))
                {
                    <tr>
                        <td>
                            <span class="category-level-indicator level2"></span>
                            @if (article.Published)
                            {
                                <span class="product-indicator label label-success">@article.Date.ToShortDateString()</span>
                            }
                            else
                            {
                                <span class="product-indicator label label-danger">@article.Date.ToShortDateString()</span>
                            }
                        </td>
                        <td>
                        </td>
                        <td>@article.Title</td>
                        <td>
                            <div class="adminTextContainer">
                                @Html.Raw(article.Description)
                            </div>
                            
                            
                        </td>
                        <td>
                            @if (!article.IsCorrectLang)
                            {
                                <span class="label label-danger">!</span>
                            }
                            else
                            {
                                <span class="label label-success">ok</span>
                            }
                        </td>
                        <td>
                            @Html.ActionLink("Редактировать", "Edit", "Article", new { id = article.Id }, null) |
                            @Html.ActionLink("Добавить блок новостей", "Create", "ArticleItem", new { id = article.Id }, null) |
                            @*@Html.ActionLink("Добавить блок изображений", "AddImagesBlock", "Article", new { id = article.Id }, null) |*@
                            
                            @if (!article.ArticleItems.Any())
                            {
                                @Html.ActionLink("Удалить", "Delete", "Article", new { id = article.Id }, new { onclick = "return confirm('Удалить новость?')" })
                            }
                        </td>
                    </tr>

                    foreach (var articleItem in article.ArticleItems.OrderBy(i=>i.SortOrder))
                    {
                        <tr>
                            <td></td>
                            <td>@articleItem.SortOrder</td>
                            
                            <td colspan="2">
                                <div>
                                    <div class="adminTextContainer">@Html.Raw(articleItem.Text)</div>
                                    
                                </div>
                                <div>
                                    @foreach (var image in articleItem.ArticleItemImages)
                                          {
                                              <div style="float: left; margin: 0 3px">
                                                  @Html.Raw(Html.CachedImage("~/Content/Images/", image.ImageSource, SiteSettings.GetThumbnail("articleItemImagePreview")))
                                                  <br />
                                                  @Html.ActionLink("Удалить", "DeleteImage", "ArticleItem", new { id = image.Id }, new { onclick = "return confirm('Удалить изображение?')" })
                                              </div>
                                          }
                                </div>
                            </td>
                            <td>
                            @if (!articleItem.IsCorrectLang)
                            {
                                <span class="label label-danger">!</span>
                            }
                            else
                            {
                                <span class="label label-success">ok</span>
                            }
                        </td>
                            <td>
                                @Html.ActionLink("Редактировать", "Edit", "ArticleItem", new { id = articleItem.Id }, null) |
                                @Html.ActionLink("Удалить", "Delete", "ArticleItem", new { id = articleItem.Id }, new { onclick = "return confirm('Удалить блок?')" })
                            </td>
                        </tr>
  
                    }
                }
        cnt++;

    }

</table>
