@using Shop
@using Shop.Helpers
@using SiteExtensions.Graphics
@model IEnumerable<Shop.Models.OrderItem>
<table>
    <tr>
        <th>
            Название
        </th>
        <th>
            
        </th>
        <th>
            Цена
        </th>
        <th>
            Код продукта
        </th>
        <th>
            Количество
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.Raw(Html.CachedImage("~/Content/Images/", item.ImageSource, SiteSettings.GetThumbnail("thumb0")))
                
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
        </tr>
    }
</table>
