@using System.Globalization
@model IEnumerable<Shop.Models.Order>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@Html.ActionLink("Выйти из системы администрирования", "LogOff", "Account", new { area = "" }, new { @class = "adminLink" })
&nbsp;
&nbsp;
&nbsp;
@Html.ActionLink("В магазин", "Index", "Home", new { area = "" }, new { @class = "adminLink" })


<h2>Заказы</h2>

<table>
    <tr>
        <th>
            Обработан
        </th>
        <th>
            Дата
        </th>
        <th>
            Имя
        </th>
        <th>
            Телефон
        </th>
        <th>
            Адрес доставки
        </th>
        <th>
            Email
        </th>
        <th>
            Количество товаров
        </th>
        <th>
            Общая стоимость
        </th>
        <th>
            Информация
        </th>
        <th></th>
        <th></th>
    </tr>

@foreach (var item in Model.OrderBy(o=>o.Complited  )) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Complited)
        </td>
        <td>
            @item.OrderDate.ToString(CultureInfo.GetCultureInfo("ru-RU"))
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeliveryAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.Raw(item.OrderItems.Sum(oi => oi.Quantity).ToString())
        </td>
        <td class="dec">
            @Html.Raw(item.OrderItems.Sum(oi=>oi.Quantity*oi.Price).ToString("N"))
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Info)
        </td>
        <td>
            @Html.ActionLink("Просмотр", "Details", new { id=item.Id })
        </td>
        <td>
            @Html.ActionLink("Удалить", "Delete", new { id=item.Id },new{onclick="return confirm('Удалить заказ?')"})
        </td>
   </tr>
}

</table>
