@model IEnumerable<Shop.Models.ProductAttribute>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@{
    
    if (ViewBag.ErrorMessage!=null)
    {
        <div class="errorMessage">
        @Html.Raw(ViewBag.ErrorMessage)
        </div>
    }
}
<h2>Атрибуты</h2>

<p>
    @Html.ActionLink("Добавить новую запись", "Create")
</p>
<table>
    <tr>
        <th>
            Название
        </th>
        <th>
            Тип значения
        </th>
        <th>
            Отображать в кратком описании
        </th>
        <th>
            Порядок отображения
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.OrderBy(a=>a.SortOrder)) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ValueType)
        </td>
        <td>
            @Html.Raw(item.ShowInCommonView ? "да" : "нет")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SortOrder)
        </td>
        <td>
           @Html.ActionLink("Редактировать", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Значения", "ProductAttributeValues", new { id = item.Id }) |
            @Html.ActionLink("Удалить", "Delete", new { id = item.Id },new{onclick="return confirm('Удалить атрибут? При удалении атрибута будут также удалены все значения данного атрибута в т.ч. и в продуктах!')"})
        </td>
    </tr>
}

</table>
