@using Shop.WebSite
@using Shop.WebSite.App_LocalResources
@using Shop.WebSite.Helpers
@using Shop.WebSite.Models
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic|PT+Sans+Narrow:400,700|PT+Sans+Caption&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <link href="@Url.Content("~/Content/fancybox/jquery.fancybox-1.3.4.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/jquery.bxslider.css")" rel="stylesheet" type="text/css" />
    
    @Styles.Render("~/Content/css/bootstrap.min.css")
    @Styles.Render("~/Content/css/bootstrap-select.min.css")

    @Styles.Render(
            "~/Content/css/main.css?v=" + SiteSettings.Version,
            "~/Content/css/content.css?v=" + SiteSettings.Version,
            "~/Content/css/site.css?v=" + SiteSettings.Version,
            "~/Content/css/header.css?v=" + SiteSettings.Version,
            "~/Content/css/menu.css?v=" + SiteSettings.Version,
            "~/Content/css/menu-categories.css?v=" + SiteSettings.Version,
            "~/Content/css/site-title.css?v=" + SiteSettings.Version,
            "~/Content/css/special-offer.css?v=" + SiteSettings.Version,
            "~/Content/css/article.css?v=" + SiteSettings.Version,
            "~/Content/css/catalogue.css?v=" + SiteSettings.Version,
            "~/Content/css/product-details.css?v=" + SiteSettings.Version,
            "~/Content/css/support.css?v=" + SiteSettings.Version,
            "~/Content/css/category.css?v=" + SiteSettings.Version,
            "~/Content/css/cart.css?v=" + SiteSettings.Version,
            "~/Content/css/order.css?v=" + SiteSettings.Version,
            "~/Content/css/order-thanking.css?v=" + SiteSettings.Version,
            "~/Content/css/pager.css?v=" + SiteSettings.Version,
            "~/Content/css/footer.css?v=" + SiteSettings.Version
            )

    @Scripts.Render("~/bundles/jquery")

    @Scripts.Render(
            //"~/Scripts/jquery-1.11.1.min.js",
            "~/Scripts/jquery-ui.min.js",
                     "~/Scripts/bootstrap.min.js",
                     "~/Scripts/bootstrap-select.js",
            "~/Scripts/main.js?v=" + SiteSettings.Version)

    @Scripts.Render("~/Scripts/jquery.bxslider.min.js")
    @Scripts.Render("~/Content/fancybox/jquery.fancybox-1.3.4.js")
    @Scripts.Render("~/Scripts/cart.js?v=" + SiteSettings.Version)
    @Scripts.Render("~/Scripts/ordervalidation.js?v=" + SiteSettings.Version)
    @Scripts.Render("~/Scripts/feedbackformvalidation.js?v=" + SiteSettings.Version)
    

    @RenderSection("includes", required: false)

    @RenderSection("scripts", required: false)




    <script type="text/javascript">
        $(function () {
            $('.selectpicker').selectpicker();


            $('select.selectpicker').on('change', function () {
                var selected = $('.selectpicker option:selected').attr("value");
                $("#sortOrder").val(selected);
                this.parentNode.parentNode.submit();
            });

            $('.bxsliderArticleItemImages').bxSlider({
                mode: 'fade',
                //auto: autostart,
                pause: 5000,
                speed: 500,
                pager: false,
                nextSelector: '#slider-next',
                prevSelector: '#slider-prev',
                nextText: '',
                prevText: ''
            });

            $('#mainImages').bxSlider({
                mode: 'fade',
                auto: true,
                pause: 5000,
                speed: 1000,
                pager: false
            });

        })
    </script>



</head>


    <body>
        @RenderSection("Layout",false)

        @if (TempData["errorMessage"] != null)
        {
            <div style="text-align: center">
                <h4><span class="label label-danger">@TempData["errorMessage"]</span>    </h4>
            </div>
        }

        @RenderSection("Error", false)


        <div id="header-outer">


            <div id="header-inner">
                <div id="header">
                    <div id="logo-small"></div>
                    @if (Request.IsAuthenticated)
                    {
                        <div style="position: absolute; padding-top: 10px; padding-left: 50px">
                            <a href="@Url.Action("Index", "Category", new { area = "Admin" })">
                                <button type="button" class="btn btn-danger btn-xs">@GlobalRes.Adminisration</button></a>
                        </div>
                    }
                    <div id="user-greeting">
                        @*Здравствуйте, <span><a href="#">Игорь Толмацкий</a></span>!*@
                    </div>

                    @*@Html.Raw(Html.ActionLink("[LINK]","Index","Cart",null,new{id="cart-icon"}).ToString().Replace("[LINK]","<div id=\"cart-items-count\">"+ WebSession.OrderItems.Sum(o => o.Value.Quantity)+"</div>"))*@

                    <a href="@Url.Action("Index", "Cart", null)" id="cart-icon">
                        <div id="cart-items-count" class="@(WebSession.OrderItems.Sum(o => o.Value.Quantity) > 0 ? "show" : "")" >@WebSession.OrderItems.Sum(o => o.Value.Quantity)</div>
                    </a>

                    @*<a href="cart.html" id="cart-icon">*@
                    @*<div id="cart-items-count">@WebSession.OrderItems.Sum(o => o.Value.Quantity)</div>*@
                    @*</a>*@
                    <div class="socials">
                        <div class="social instagram">
                        </div>
                        <div class="social fb">
                            <a href="https://www.facebook.com/activeland.kiev"></a>
                        </div>
                        @*<div class="social vk">
                    </div>*@
                    </div>

                    @using (Html.BeginForm("Search","Home",new{area=""},FormMethod.Get))
                    {
                        <div id="search-wrapper">
                            <div id="search-icon"></div>
                            <input id="search-input" name="q" type="text" placeholder="Я ищу..." value="@ViewBag.Q">
                        </div>
                    }
                    <div id="phone-panel">
                        <div class="worktime">
                            пн-пт: 10:00-20:00<br/>
                            сб-вс: 10:00-18:00
                        </div>
                        <div class="phone">
                            (097) 765-36-10,    
                        </div>
                        <div class="skype"><a href="skype:active-land">active-land</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="page">
            @RenderBody()
        </div>

        <div id="footer">
            <div id="footer-inner">
                <div id="copyright">
                    &copy; 2014<br>
                    Active Land
                </div>
                <div id="em-studio">
                    Сделано в
                    <br>
                    <a href="http://eugene-miller.com">Студии Евгения Миллера</a>
                </div>
            </div>
        </div>
        <script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-62318091-1', 'auto');
            ga('send', 'pageview');

</script>
    </body>
</html>
