<div class="presentationMenu">
    <div class="menuItem pictures-lib">
        <div class="title">
            @if (ViewBag.CurrentItem == "picture-lib")
            {
                @Html.Raw("Библиотека изображений")
            }
            else
            {
                @Html.ActionLink("Библиотека изображений", "Index", "Category", new { area = "Presentation" }, null)
            }
        </div>
    </div>
    
        <div class="menuItem survey-lib">
            <div class="title">
                @if (Roles.IsUserInRole(User.Identity.Name, "Administrators"))
                {
                     if (ViewBag.CurrentItem == "survey")
                     {
                         <text>Библиотека опросников</text>
                     }
                     else
                     {
                         @Html.ActionLink("Библиотека опросников", "Index", "Survey")
                     }
                }
                else
                {
                    @*<text>Опросник</text>*@
                }
            </div>
        </div>
    
    <div class="menuItem customer-area">
        <div class="title">
            @if (Roles.IsUserInRole(User.Identity.Name, "Administrators"))
            {
                @Html.ActionLink("Раздел заказчика", "Index", "Customer")
            }
            else
            {
                @Html.ActionLink("Раздел заказчика", "Details", "UserCabinet", new { id = User.Identity.Name }, null)
            }
        </div>
    </div>
    @if (Roles.IsUserInRole(User.Identity.Name, "Administrators"))
    {
        <div class="menuItem notes">
            <div class="title inactive">
                Мои статьи и записи</div>
        </div>
    }
    <div class="clear">
    </div>
</div>
