@using Shop.DataAccess.Entities
@model IEnumerable<Shop.DataAccess.Entities.ProductAttribute>

@{
    ViewBag.Title = "Атрибуты товара";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";

    var productValues = ((IEnumerable<ProductAttributeValue>)ViewBag.ProductAttributeValues).ToList();
}

@section AdminNavigation
{
    @Html.Partial("Menu", "Product")
}

<div class="container">
    <h3>Атрибуты товара</h3>
    <h3>@ViewBag.ProductTitle</h3>
    @using (Html.BeginForm("Attributes", "Product", FormMethod.Post, new { role = "form", @class = "form-horizontal" }))
    {
        @Html.Hidden("productId", (int)ViewBag.ProductId)
        <table class="table table-striped">
            <tr>
                <th>Название
                </th>
                <th>Тип значения
                </th>
                <th>Значение
                </th>

            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UnitTitle)
                    </td>
                    <td>
                        @if (item.IsStatic)
                        {
                            var attrValue = item.ProductAttributeStaticValues.FirstOrDefault(v => v.ProductId == ViewBag.ProductId);
                            string value = attrValue != null ? attrValue.Title : "";
                            @Html.TextBox("tb_" + item.Id, value, new { @class = "form-control" })
                        }
                        else
                        {
                            foreach (var attributeValue in item.ProductAttributeValues.OrderBy(a => a.Title))
                            {
                                @Html.CheckBox("attr_" + attributeValue.Id, productValues.Contains(attributeValue))
                                @attributeValue.Title
                                @Html.Raw("&nbsp;&nbsp;&nbsp;")
                            }
                        }
                    </td>
                </tr>
            }

        </table>
        <div class="form-group">
            @Html.ActionLink("Назад", "Index", "Product", new{page=ViewBag.Page}, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                <button type="submit" class="btn btn-success">Сохранить</button>
            </div>
        </div>
    }

</div>
