@model IEnumerable<Shop.DataAccess.Entities.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@section AdminNavigation
{
    @Html.Partial("Menu", "Product")
}

<p>
    @*<button type="button" class="btn btn-success btn-sm">*@
        @Html.ActionLink("Добавить", "Create")
    @*</button>*@
</p>
<table class="table table-striped">
    <tr>
        <th>Категория
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SeoDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SeoKeywords)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SeoText)
        </th>
        <th style="width: 1px">
            @Html.DisplayNameFor(model => model.IsCorrectLang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsNew)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsDiscount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsTopSale)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OldPrice)
        </th>
        <th>Кол-во изобр.
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td class="adminTextContainer">
                <div>
                    @Html.DisplayFor(modelItem => item.Description)
                </div>
            </td>
            <td class="adminTextContainer">
                <div>
                    @Html.DisplayFor(modelItem => item.SeoDescription)
                </div>
            </td>
            <td class="adminTextContainer">
                <div>
                    @Html.DisplayFor(modelItem => item.SeoKeywords)
                </div>
            </td>
            <td class="adminTextContainer">
                <div>
                    @Html.DisplayFor(modelItem => item.SeoText)
                </div>
            </td>
            <td>
                @if (!item.IsCorrectLang)
                {
                    <span class="label label-danger">!</span>
                }
                else
                {
                    <span class="label label-success">ok</span>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsNew)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDiscount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsTopSale)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OldPrice)
            </td>
            <td>
                @item.ProductImages.Count()
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.ActionLink("Редактировать", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Атрибуты", "Attributes", new { id = item.Id }) |
                @Html.ActionLink("Изображения", "Index", "ProductImage", new { id = item.Id }, null) |
                @Html.ActionLink("Удалить", "Delete", new { id = item.Id }, new { onclick = "return confirm('Удалить товар?')" })
            </td>
        </tr>
    }

</table>
