<div id="galleryContent">
    <div class="title">
        Лестничные марши</div>
    @Html.Partial("CategorySubMenu")
    @Html.Partial("CategoryFilter")
    <div id="gallery">
        @Html.Partial("GalleryItem")
        @Html.Partial("GalleryItem")
        @Html.Partial("GalleryItem")
        @Html.Partial("GalleryItem")
        @Html.Partial("GalleryItem")

        
        
        <div class="clear">
        </div>
    </div>
</div>
