@using Rakurs.Helpers
@using Rakurs.Models
@model IEnumerable<Rakurs.Models.Product>
@{
                    //var image = Model.FirstOrDefault();
}
<script type="text/javascript">
    $(function () {
        $('#galleryImageContainer').tinycarousel();
    });
</script>
@{
                string sloganClassName = SiteSettings.Language == Language.Ru ? "" : "en";
            }
<div id="slogan" class="@sloganClassName">
    @*От проекта &mdash; до монтажа:*@
</div>
<div id="galleryFrameContainer">
    <div class="border">
    </div>
    <div id="galleryFrame">
        <div id="galleryImageContainer">
            <a class="buttons prev" href="#"></a><a class="buttons next" href="#"></a>
            <ul class="overview">
                @foreach (var image in Model)
                {
                    <li>
                        <table id="galleryImageContainerFooter">
                            <tr>
                                <td id="path">
                                    @*@Html.ActionLink("Галерея", "Categories", "Home", new { id = "" }, new { @class = "fancy", id = "catalogueLink" })
                                    @Html.Raw(" &raquo; ")*@
                                    @foreach (var pathItem in image.Path)
                                    {
                                        @Html.ActionLink(pathItem.Title, "Index", "Catalogue", new { category = pathItem.ParentName, subCategory = pathItem.Name }, null)
                                        @Html.Raw(" &raquo; ")
                                    }
                                    <span style="font-family: PFBeauSansProSemiBold">@Html.Raw(SiteSettings.Language == Language.Ru ?image.Title:image.TitleEng)</span>
                                </td>
                                <td id="description">@Html.Raw(SiteSettings.Language == Language.Ru ? image.Description:image.DescriptionEng)
                                </td>
                            </tr>
                        </table>
                        @{
                    var fancyTitle = "<table class=\"fancyTitleContainer\"><tr><td class=\"path\">" +  image.Path.First().ParentName + " &raquo; " + (SiteSettings.Language == Language.Ru ? image.Title : image.TitleEng) + "</td><td class=\"descr\">" + (SiteSettings.Language == Language.Ru ? image.Description : image.DescriptionEng) + "</td></tr></table>";
                        }
                        <a rel="@Html.Raw("group1")" href="../../Content/Images/@image.ImageSource" class="fancyImage" title="@fancyTitle">
                        @Html.Raw(Html.CachedImage("~/Content/Images/", image.ImageSource, "mainFrameThumbnail", ScaleMode.Auto, true))
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>
    <div class="border">
    </div>
</div>
