@model Rakurs.Models.Menu
<div id="mainMenu">
    <table>
        <tr>
            @foreach (var item in Model.Where(m => !m.IsMainPage).OrderBy(m => m.SortOrder))
            {
                <td class="mainMenuItem">
                    
                    
                    <div class="adminLinksContainer">
                        @Html.Raw(Html.ActionLink("[Image]", "Edit", "Content", new { area = "Admin", id = item.ContentId }, new { @class = "pictureLink edit", title = "Редактировать" }).ToString().Replace("[Image]", ""))
                        @if (item.IsGalleryMenuItem)
                        {
                            @Html.Raw(Html.ActionLink("[Image]", "Add", "Category", new { area = "Admin" }, new { @class = "pictureLinkSubItem addSubItem", title = "Добавить категорию" }).ToString().Replace("[Image]", ""))
                        }
                        else
                        {
                            @Html.Raw(Html.ActionLink("[Image]", "Delete", "Content", new { area = "Admin", id = item.ContentId }, new { @class = "pictureLink delete", title = "Удалить", onclick = "return confirm('Вы действительно хотите удалить страницу')" }).ToString().Replace("[Image]", ""))
                        }
                        
                    </div>

                    @if (item.IsGalleryMenuItem)
                    {
                        @Html.ActionLink(item.Title, "Categories", "Home", new { id = item.ContentName }, new { @class = "fancy ", id = "catalogueLink" });
                    }
                    else
                    {
                        @Html.ActionLink(item.Title, "Index", "Home", new { id = item.ContentName }, new { @class = item.Selected ? "selected" : "" })
                    }
                </td>
            }
        </tr>
    </table>
</div>
