@using Filimonov.Models
@model Filimonov.Models.Customer
@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Presentation/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_PresentationMenu")
<div class="category-title">
    <h1>@Model.Title</h1>
</div>
<div>
    @foreach (var item in Model.ProductSets.OrderBy(ps=>ps.Title))
    {
        <div>
            @item.Title
            
            @if (Roles.IsUserInRole(User.Identity.Name, "Administrators"))
            {
                @Html.ActionLink("Редактировать", "EditProductSet", "UserCabinet", new { id = item.Id }, new { @class = "adminLink" })
                @Html.Raw("&nbsp")
                @Html.ActionLink("Удалить", "DeleteProductSet", "UserCabinet", new { id = item.Id }, new { @class = "adminLink", onclick="return confirm('Удалить запись?')" })
            }
        </div>
    }
    @if (Roles.IsUserInRole(User.Identity.Name, "Administrators"))
    {
        <br/>
        @Html.ActionLink("Добавить ассоциативный ряд", "AddProductSet", "UserCabinet", new { id = Model.Name }, new { @class = "adminLink" })
    }
</div>

<div class="layouts-filter">
    @{
        var layouts = (IEnumerable<Layout>)ViewBag.Layouts;
    }
    <ul>
        @foreach (var item in layouts)
        {
            if (ViewBag.Layout == item.Name || (string.IsNullOrEmpty(item.Name) && string.IsNullOrEmpty(ViewBag.Layout)))
            {
            <li>@item.Title</li>
            }
            else
            {
            <li>@Html.ActionLink(item.Title, "Details", "Category", new { id = Model.Name, layout = item.Name }, null)</li>
            }

        }
    </ul>
</div>
