@using Dev.Mvc.Helpers
@using HavilaTravel.Models
@model HavilaTravel.Models.PlaceViewModel
@if (Model.Spa != null)
{
    @Html.Raw(Model.Spa.Text)
}
else if (Model.PlaceReview != null)
{
    @Html.Raw(Model.PlaceReview.Text)
}
else if(Model.PriceTable!=null)
{
    @Html.Raw(Model.PriceTable.Text)
}
else
{
    @Html.Raw(Model.Content.Text)
}
@section ContentTitle{
}
@section CountrySelectors
{
    <div style="height: 80px;">
        @Html.Partial("CountrySelector")
        @if (Model.RegionsAndCountries.Count > 0)
        {
            @Html.Partial("CountryBox", Model.RegionsAndCountries)
        }

        @if (Model.PlacesForSelector != null && Model.PlacesForSelector.Count > 0)
        {
            @Html.Partial("PlacesSelector", Model.PlacesForSelector)
        }
        
        @if (Model.ResortsForSelector != null && Model.ResortsForSelector.Count > 0)
        {
            @Html.Partial("ResortSelector", Model.ResortsForSelector)
        }
    </div>
}
@section Accordion
{
<div class="clear"></div>
    <div id="accordionContainer">
        @if (Model.Spa != null)
        {
            @Html.Partial("Accordion", Model.Spa.Accordions)
        }
        else if (Model.PlaceReview != null)
        {
            @Html.Partial("Accordion", Model.PlaceReview.Accordions)
        }
        else if (Model.PriceTable != null)
        {
            @Html.Partial("Accordion", Model.PriceTable.Accordions)
        }
        else
        {
            @Html.Partial("Accordion", Model.Content.Accordions)
        }
    </div>
}
@section MainBanner
{
    <div id="slideshow">
        @foreach (var banner in Model.MainBanners)
        {
            @Html.Raw(Html.CachedImage("~/Content/Banners/", banner.ImageSource, "mainBanner", banner.Title, banner.Price, banner.ContentName))
        }
    </div>
}
@section SmallBannerLeft
{
    @if (Model.LeftBanner != null)
    {
        @Html.Partial("BannerSmall", Model.LeftBanner)
    }
}
@section SmallBannerRight
{
    @if (Model.RightBanner != null)
    {
        @Html.Partial("BannerSmall", Model.RightBanner)
    }
}
@section SubMenu
{
    @Html.Partial("PlacesMap", Model.PlacesMap)
    <div id="contentTitle">
        
        
        @if(Model.PlaceKind==PlaceKind.PriceTable||Model.PlaceKind==PlaceKind.SpaInfo||Model.PlaceKind==PlaceKind.PlacesReview)
        {
            @Html.ActionLink(Model.Content.Title, "Index", "Place", new { id = Model.Content.Name }, null)
        }
        else
        {
            @Model.Content.Title
        }
        
        @if (Request.IsAuthenticated)
    {
        <div style="text-align:center">
        @Html.ActionLink("Редактировать", "Edit", "Content", new { Area = "Admin", id = Model.Content.Id }, new { @class = "adminLink" })
        </div>
    }
    </div>
    
    @Html.Partial("PlacesSubMenu", Model.Content)
}
@section LeftSubMenu
{

    @if(Request.IsAuthenticated && Model.Content.PlaceKind==(int)PlaceKind.City)
        {
            <div class="adminLinkContainer">
                 @Html.ActionLink("+Отель", "AddSubmenu", "Content", new { Area = "Admin", id = Model.Content.Id, placeKind = 5 }, new { @class = "adminLink" })
            </div>
        }
        
        @if(Request.IsAuthenticated && Model.Content.PlaceKind==(int)PlaceKind.Resort)
        {
            <div class="adminLinkContainer">
                 @Html.ActionLink("+Курорт", "AddSubmenu", "Content", new { Area = "Admin", id = Model.Content.Id, placeKind = 5 }, new { @class = "adminLink" })
            </div>
        }

    @if (Model.LeftSubMenuItems != null && Model.LeftSubMenuItems.Count > 0)
    {
        @Html.Partial("PlacesLestSubMenu", Model.LeftSubMenuItems)
    }
}
@section RootLogoLink
{
    @if (!Model.IsRoot)
    {
        <a href="/" class="rootLink">
            <img src="../../Content/img/pixel.gif" /></a>
    }
}
@section QuickSearch
{
    @if (!Model.IsRoot)
    {
        @Html.Partial("QuickSearch")
    }
}

@section MainMenu
{
    @{
        var menu = Model.MenuList.Where(m => m.MenuLevel == 1).Select(m => m).FirstOrDefault();
    @Html.Partial("MainMenu", menu)
    }
}
@section HeaderLeftMenu
{
    @Html.Partial("HeaderLeftMenu", Model.HeaderLeftMenuItems)
}
@section BellBoy
{
    @if (Model.Bellboy != null)
    {
        <div id="bellboyContainer">
            @Html.Partial("Bellboy", Model.Bellboy)
        </div>
    }
}