@using Dev.Mvc.Helpers
@using HavilaTravel.Models
@model HavilaTravel.Models.Content
@if (ViewBag.Spa != null)
{
    @Html.Raw(((Content)ViewBag.Spa).Text)
}
else if (ViewBag.Review != null)
{
    @Html.Raw(((Content)ViewBag.Review).Text)
}
else
{
    @Html.Raw(Model.Text)
}
@section ContentTitle{

}
@section Accordion
{
    <div id="accordionContainer">
        @if (ViewBag.Spa != null)
        {
            @Html.Partial("Accordion", ((Content)ViewBag.Spa).Accordions)
        }
        else if (ViewBag.Review != null)
        {
            @Html.Partial("Accordion", ((Content)ViewBag.Review).Accordions)
        }
        else
        {
            @Html.Partial("Accordion", Model.Accordions)
        }
    </div>
}
@section MainBanner
{
    @{
        var banners = ((List<Banner>)ViewBag.MainBanners);
    }
    <div id="slideshow">
        @foreach (var banner in banners)
        {
                
            @Html.Raw(Html.CachedImage("~/Content/Banners/", banner.ImageSource, "mainBanner", banner.Title, banner.Price))
                
        }
    </div>
}
@section SmallBannerLeft
{
    @if (ViewBag.LeftBanner != null)
    {
        @Html.Partial("BannerSmall", (Banner)ViewBag.LeftBanner)
    }
}
@section SmallBannerRight
{
    @if (ViewBag.RightBanner != null)
    {
        @Html.Partial("BannerSmall", (Banner)ViewBag.RightBanner)
    }
}
@section SubMenu
{
    @Html.Partial("PlacesMap")
     <div id="contentTitle">
        @Model.Title
    </div>
    @Html.Partial("PlacesSubMenu", Model)
}
@section CountryBox
{
    @Html.Partial("CountryBox")
    @Html.Partial("PlacesSelector")
    
}
@section LeftSubMenu
{
    @Html.Partial("PlacesLestSubMenu")
}
@section CountrySelector
{
    @Html.Partial("CountrySelector")
}
