@model IEnumerable<Shop.DataAccess.Entities.ProductAttributeValue>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@section AdminNavigation
{
   @Html.Partial("Menu","ProductAttribute")
}

<p>
    <h3>Значения атрибута &laquo;@ViewBag.ProductAttributeTitle&raquo; </h3>
</p>

<p>
    <button type="button" class="btn btn-success btn-sm">@Html.ActionLink("Добавить", "Create", new{id=(int)ViewBag.ProductAttributeId})</button>
</p>

<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            Тег
        </th>
        <th></th>
    </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @if (item.ProductAttributeValueTag != null)
                {
                    @Html.Raw(item.ProductAttributeValueTag.Title);
                }
            </td>
            <td>
                @Html.ActionLink("Редактировать", "Edit", new { id=item.Id}) | 
                @Html.ActionLink("Удалить", "Delete", new { id=item.Id,productAttributeId=item.ProductAttributeId }, new { onclick = "return confirm('Удалить значение атрибута?')" })
            </td>
        </tr>
    }
</table>

@Html.ActionLink("Назад к списку атрибутов","Index","ProductAttribute")
