@using Posh.Helpers
@model Posh.Models.CatalogueModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Title
{
    <div class="catalogue">
        <div class="title">
            @Html.ActionLink(Model.Content.Title, "Index", "Albums", new { id = "" }, null)
        </div>
        <div class="filter">
            Показать категори<br />
            Показать элементы
        </div>
        <div class="clear">
        </div>
    </div>
}
@section SeoTitle
{
    @if (!string.IsNullOrEmpty(Model.Content.SeoTitle))
    {
        <div class="title seo">
            @Model.Content.SeoTitle
        </div>
    }
}
@section SeoContent
{
    @if (!string.IsNullOrEmpty(Model.Content.SeoText))
    {
        <div class="content seo">
            @Model.Content.SeoText
        </div>
    }
}
@section Content
{
    @if (!string.IsNullOrEmpty(Model.Content.Text))
    {
        <div class="content">
            @Model.Content.Text
        </div>
    }
}
@{
    <div id="productsContainer">
        <div id="productsAlbumTitle">
            &raquo; @Model.Album.Title
        </div>
        @Html.ActionLink("Новый элемент", "Create", "Product", new { Area = "Admin", id = Model.Album.Id }, new { @class = "adminLink" })
        <div id="products">
            @foreach (var image in Model.Album.Products)
            {
                <div class="productItem">
                    <div class="adminLinksContainer">
                        @Html.ActionLink("Удалить", "Delete", "Product", new { id = image.Id }, new { @class = "adminLink" })
                        @Html.ActionLink("Сделать обложкой альбома", "SetDefault", "Product", new { id = image.Id }, new { @class = "adminLink", onclick = "return confirm('Сделать обложкой альбома?')" })
                    </div>
                    @Html.Raw(Html.CachedImage("~/Content/Images/", image.ImageSource, "thumbnail0", ScaleMode.Corp))
                </div>
            }
            <div id="lastProductItem" class="productItem">
                &raquo; @Html.ActionLink("В меню", "Index", "Albums", new { id = "" }, null)
            </div>
        </div>
    </div>
   
}
