@using Posh.Helpers
@model Posh.Models.CatalogueModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Includes
{
    <link href="@Url.Content("~/Content/Catalogue.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/fancybox/jquery.fancybox-1.3.4.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Content/fancybox/jquery.fancybox-1.3.4.js")" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            $(".fancy").fancybox({ titlePosition: 'inside', showCloseButton: true, cyclic: false, showNavArrows: true, padding: 0, margin: 0, centerOnScroll: true });
        });
    </script>
}
@section Title
{
    <div class="catalogue">
        <div class="title">
            @Html.ActionLink(Model.Content.Title, "Index", "Albums", new { id = "" }, null)
        </div>
        <div class="filter">
            @Html.Partial("_Filter")
        </div>
        <div class="clear">
        </div>
    </div>
}
@section SeoTitle
{
    @if (!string.IsNullOrEmpty(Model.Content.SeoTitle))
    {
        <div class="title seo">
            @Model.Content.SeoTitle
        </div>
    }
}
@section SeoContent
{
    @if (!string.IsNullOrEmpty(Model.Content.SeoText))
    {
        <div class="content seo">
            @Html.Raw(Model.Content.SeoText)
        </div>
    }
}
@section Content
{
    @if (!string.IsNullOrEmpty(Model.Content.Text))
    {
        <div class="content">
            @Html.Raw(Model.Content.Text)
        </div>
    }
}
@{
    <div id="productsContainer">
        <div id="productsAlbumTitle">
            &raquo; @Model.Album.Title
        </div>
        @if (Request.IsAuthenticated)
        {
            @Html.ActionLink("Новый элемент", "Create", "Product", new {Area = "Admin", id = Model.Album.Id}, new {@class = "adminLink"})
            <br /><br />
        }
        <div id="products">
            @foreach (var image in Model.Album.Products.Where(p=>!p.Hidden))
            {
                <div class="productItem">
                @if (Request.IsAuthenticated)
                 {
                     <div class="adminLinksContainer">
                         @Html.ActionLink("Редактировать", "Edit", "Product", new {Area = "Admin", id = image.Id}, new {@class = "adminLink"})<br/>
                         @Html.ActionLink("Удалить", "Delete", "Product", new { Area = "Admin", id = image.Id }, new { @class = "adminLink", onclick = "return confirm('Удалить изображение?')" })<br/>
                         @Html.ActionLink("Сделать обложкой альбома", "SetDefault", "Product", new {Area = "Admin", id = image.Id}, new {@class = "adminLink", onclick = "return confirm('Сделать обложкой альбома?')"})
                     </div>
                 }
                    <a rel="@Html.Raw("group" + Model.Album.Id)" href="../../../Content/Images/@image.ImageSource" title="@image.Title" class="fancy">
                    @Html.Raw(Html.CachedImage("~/Content/Images/", image.ImageSource, "thumbnail0", ScaleMode.Corp))
                    </a>
                </div>
            }
            <div id="lastProductItem" class="productItem">
                &raquo; @Html.ActionLink("В меню", "Index", "Albums", new { id = "" }, null)
            </div>
            <div class="clear">
        </div>
        </div>
    </div>
   
}