@using Posh.Helpers
@model Posh.Models.SiteViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Title
{
    <div class="catalogue">
        <div class="title">
            @Model.Content.Title
        </div>
        <div class="filter">
            Показать категори<br />
            Показать элементы
        </div>
        <div class="clear">
        </div>
    </div>
}
@section SeoTitle
{
    @if (!string.IsNullOrEmpty(Model.Content.SeoTitle))
    {
        <div class="title seo">
            @Model.Content.SeoTitle
        </div>
    }
}
@section SeoContent
{
    @if (!string.IsNullOrEmpty(Model.Content.SeoText))
    {
        <div class="content seo">
            @Model.Content.SeoText
        </div>
    }
}
@section Content
{
    @if (!string.IsNullOrEmpty(Model.Content.Text))
    {
        <div class="content">
            @Model.Content.Text
        </div>
    }
}
@{
    <div id="catalogueContainer">
        @Html.ActionLink("Новый альбом", "Create", "Album", new { Area = "Admin" }, new { @class = "adminLink" })
        <div class="clear">
        </div>
        @foreach (var album in Model.Albums)
        {
            @Html.Partial("_Album", album)
        }
        
    </div>
}
