@model SiteExtensions.Menu
<ul>
    @foreach (var item in Model)
    {
        <li>
            @if (item.Current)
            {
                @Html.Raw(item.Title)
            }
            else if (item.Selected)
            {
                @Html.ActionLink(item.Title, "Category", "Home", new { area = "", id = item.ContentName }, new{@class="selected"})
            }
            else
            {
                @Html.ActionLink(item.Title, "Category", "Home", new { area = "", id = item.ContentName }, null)
            }
            @if (Request.IsAuthenticated)
            {
                <br />
                @Html.ActionLink("Редактировать", "Edit", "Category", new { area = "Admin", id = item.ContentId }, new { @class = "adminLink" })<br />
                @Html.ActionLink("Удалить", "Delete", "Category", new { area = "Admin", id = item.ContentId }, new { @class = "adminLink" })
            }
        </li>
    }
    @if (Request.IsAuthenticated)
    {
        @Html.ActionLink("Добавить категорию", "Create", "Category", new { area = "Admin" }, new { @class = "adminLink" })
    }
</ul>
