@model IEnumerable<Shop.DataAccess.Entities.QuickAdvice>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@section AdminNavigation
{
    @Html.Partial("Menu", "QuickAdvice")
}

<p>
    @*<button type="button" class="btn btn-success btn-sm">*@
        @Html.ActionLink("Добавить", "Create")
    @*</button>*@
</p>

<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Text)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsCorrectLang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Active)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SortOrder)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.OrderBy(a=>a.SortOrder)) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td class="adminTextContainer">
                <div>
                    @Html.Raw(item.Text)
                </div>
            </td>
        <td>
                @if (!item.IsCorrectLang)
                {
                    <span class="label label-danger">!</span>
                }
                else
                {
                    <span class="label label-success">ok</span>
                }
            </td>
        <td>
            @Html.DisplayFor(modelItem => item.Active)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SortOrder)
        </td>
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Удалить", "Delete", new { id=item.Id }, new { onclick = "return confirm('Удалить блок?')" })
        </td>
    </tr>
}

</table>
