@model Vip.Models.AttributeFilter
<div class="filters">
    <div class="filterItem first">
        <div class="filterItemLine">
            <table>
                <tr>
                    <td>@Html.ActionLink("Каталог", "Index", "Catalogue", new { category = "" }, null) &raquo; @Model.CurrentCategoryTitle
                    </td>
                    <td class="end">
                    </td>
                </tr>
            </table>
        </div>
    </div>
    @foreach (var item in Model)
    {
        <div class="filterItem">
            <div class="filterItemLine">
                <table>
                    <tr>
                        <td class="filterTitle">@item.Title:
                        </td>
                        <td>
                            @if (item.Attributes == null)
                            {
                                @Html.Raw("Все")
                            }
                            else
                            {
                                var cnt = 0;
                                foreach (var attr in item.Attributes)
                                {
                                    cnt++;
                                @attr.Title
                                @Html.Raw(cnt != item.Attributes.Count ? ",&nbsp" : "")
                                }
                            }
                        </td>
                        <td class="end">
                        </td>
                        <td class="changeFilterLink">
                            @Html.ActionLink("Изменить", "ShowSelector", "Catalogue", new { Area = "", selector = item.Selector }, new { @class = "fancy" })
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    }
</div>
