@model Vip.Helpers.Pager
@{
    int totalCount = Model.TotalCount;
    int pageSize = Model.PageSize;
    int pageCount = totalCount / pageSize;
    int page = (int)(ViewBag.Page ?? 0);
    pageCount += ((totalCount % pageSize) > 0) ? 1 : 0;
}
@if (totalCount > 0)
{
    <div id="pager">
        <span>
            @for (int i = 0; i < pageCount; i++)
            {
                if (i == page)
                {
                    @Html.Raw((i + 1).ToString())
                }
                else
                {
                    @Html.ActionLink((i + 1).ToString(), "Index", "Catalogue", new { page = i }, null)
                }

                if (i + 1 < pageCount)
                {
                    @Html.Raw(" ... ")
                }
            }
            

            @if (page >= 0)
            {
                
                @Html.Raw("&nbsp;")
                @Html.Raw("&nbsp;")
                @Html.ActionLink("весь список", "Index", "Catalogue", new { page = -1 }, null)
            }
            else
            {
                @Html.Raw("&nbsp;")
                @Html.Raw("&nbsp;")
                <text>весь список</text>
            }
        </span>
    </div>
}