@using SiteExtensions.Graphics
@using Vip
@using Vip.Helpers
@using Vip.Models
@model Vip.Models.CatalogueViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="catalogue">
    @Html.Partial("_LayoutsFilter", Model.LayoutFilter)
    @if (Request.IsAuthenticated)
    {
        <div>
            @Html.ActionLink("Добавить раздел", "Create", "Category", new { Area = "Admin" }, new { @class = "adminLink" })
        </div>
    }
    @if (Model.Categories != null)
    {
        <div class="mainTitle">
        </div>
        <div class="categoriesContainer">
            @foreach (var item in Model.Categories)
            {
                <div class="category">
                    <div class="img-container">
                        <div class="sign">
                            @item.Title
                        </div>
                        @Html.Raw(Html.ActionLink("[IMAGE]", "Index", "Catalogue", new { category = item.Name }, null).ToString().Replace("[IMAGE]", Html.CachedImage("~/Content/Images/", item.ImageSource, SiteSettings.GetThumbnail("catalogueThumbnail"), ScaleMode.Corp)))
                    </div>
                </div>
                
            }
            <div class="clear">
            </div>
        </div>
        
        
    }
    else
    {
        @Html.Partial("_AttributesFilter", Model.AttributesFilter)
   
        <div class="productsContainer">
            @using (Html.BeginForm("EditMany", "Product", new { area = "Admin" }, FormMethod.Post))
            {
                @Html.Hidden("categoryId", Model.Category.Id)
           if (Request.IsAuthenticated)
           {
                <div style="padding-top: 30px; padding-bottom: 20px;">
                    @Html.ActionLink("Добавить изображение", "Create", "Product", new { Area = "Admin", id = Model.Category.Id }, new { @class = "adminLink" })
                    <a style="padding-left: 30px;" href="#" class="adminLink" onclick="javascript:document.forms[0].submit();">Групповое
                        редактирование</a>
                </div>
           }
           foreach (var item in Model.Products)
           {
                <div class="product">
                    @if (Request.IsAuthenticated)
                    {
                        <div>
                            @Html.CheckBox("prod_" + item.Id)
                            @Html.ActionLink("редактировать", "Edit", "Product", new { area = "Admin", id = item.Id }, new { @class = "adminLink" })
                            @Html.ActionLink("удалить", "Delete", "Product", new { area = "Admin", id = item.Id, page = ViewBag.Page }, new { @class = "adminLink", onclick = "return confirm('Вы действительно хотите удалить изображение?')" })
                        </div>
                    }
                    <div class="img-container">
                        @{
                            //var customTitle = "<table class=\"fancyTitleContainer\"><tr><td class=\"path\">" +  image.Path.First().ParentName + " &raquo; " + (SiteSettings.Language == Language.Ru ? image.Title : image.TitleEng) + "</td><td class=\"descr\">" + (SiteSettings.Language == Language.Ru ? image.Description : image.DescriptionEng) + "</td></tr></table>";
               var customTitle = "<div class=\"customTitle\">Каталог &raquo; " + item.Category.Title + " &raquo; <span>"+item.Title+"</span>"+"</div>";
                        }
                        <a rel="@Html.Raw("group1")" href="../../Content/Images/@item.ImageSource" class="fancyImage" customtitle="@customTitle"  >
                            @Html.Raw(Html.CachedImage("~/Content/Images/", item.ImageSource, SiteSettings.GetThumbnail("catalogueThumbnail"), ScaleMode.Corp))
                        </a>
                    </div>
                    <div class="sign">
                        <span class="title">
                            @item.Title @item.Brand.Title
                        </span>
                    </div>
                </div>
           }
                <div class="clear">
                </div>
                @Html.Partial("_Paging", new Pager(Model.TotalProductsCount, SiteSettings.PageSize, (int)ViewBag.Page))
                <div class="clear">
                </div>
            }
        </div>
    }
    @if (!string.IsNullOrEmpty(Model.Category.Description) || !string.IsNullOrEmpty(Model.Category.DescriptionTitle))
    {
        @Html.Partial("AboutModel", new AboutModel { Title = Model.Category.DescriptionTitle, Text = Model.Category.Description })
    }
    @if (Request.IsAuthenticated)
    {
        <div style="text-align: center; margin-top: 100px;">
            @Html.ActionLink("Редактировать страницу", "Edit", "Category", new { area = "Admin", id = Model.Category.Id }, new { @class = "adminLink" })
        </div>
    }
</div>
