@model Filimonov.Models.Survey

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Presentation/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_PresentationMenu")
<div class="surveyDetails">
<div class="title">
    <h1>@Model.Title</h1>
    <div class="description">Создан @Model.Date.ToShortDateString(), клиент: @Html.ActionLink(Model.Customer.Title,"Details","UserCabinet",new{id= Model.Customer.Name},null)</div>
</div>
<div class="description">
    @Html.Raw(Model.Description)
</div>

<table>
    <tr>
        <th>№</th>
        <th>Вопрос</th>
        <th>Ответ</th>
        <th>Примечания</th>
    </tr>
    <tr>
        <td class="first">1</td>
        <td>Что вы думаете о ситуации в Никарагуа?</td>
        <td>3</td>
        <td>4</td>
    </tr>
</table>
</div>
