@using Filimonov
@model Filimonov.Models.Customer
@{
    ViewBag.Title = SiteSettings.PresentationTitle + " - Редактирование данных заказчика";
    Layout = "~/Areas/Presentation/Views/Shared/_Layout.cshtml";
}
<h2>Редактирование данных заказчика</h2>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<div>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.Id)
    <table class="adminEditContentTable">
        <tr>
            <td>@Html.LabelFor(model => model.Title)
            </td>
            <td>@Html.EditorFor(model => model.Title)
                @Html.ValidationMessageFor(model => model.Title)
            </td>
        </tr>
    </table>
    <div class="buttonsContainer">
        <input type="submit" value="Сохранить" />
        @Html.ActionLink("Назад", "Index")
    </div>
}
</div>