@using Shop.WebSite
@using Shop.WebSite.Helpers.Graphics
@model Shop.DataAccess.Entities.Product




<div id="product-details">
    <div id="product-images-section">
        <div class="main-view-container">
            <div class="picture">
        
                @if (Model.ProductImages.Count > 0)
                {
                    var cnt = 1;
                    foreach (var image in Model.ProductImages)
                    {
                        string imageid = "image" + image.Id;
                        string class1001 = cnt == 1 ? "class1001" : "";
                        <a id="@imageid" rel="group1" href="/Content/Images/@image.ImageSource" class="fancy pictureLink1 @class1001">
                            @*<img src="/ImageCache/projectImage/@image.ImageSource"/>*@
                            @Html.Raw(Html.CachedImage("~/Content/Images/", image.ImageSource, SiteSettings.GetThumbnail("siteProductDetailsMainImage"))) 
                        </a>

                        cnt++;
                    }
                }

       @* <a href="/Content/Images/@Model.ImageSource" rel="group1" class="fancy">
            @Html.Raw(Html.CachedImage("~/Content/Images/", Model.ImageSource, SiteSettings.GetThumbnail("siteProductDetailsMainImage")))
        </a>*@
    </div>
            </div>
        

        <div id="product-previews">
            @foreach (var image in Model.ProductImages)
            {
                <div class="preview" style="cursor: pointer" onclick="ProductCatalogue.changeImage(@image.Id) ">
                    @*<a href="/Content/Images/@image.ImageSource" rel="group1" class="fancy">*@
                        @Html.Raw(Html.CachedImage("~/Content/Images/", image.ImageSource, SiteSettings.GetThumbnail("siteProductDetailsThumbnail")))
                    @*</a>*@
                </div>
            }
            <div class="clearfix"></div>
        </div>
        <div id="support">
            <div class="info">
                Есть вопросы? &mdash; Я на связи: <a href="@SiteSettings.MailTo">написать</a> / <a href="#">позвонить</a>
            </div>
        </div>
    </div>
    <div id="product-info">
        <div class="socials">
            <div class="social instagram"></div>
            <div class="social fb">
                <a href="https://www.facebook.com/activeland.kiev"></a>
            </div>
            @*<div class="social vk"></div>*@
            <div class="clearfix"></div>
        </div>
        <div id="title-price-in-cart-section">
            <div class="title">@Model.Title</div>
            <div class="in-cart">

                @{
                    string productincarttexthidden = string.Empty;
                    string productaddtocarthidden = string.Empty;
                    if (Model.IsInCart)
                    {
                        productaddtocarthidden = "hidden";
                    }
                    else
                    {
                        productincarttexthidden = "hidden";
                    }
                }

                <div id="product-in-cart-text" class="@productincarttexthidden">
                    товар в @Html.ActionLink("корзине", "Index", "Cart", new { lang = ViewBag.CurrentLangCode }, null)
                </div>

                <div id="product-add-to-cart" class="@productaddtocarthidden">
                    <a href="#" onclick="Shop.addToCart(@Model.Id)">в корзину</a>
                </div>

            </div>
            <div class="price">@Model.Price.ToString("###,###") <sup>грн</sup></div>
        </div>
        <div class="clearfix"></div>
        <div id="description">
            @Html.Raw(Model.Description)
        </div>
        <div id="product-attributes">

            @foreach (var pruductAttribute in Model.Category.ProductAttributes)
            {
                <div class="attribute">
                    <div class="title">@pruductAttribute.Title @Html.Raw(!string.IsNullOrEmpty(pruductAttribute.UnitTitle) ? ", " + pruductAttribute.UnitTitle : "")</div>
                    <div class="value">



                        <div class="value-text">
                            @if (pruductAttribute.IsStatic)
                            {
                                foreach (var pav in Model.ProductAttributeStaticValues)
                                {
                                    if (pav.ProductAttributeId == pruductAttribute.Id)
                                    {
                                @pav.Title
                                    }
                                }
                            }
                            else
                            {
                                var cnt = 0;
                                foreach (var pav in Model.ProductAttributeValues)
                                {
                                    if (pav.ProductAttributeId == pruductAttribute.Id)
                                    {
                                        if (cnt != 0)
                                        {
                                @Html.Raw(", ")
                                        }
                                        else
                                        {
                                            if (pav.ProductAttributeValueTag != null)
                                            {
                                <span class="tag @pav.ProductAttributeValueTag.Name">@pav.ProductAttributeValueTag.Title</span>
                                            }
                                        }
                                        cnt++;
                                @pav.Title
                                    }
                                }
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
</div>



<script type="text/javascript">
    ProductCatalogue.setFirstImage();
</script>
