@using Shop.WebSite.Helpers
@using Shop.WebSite.Models
@model Shop.WebSite.Models.CatalogueModel

@{
    ViewBag.Title += " — Велокаталог";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="menu-panel">
    @Html.Partial("LanguageSwitcher")
    @Html.Raw(Html.ActionLink("[LINK]", "Index", "Home", new{id=""}, new { id = "logo" }).ToString().Replace("[LINK]", ""))
    @Html.Partial("MainMenu", new MainMenuModel { Categories = Model.Categories, Contents = Model.Contents })
</div>
<div id="main-banner">
</div>

@*<div id="main-page-banner">
    <div class="slider">
        <ul class="bxsliderProducts" id="mainImages">
            <li>
                <img src="/Content/bg/main-01.jpg" alt="" /></li>
            <li>
                <img src="/Content/bg/main-02.jpg" alt="" /></li>
            <li>
                <img src="/Content/bg/main-03.jpg" alt="" /></li>
            <li>
                <img src="/Content/bg/main-04.jpg" alt="" /></li>
        </ul>
    </div>
    
     <div id="menu-panel-main-page">
        @Html.Partial("LanguageSwitcher")
        @Html.Raw(Html.ActionLink("[LINK]", "Index", "Home", new { id = "" }, new { id = "logo" }).ToString().Replace("[LINK]", ""))
        @Html.Partial("MainMenu", new MainMenuModel { Categories = Model.Categories, Contents = Model.Contents })
    </div>
</div>*@



@Html.Partial("SiteTitle", new BreadCrumbs { new BreadCrumb { Title = Model.CurrentCategory!=null?Model.CurrentCategory.Title: "Каталог" } })

<div id="catalogue">
    
    <div class="category-previews">
    @if (Model.CurrentCategory == null)
    {
        

         foreach (var category in Model.Categories.Where(c=>c.Parent==null&&c.IsActive))
         {
            @Html.Partial("CategoryPreview", new CategoryPreview
                {
                    Title = category.Title,
                    ImageSource = category.ImageSource,
                    Name = category.Name
                })
         }
            
           
        
         
    }
    else
    {
        foreach (var category in Model.CurrentCategory.Children.Where(c=>c.IsActive))
         {
            @Html.Partial("CategoryPreview", new CategoryPreview
                {
                    Title = category.Title,
                    ImageSource = category.ImageSource,
                    Name = category.Name
                })
         }
    }
         <div class="clearfix"></div>
        </div>
    
    <div id="filters-container">
        
        @using (Html.BeginForm("Catalogue", "Home", FormMethod.Get))
        {
            <input type="hidden" name="sortBy" value="price"/>
            <input type="hidden" name="sortOrder" id="sortOrder" value=""/>
            
            <div id="price-sort-selector" class="selector">
                <select class="selectpicker">
                    
                    <option @(ViewBag.SortOrder=="asc"?"selected":"") value="asc">Сначала дешевые</option>
                    <option @(ViewBag.SortOrder=="desc"?"selected":"") value="desc">Сначала дорогие</option>
                </select>
            </div>
        }

            @foreach (var productAttribute in Model.ProductAttributes)
            {
                <div class="selector checkbox-selector">
                    <div class="title">@productAttribute.Title:</div>
                    <div class="selectors">
                        <ul>
                            @foreach (var categoryValue in productAttribute.ProductAttributeValues.OrderBy(a => a.Title))
                            {
                                <li>
                                    <input class="attribute-checkbox" @Html.Raw(Model.FilterArray.Contains(categoryValue.Id.ToString()) ? "checked" : "") filter="@CatalogueFilterHelper.GetFilterStringForCheckbox(Model.FilterArray, categoryValue.Id.ToString(), Model.FilterArray.Contains(categoryValue.Id.ToString()))" type="checkbox" id="cb_@categoryValue.Id">
                                    <label for="cb_@categoryValue.Id">@categoryValue.Title</label>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            }

        </div>
        <div id="products">
            @foreach (var product in Model.Products)
            {
                @Html.Partial("ProductPreview", new ProductPreview
                {
                    Title = product.Title,
                    Label =
                        product.IsNew ? ProductPreviewLabel.WowNew
                            : product.IsTopSale ? ProductPreviewLabel.TopSale
                                : product.IsDiscount ? ProductPreviewLabel.Discount
                                    : ProductPreviewLabel.None,
                    Price = product.Price,
                    OldPrice = product.OldPrice,
                    ImageSource = product.ImageSource,
                    Name = product.Name
                })
            }
        </div>
        <div class="clearfix"></div>

</div>
<div>
    @Html.Partial("Paging")
</div>


<div style="height: 50px"></div>
