@using Shop.DataAccess.Entities
@using Shop.WebSite.Models
@model CatalogueModel

@{
    ViewBag.Title += " — Каталог товаров  — " + (Model.Product!=null? Model.Product.Title:"");
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="menu-panel">
    @Html.Partial("LanguageSwitcher")
    @Html.Raw(Html.ActionLink("[LINK]", "Index", "Home", null, new { id = "logo" }).ToString().Replace("[LINK]", ""))
    @Html.Partial("MainMenu", new MainMenuModel { Categories = Model.Categories, Contents = Model.Contents })
</div>
<div id="main-banner">
</div>

@*@section Error
{
    @if (!string.IsNullOrEmpty(Model.ErrorMessage))
    {
        <div style="text-align: center">
            <h4><span class="label label-danger">@Model.ErrorMessage</span></h4>
        </div>
    }
}*@

@{
    var bc = new BreadCrumbs();
    if (Model.Product != null)
    {
        if (Model.Product.Category.Parent != null)
        {
            bc.Add(new BreadCrumb
            {
                Title = Model.Product.Category.Parent.Title,
                Name = Model.Product.Category.Parent.Name
            });
        }
        bc.Add(new BreadCrumb
        {
            Title = Model.Product.Category.Title,
            Name = Model.Product.Category.Name
        });
        bc.Add(new BreadCrumb
        {
            Title = Model.Product.Title
        });
    }
}

@if (Model.Product != null)
{
    @Html.Partial("SiteTitle", bc)
}

@if (Model.Product != null)
{
    @Html.Partial("_ProductDetails", Model.Product)
}
else
{
  @Html.Partial("_ProductDetails", new Product())
}



@Html.Partial("SiteTitle", new BreadCrumbs { new BreadCrumb() { Title = "К покупке пригодятся:" } })

<div id="tying-products">

    @foreach (var product in Model.Products)
    {
        @Html.Partial("ProductPreview", new ProductPreview
            {
                Title = product.Title,
                Label =
                product.IsNew ? ProductPreviewLabel.WowNew
                : product.IsTopSale ? ProductPreviewLabel.TopSale
                : product.IsDiscount ? ProductPreviewLabel.Discount
                : ProductPreviewLabel.None,
                Price = product.Price,
                OldPrice = product.OldPrice,
                ImageSource = product.ImageSource,
                Name = product.Name
            })
    }

    @*<div class="product-preview">
        <div class="image">
            <img src="img/tmp/bike-image.png">
        </div>
        <div class="discount"></div>
        <div class="title-price">
            <div class="title">
                <span>
                    <a href="#">Marin Supersized 14"</a>
                </span>
            </div>
            <div class="price">
                <span>2,330<sup>грн</sup>
                </span>
            </div>
        </div>
    </div>*@

    <div class="clearfix"></div>
</div>

<div id="banners">
    <div class="banner" id="banner1"></div>
    <div class="banner" id="banner2"></div>
</div>


@section includes
{
    <script src="@Url.Content("~/Scripts/product.js")" type="text/javascript"></script>

    <script type="text/javascript">
        ProductCatalogue.initialize();
    </script>
}