@using Mayka
@using SiteExtensions.Graphics
@model Mayka.Models.SiteModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Menu
{
    @Html.Partial("Menu", Model.Menu)
}

<div class="main-title">
    @Html.ActionLink(Model.Content.Title,"Products","Home",new{id=Model.Content.Name},null)
    
</div>


<div class="productDetails">
    @if (Request.IsAuthenticated)
    {
        @Html.ActionLink("add images", "AddProductImages", "Product", new { area = "Admin", id = Model.Product.Id }, new { @class = "adminLink" })
    }

    @if (Request.IsAuthenticated)
    {
        foreach (var image in Model.Product.ProductImages)
        {
        <div>
            @Html.Raw(Html.CachedImage("~/Content/Images/", image.ImageSource, SiteSettings.GetThumbnail("adminPreviewProductImage")))
        </div>
        }
    }
    else if (Model.Product.ProductImages.Any())
    {
        <div class="productImage">
            @Html.Raw(Html.CachedImage("~/Content/Images/", Model.Product.ProductImages.First().ImageSource, SiteSettings.GetThumbnail("productImage")))
        </div>
    }


</div>
