@using Kulumu.Models
@model GalleryModel 
@section About
{
    @Html.Partial("_About", new AboutModel { Title = Model.Category.BottomDescriptionTitle, Text = Model.Category.BottomDescription })
}

<div class="gallery">
    <div class="categories">
       @Html.Partial("_CategoriesMenu", Model.Categories)
    </div>
    <div class="title">
        @Html.Partial("_BigTitle", Model.ParentCategory.Title)
    </div>
    <div class="categories">
        @Html.Partial("_SubCategoriesMenu", new SubCategoriesMenu { Categories = Model.Categories, ParentCategoryId = Model.ParentCategory.Id })
    </div>
    @if (Request.IsAuthenticated)
    {
        <div class="adminLinkContainer">
            @Html.ActionLink("Добавить продукт", "Create", "Product", new { area = "Admin", id = Model.Category.Id }, new { @class = "adminLink" })
            @Html.ActionLink("Редактировать текущую категорию", "Edit", "Category", new { area = "Admin", id = Model.Category.Id }, new { @class = "adminLink" })
            @Html.ActionLink("Добавить размер для категории", "AddProductSize", "Category", new { area = "Admin", categoryId = Model.Category.Id }, new { @class = "adminLink" })
            @Html.ActionLink("Удалить категорию", "Delete", "Category", new { area = "Admin", id = Model.Category.Id }, new { @class = "adminLink", onclick="return confirm('Удалить категорию?')" })
        </div>
    }
    <div class="description">
        @Html.Raw(Model.Category.Description)
    </div>
    
    <div class="productSizes">
        @Html.Partial("_ProductSizeList", Model.Category.ProductSizes)
    </div>

    <div class="products">
        @Html.Partial("_ProductList", Model.Category.Products)
    </div>
</div>
