@using Listelli.App_LocalResources
@model Listelli.Models.CustomerLogOnModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="adminContentContainer">
    @Html.ActionLink(GlobalRes.Register,"Register")

    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <table class="">
            <tr>
                <td colspan="2">
                    <h2>
                        Логин</h2>
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Email)
                </td>
                <td>
                    @Html.EditorFor(model => model.Email)
                    @Html.ValidationMessageFor(model => model.Email)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Password)
                </td>
                <td>
                    @Html.EditorFor(model => model.Password)
                    @Html.ValidationMessageFor(model => model.Password)
                </td>
            </tr>
            
        </table>
        <input type="submit" value="Войти" />
    }
</div>
@section Includes
{
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
}