@model Poggen.Models.CatalogueViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Title
{
    @Model.Title
}
@section CategorySelector
{
    @Html.Partial("CategorySelector", Model.CategoriesSelectorData)
}
@if (Request.IsAuthenticated)
{
    <div>
        @Html.ActionLink("Редактировать", "Edit", "Category", new { area = "Admin", id = Model.Category.Id }, new { @class = "adminLink" })
        @if (!Model.Category.MainPage)
        {
            @Html.ActionLink("Удалить", "Delete", "Category", new { area = "Admin", id = Model.Category.Id }, new { @class = "adminLink", onclick = "return confirm('Удалить категорию?')" })
        }
    </div>
}
@Html.Raw(Model.Category.Text)
