@using Ego
@using SiteExtensions.Graphics
@model Ego.Models.SiteModel
@section MainMenu
{
    @Html.Partial("MainMenu", Model.Menu)
}
@if (Request.IsAuthenticated)
{
    <div class="adminLinkContainer">
        @Html.ActionLink("Редактировать", "Edit", "Content", new { area = "Admin", id = Model.Content.Id }, new { @class = "adminLink" })
    </div>
}
@Html.Raw(Model.Content.Text)
@if (Request.IsAuthenticated && Model.Content.Name == "gallery")
{
    @Html.ActionLink("Добавить продукт", "Create", "Product", new { area = "Admin" }, new { @class = "adminLink" })
}
@if (Model.Products != null && Model.Products.Any())
{
    @Html.Hidden("firstImageId", Model.Products.First().Id)
    @Html.Hidden("firstImageDescription", Model.Products.First().Description)
    <div class="productsContainer">
        <div class="product">
            <div class="productImage">
                <a href="#" id="zoomPictureLink" class="fancyImage">
                <img src="" alt="" id="pictureContainer" />
                </a>
                <a href="#" id="pictureLink" class="fancyPopUp"></a>
            </div>
            <div class="description">
            </div>
        </div>
        <div class="productPreviews">
            <div style="height: 360px;">
                @foreach (var product in Model.Products)
                {
                    <div class="productPreview" onclick=" ProjectCatalogue.changeImage('@product.ImageSource', @product.Id, '@Html.Raw(product.Description)', this) ">
                        
                        <div class="selectedArea"></div>
                        @if (Request.IsAuthenticated)
                        {
                            <div class="abs">
                                @Html.ActionLink("Удалить", "Delete", "Product", new { area = "Admin", id = product.Id }, new { @class = "adminLink", onclick = "return confirm('Удалить продукт?')" })
                            </div>
                        }
                        @Html.Raw(Html.CachedImage2("~/Content/Images/", product.PreviewImageSource, product.ImageSource, SiteSettings.GetThumbnail("productPreview"), product.Description))
                        
                    </div>
                     
                }
            </div>
            @Html.Partial("Paging")
        </div>
        <div class="clear">
        </div>
    </div>
}
@section Includes
{
    <script src="@Url.Content("~/Scripts/Catalogue.js")" type="text/javascript"></script>
    <script type="text/javascript">
        ProjectCatalogue.initialize();

        $(function () {
            ProjectCatalogue.setFirstImage();

            //alert("aaa");
            //$(".fancybox").fancybox();
            //alert("bbb");
        });
    </script>
}
