@model Leo.Models.ProductImage

@{
    ViewBag.Title = "AddImage";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="admin-container">

@using (Html.BeginForm("AddImage", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    @Html.Hidden("productId",(int)ViewBag.ProductId)
    <fieldset>
        <legend>Добавить изображение</legend>
        <div class="editor-field">
            <input type="file" name="fileUpload" class="photoFileInput" />
        </div>
        <div class="admin-buttons">
                <input type="submit" value="Сохранить" />
                @Html.ActionLink("Назад", "Index", "Category", new { area = "Admin" }, null)
            </div>
    </fieldset>
}

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
