@using Dev.Mvc.Helpers
@using HavilaTravel.Models
@model HavilaTravel.Models.PlaceViewModel
@if (Model.Spa != null)
{
    @Html.Raw(Model.Spa.Text)
}
else if (Model.PlaceReview != null)
{
    @Html.Raw(Model.PlaceReview.Text)
}
else
{
    @Html.Raw(Model.Content.Text)
}
@section ContentTitle{
}
@section CountrySelectors
{
    <div style="height: 80px;">
        @Html.Partial("CountrySelector")
        @if (Model.RegionsAndCountries.Count > 0)
        {
            @Html.Partial("CountryBox", Model.RegionsAndCountries)
        }
        @if (Model.PlacesForSelector != null && Model.PlacesForSelector.Count > 0)
        {
            @Html.Partial("PlacesSelector", Model.PlacesForSelector)
        }
    </div>
}
@section Accordion
{
    <div id="accordionContainer">
        @if (ViewBag.Spa != null)
        {
            @Html.Partial("Accordion", ((Content)ViewBag.Spa).Accordions)
        }
        else if (ViewBag.Review != null)
        {
            @Html.Partial("Accordion", ((Content)ViewBag.Review).Accordions)
        }
        else
        {
            @Html.Partial("Accordion", Model.Content.Accordions)
        }
    </div>
}
@section MainBanner
{
    <div id="slideshow">
        @foreach (var banner in Model.MainBanners)
        {
            @Html.Raw(Html.CachedImage("~/Content/Banners/", banner.ImageSource, "mainBanner", banner.Title, banner.Price, banner.ContentName))
        }
    </div>
}
@section SmallBannerLeft
{
    @if (ViewBag.LeftBanner != null)
    {
        @Html.Partial("BannerSmall", (Banner)ViewBag.LeftBanner)
    }
}
@section SmallBannerRight
{
    @if (ViewBag.RightBanner != null)
    {
        @Html.Partial("BannerSmall", (Banner)ViewBag.RightBanner)
    }
}
@section SubMenu
{
    @Html.Partial("PlacesMap", Model.PlacesMap)
    <div id="contentTitle">
        @Model.Content.Title
    </div>
    @Html.Partial("PlacesSubMenu", Model.Content)
}
@section LeftSubMenu
{
    @if (Model.LeftSubMenuItems != null && Model.LeftSubMenuItems.Count > 0)
    {
        @Html.Partial("PlacesLestSubMenu", Model.LeftSubMenuItems)
    }
}
@section RootLogoLink
{
    @if (!Model.IsRoot)
    {
        <a href="/" class="rootLink">
            <img src="../../Content/img/pixel.gif" /></a>
    }
}
@section QuickSearch
{
    @if (!Model.IsRoot)
    {
        @Html.Partial("QuickSearch")
    }
}

@section MainMenu
{
    @{
    var menu = Model.MenuList.Where(m => m.MenuLevel == 1).Select(m => m).FirstOrDefault();
    @Html.Partial("MainMenu",menu)
    }
}