@using Shop.WebSite
@using Shop.WebSite.Helpers
@{
    int pageSize = int.Parse(WebSession.ShopSettings.First(ss => ss.Key == "AdminProductsPageSize").Value);
    int totalCount = (int)ViewBag.ProductTotalCount;
    int pageCount = totalCount / pageSize;
    int page = (int)ViewBag.Page;
    pageCount += ((totalCount % pageSize) > 0) ? 1 : 0;
    string searchQuery = (string) ViewBag.Q;
    
}
@if (totalCount > pageSize)
{
    <div id="adminPager">
        @for (int i = 0; i < pageCount; i++)
        {
            if (i == 0)
            {
                if (page != 0)
                {
                    <div>
                        @Html.ActionLink("первая", "Index", "Product", new {area = "Admin", page = i, q = searchQuery}, null)
                    </div>
                    <div>
                        @Html.ActionLink("<", "Index", "Product", new {area = "Admin", page = (page - 1), q = searchQuery}, null)
                    </div>
                }
                else
                {
                    <div class="current">первая</div>
                    <div class="current"><</div>
                }
            }

            if (i == page)
            {
                <div class="current">
                    @Html.Raw((i + 1).ToString())
                </div>
            }
            else if (page < i - 1 || page > i + 1)
            {
                if (page == i - 2 || page == i + 2)
                {
                    <span>...&nbsp;&nbsp;</span>
                }
            }
            else
            {
                <div>
                    @Html.ActionLink((i + 1).ToString(), "Index", "Product", new {area = "Admin", page = i, q = searchQuery}, null)
                </div>
            }

            if (i == pageCount - 1)
            {
                if (page != pageCount - 1)
                {
                    <div>
                        @Html.ActionLink(">", "Index", "Product", new {area = "Admin", page = (page + 1), q = searchQuery}, null)
                    </div>
                    <div>
                        @Html.ActionLink("последняя", "Index", "Product", new {area = "Admin", page = i, q = searchQuery}, null)
                    </div>
                }
                else
                {
                    <div class="current">></div>
                    <div class="current">последняя</div>
                }
            }
        }
    </div>
}