@using Penetron
@using SiteExtensions.Graphics
@model Penetron.Models.BuildingModel
<div class="content-container">
    <div class="content">
        <div class="title-container">
            @if (Model.Building != null)
            {
                
                <div class="parentTitle">
                    @if (Model.ParentTitle != null)
                    {
                        @Model.ParentTitle <text>/</text>
                    }
                </div>
            
                <table class="title">
                    <tr>
                        <td class="left">
                        </td>
                        <td class="center">@Model.Building.Title
                        </td>
                        <td class="right">
                        </td>
                    </tr>
                </table>
            }
        </div>
        <div class="text-container">
            @if (Request.IsAuthenticated && Model.Building != null && Model.Building.CategoryLevel == 0)
            {
                <div class="adminLinkContainer">
                    @Html.ActionLink("Редактировать основную страницу", "EditMainPage", "Building", new { area = "Admin", type = ViewBag.ContentType }, new { @class = "adminLink" })
                </div>
                
            }
            @Html.Partial("Menu", Model.BuildingMenu, new ViewDataDictionary { { "category", "Documents" }, { "categoryAdmin", "Building" }, { "type", ViewBag.ContentType } })
            <div class="content-text">
                @if (Model.Building != null)
                {
                    @Html.Raw(Model.Building.Text)
                }
                
                
            </div>
            
            
               
            
            <div class="clear">
            </div>
        </div>
    </div>
</div>
