@model Penetron.Models.ContentItem

@{
    ViewBag.Title = "Редактирование блока контента";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="adminContent">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)
    
        <table>
            <tr>
                <td colspan="2">
                    <h3>Редактирование блока контента
                    </h3>
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.SortOrder)
                </td>
                <td>
                    @Html.EditorFor(model => model.SortOrder)
                    @Html.ValidationMessageFor(model => model.SortOrder)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Text)
                </td>
                <td>
                    @Html.TextAreaFor(model => model.Text, new { rows = 12, @class = "ckeditor" })
                    @Html.ValidationMessageFor(model => model.Text)
                </td>
            </tr>
        </table>
    
        <div class="buttonsContainer">
            <input type="submit" value="Сохранить" />
            @Html.ActionLink("Назад", "SiteContent", "Home", new { area = "", id = Model.Content.Name}, null)
        </div>
   
    }
</div>
@section Scripts
{
    @Scripts.Render("~/Scripts/jquery.validate.min.js", "~/Scripts/jquery.validate.unobtrusive.min.js")
    <script type="text/javascript" src="/Controls/ckeditor/ckeditor.js"></script>
    <script type="text/javascript" src="/Controls/ckeditor/adapters/jquery.js"></script>
}
