@using Rakurs.Models
@model IEnumerable<Rakurs.Models.ProductAttribute>
<div id="categoryFilter">
    <div class="categoryFilterTitle">
        @Html.Raw(SiteSettings.Language == Language.Ru ? "Показывать только:" : "Show only:") 
        
        </div>
    <table>
        <tr>
            @foreach (var item in Model)
            {
                if (item.Id == ViewBag.Filter)
                {
                <td>
                    <span>@Html.Raw(SiteSettings.Language == Language.Ru ?item.Title:item.TitleEng)</span>
                </td>
                }
                else
                {
                <td>
                    @Html.ActionLink(SiteSettings.Language == Language.Ru ?item.Title:item.TitleEng, "Index", "Catalogue", new { filter = item.Id }, null)
                </td>
                }
            }
            
            @if (ViewBag.Filter == null)
            {
                <td>
                    <span>@Html.Raw(SiteSettings.Language == Language.Ru ? "Все" : "All") </span>
                </td>
            }
            else
            {
                <td>
                    @Html.ActionLink(SiteSettings.Language == Language.Ru ? "Все" : "All", "Index", "Catalogue")
                </td>
            }
        </tr>
    </table>
</div>
