@model string
<div class="menu">
<ul class="nav nav-tabs" role="tablist">
    @if (Model == "MainImage")
    {
        <li class="active">@Html.ActionLink("Основные изображения на главной странице", "Index", "MainImage", new { area = "Admin" }, null)</li>
    }
    else
    {
        <li>@Html.ActionLink("Основные изображения на главной странице", "Index", "MainImage", new { area = "Admin" }, null)</li>
    }
    
    @if (Model == "Attention")
    {
        <li class="active">@Html.ActionLink("Обратите внимание", "Index", "Attention", new { area = "Admin" }, null)</li>
    }
    else
    {
        <li>@Html.ActionLink("Обратите внимание", "Index", "Attention", new { area = "Admin" }, null)</li>
    }
    
    @if (Model == "Banner")
    {
        <li class="active">@Html.ActionLink("Картинка внизу", "Index", "Banner", new { area = "Admin" }, null)</li>
    }
    else
    {
        <li>@Html.ActionLink("Картинка внизу", "Index", "Banner", new { area = "Admin" }, null)</li>
    }
    
    @if (Model == "Sale")
    {
        <li class="active">@Html.ActionLink("Хотите подарок?", "Index", "Sale", new { area = "Admin" }, null)</li>
    }
    else
    {
        <li>@Html.ActionLink("Хотите подарок?", "Index", "Sale", new { area = "Admin" }, null)</li>
    }
    
     @if (Model == "Article")
    {
        <li class="active">@Html.ActionLink("Что нового", "Index", "Article", new { area = "Admin" }, null)</li>
    }
    else
    {
        <li>@Html.ActionLink("Что нового", "Index", "Article", new { area = "Admin" }, null)</li>
    }
    
    @if (Model == "Content")
    {
        <li class="active">@Html.ActionLink("Страницы контента", "Index", "Content", new { area = "Admin" }, null)</li>
    }
    else
    {
        <li>@Html.ActionLink("Страницы контента", "Index", "Content", new { area = "Admin" }, null)</li>
    }
    
    @if (Model == "GalleryImage")
    {
        <li class="active">@Html.ActionLink("В гостях у Кики", "Index", "GalleryImage", new { area = "Admin" }, null)</li>
    }
    else
    {
        <li>@Html.ActionLink("В гостях у Кики", "Index", "GalleryImage", new { area = "Admin" }, null)</li>
    }

    @if (Model == "Reason")
    {
        <li class="active">@Html.ActionLink("Секрет успеха", "Index", "Reason", new { area = "Admin" }, null)</li>
    }
    else
    {
        <li>@Html.ActionLink("Секрет успеха", "Index", "Reason", new { area = "Admin" }, null)</li>
    }
    
    @if (Model == "Subscriber")
    {
        <li class="active">@Html.ActionLink("Адреса рассылки", "Index", "Subscriber", new { area = "Admin" }, null)</li>
    }
    else
    {
        <li>@Html.ActionLink("Адреса рассылки", "Index", "Subscriber", new { area = "Admin" }, null)</li>
    }
    
    @if (Model == "Service")
    {
        <li class="active">@Html.ActionLink("Услуги", "Index", "Service", new { area = "Admin" }, null)</li>
    }
    else
    {
        <li>@Html.ActionLink("Услуги", "Index", "Service", new { area = "Admin" }, null)</li>
    }
    
    
</ul>
    </div>