@model string
<div class="menu">
<ul class="nav nav-tabs" role="tablist">
    @if (Model == "MainImage")
    {
        <li class="active">@Html.ActionLink("Основные изображения на главной странице", "Index", "MainImage", new { area = "Admin" }, null)</li>
    }
    else
    {
        <li>@Html.ActionLink("Основные изображения на главной странице", "Index", "MainImage", new { area = "Admin" }, null)</li>
    }
    
    @if (Model == "Attention")
    {
        <li class="active">@Html.ActionLink("Дополнительные изображения на главной странице", "Index", "Attention", new { area = "Admin" }, null)</li>
    }
    else
    {
        <li>@Html.ActionLink("Дополнительные изображения на главной странице", "Index", "Attention", new { area = "Admin" }, null)</li>
    }
    
    @if (Model == "Banner")
    {
        <li class="active">@Html.ActionLink("Баннеры", "Index", "Banner", new { area = "Admin" }, null)</li>
    }
    else
    {
        <li>@Html.ActionLink("Баннеры", "Index", "Banner", new { area = "Admin" }, null)</li>
    }
    
    @if (Model == "Sale")
    {
        <li class="active">@Html.ActionLink("Акции", "Index", "Sale", new { area = "Admin" }, null)</li>
    }
    else
    {
        <li>@Html.ActionLink("Акции", "Index", "Sale", new { area = "Admin" }, null)</li>
    }
    
     @if (Model == "Article")
    {
        <li class="active">@Html.ActionLink("Новости", "Index", "Article", new { area = "Admin" }, null)</li>
    }
    else
    {
        <li>@Html.ActionLink("Новости", "Index", "Article", new { area = "Admin" }, null)</li>
    }
    
    @if (Model == "Content")
    {
        <li class="active">@Html.ActionLink("Страницы контента", "Index", "Content", new { area = "Admin" }, null)</li>
    }
    else
    {
        <li>@Html.ActionLink("Страницы контента", "Index", "Content", new { area = "Admin" }, null)</li>
    }
    
    @if (Model == "GalleryImage")
    {
        <li class="active">@Html.ActionLink("Мини галерея", "Index", "GalleryImage", new { area = "Admin" }, null)</li>
    }
    else
    {
        <li>@Html.ActionLink("Мини галерея", "Index", "GalleryImage", new { area = "Admin" }, null)</li>
    }

    @if (Model == "Reason")
    {
        <li class="active">@Html.ActionLink("Секрет успеха", "Index", "Reason", new { area = "Admin" }, null)</li>
    }
    else
    {
        <li>@Html.ActionLink("Секрет успеха", "Index", "Reason", new { area = "Admin" }, null)</li>
    }
    
    @if (Model == "Subscriber")
    {
        <li class="active">@Html.ActionLink("Адреса рассылки", "Index", "Subscriber", new { area = "Admin" }, null)</li>
    }
    else
    {
        <li>@Html.ActionLink("Адреса рассылки", "Index", "Subscriber", new { area = "Admin" }, null)</li>
    }
    
    
</ul>
    </div>