@model IEnumerable<Shop.Models.ProductAttribute>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Атрибуты</h2>

<p>
    @Html.ActionLink("Добавить новую запись", "Create")
</p>
<table>
    <tr>
        <th>
            Название
        </th>
        <th>
            Тип значения
        </th>
        <th>
            ShowInCommonView
        </th>
        <th>
            Порядок отображения
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ValueType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShowInCommonView)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SortOrder)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
