@using SiteExtensions
@using Vip.Models

<script type="text/javascript">
    $(function () {
        $("#catalogue").hover(function (e) {
            $("#categories").css("display", "block");
            //e.stopPropagation(); if (window.event) { window.event.cancelBubbling = true; }
        });

        $("body").click(function () {
            if ($("#categories").css("display") == "block") {
                $("#categories").css("display", "none");
            }
        });

    })
</script>

<div class="mainMenu">
    <table>
        <tr>
            <td>
                <a href="#" id="catalogue">каталог</a>
                @{
                    var categories = (IEnumerable<Category>) ViewBag.Categories;
                }
                    @if(categories!=null)
                    {
                        <div id="categories" class="categories">
                            <ul>
                                @{
                                    foreach (var category in categories)
                                    {
                                        <li>
                                            @Html.ActionLink(category.Title, "Index", "Catalogue", new {area = "", category = category.Name, filter="", brand=""}, null)
                                        </li>
                                    }
                                }
                            </ul>
                        </div>
                    }
            </td>
        
            <td>
                @Html.ActionLink("новости", "Index", "Articles", new { area = "" }, null)
            </td>
        
            <td>
                @Html.ActionLink("проекты", "Index", "Projects", new { area = "", project = "" }, null)
            </td>
        
        @{
            var mainMenu = (Menu)ViewBag.MainMenu;
            if (mainMenu != null)
            {
                foreach (var item in mainMenu)
                {
            
                <td>
                    @Html.ActionLink(item.Title, "Index", "Home", new { area = "", id = item.ContentName }, null)
                    @if (Request.IsAuthenticated)
                    {
                        @Html.ActionLink("Ред.", "Edit", "Content", new { area = "Admin", id = item.ContentId }, new { @class = "adminLink" })
                    }
                </td>
            
                }
            }
        }
        </tr>
    </table>
   </div>
