@using SiteExtensions
@using Vip.Models
<script type="text/javascript">
    $(function() {
        $("#categoriesLink").hover(function() {
            $("#projects").css("display", "none");
            $("#categories").css("display", "block");
        });

        $("#projectsLink").hover(function() {
            $("#categories").css("display", "none");
            $("#projects").css("display", "block");
        });

        $("body").click(function() {
            if ($("#categories").css("display") == "block") {
                $("#categories").css("display", "none");
            }

            if ($("#projects").css("display") == "block") {
                $("#projects").css("display", "none");
            }
        });

    });
</script>
<div class="mainMenu">
    <table>
        <tr>
            <td>
                <a href="#" id="categoriesLink">каталог</a>
                @{
                    var categories = (IEnumerable<Category>)ViewBag.Categories;
                }
                @if (categories != null)
                {
                    <div id="categories" class="categories">
                        <ul>
                            @{
                    foreach (var category in categories)
                    {
                                <li>
                                    @if (category.Current)
                                    {
                                        @category.Title
                                    }
                                    else
                                    {
                                        @Html.ActionLink(category.Title, "Index", "Catalogue", new { area = "", category = category.Name, filter = "", brand = "" }, null)
                                    }
                                </li>
                    }
                            }
                        </ul>
                    </div>
                }
            </td>
            <td>
                @Html.ActionLink("новости", "Index", "Articles", new { area = "" }, null)
            </td>
            <td>
                <a href="#" id="projectsLink">наше портфолио</a>
                @{
                    var projects = (IEnumerable<Project>)ViewBag.Projects;
                }
                
                    <div id="projects" class="categories">
                        <ul>
                            @if (projects != null)
                            {
                                foreach (var project in projects)
                                {
                                    <li>
                                        @if (project.Current)
                                        {
                                            @project.Title
                                        }
                                        else
                                        {
                                            @Html.ActionLink(project.Title, "Index", "Projects", new {area = "", project = project.Name}, null)
                                        }
                                    </li>
                                }
                                
                            }
                            
                        </ul>
                        @if(Request.IsAuthenticated)
                        {
                            @Html.ActionLink("Добавить проект", "Create", "Project", new { Area = "Admin" }, new { @class = "adminLink" })
                        }
                    </div>
                
            </td>
            @{
                var mainMenu = (Menu)ViewBag.MainMenu;
                if (mainMenu != null)
                {
                    foreach (var item in mainMenu)
                    {
            
                <td>
                    @Html.ActionLink(item.Title, "Index", "Home", new { area = "", id = item.ContentName }, null)
                    @if (Request.IsAuthenticated)
                    {
                        @Html.ActionLink("Ред.", "Edit", "Content", new { area = "Admin", id = item.ContentId }, new { @class = "adminLink" })
                    }
                </td>
            
                    }
                }
            }
        </tr>
    </table>
</div>
