@using Posh.Helpers
@using Posh.Models
<script type="text/javascript">

    $(function () {

        $(".category").click(function () {
            var id = $(this).attr("id");
            if (!$(this).hasClass("categoryBg")) {
                $(this).removeClass("categoryBgHover");
                $(this).addClass("categoryBg");
                $("#h" + id).val("1");
            } else {
                $(this).removeClass("categoryBg");
                $("#h" + id).val("0");
            }
        });


        $(".category").hover(
            function () {
                if (!$(this).hasClass("categoryBg")) {
                    $(this).addClass("categoryBgHover");
                }
            },
            function () {
                if (!$(this).hasClass("categoryBg")) {
                    $(this).removeClass("categoryBgHover");
                }
                //$(this).toggleClass("categoryBg");
            });

        $("#sbmButton").click(function () {
            $("#form1").submit();
        });
    });

</script>
@using (Html.BeginForm("Index", "Albums", FormMethod.Post, new { id = "form1" }))
{
    
    <div class="selector">
        <div class="mainTitle">
            Я хочу обустроить...</div>
        <div class="subTitle">
            Веберите одну или несколько категорий, чтобы отфильтровать продукцию</div>
        @{
    var categories = (IEnumerable<Category>)ViewBag.Categories;
    var elements = (IEnumerable<Element>)ViewBag.Elements;
        }
        <div class="categoryItems">
            @*@if (Request.IsAuthenticated)
            {
                @Html.ActionLink("добавить", "Create", "Category", new { Area = "Admin" }, new { @class = "adminLink" })
                <div class="clear">
                </div>
            }*@
            @{
            int cnt = 0;
                <table>
                    <tr>
                        <td style="text-align: center">
                            @foreach (var category in categories.OrderBy(c => c.SortOrder))
                            {
                                
                                if (cnt % 5 == 0)
                                {
                                    @Html.Raw("</td></tr><tr><td>")
                                }
                                cnt++;
                                @Html.Partial("_Category", category)
                            }
                        </td>
                    </tr>
                </table>
            }
            <div class="clear">
            </div>
        </div>
        <div id="showOnly">
            В выбранных разделах показывать только...</div>
        <div class="elements">
            @if (Request.IsAuthenticated)
            {
                @Html.ActionLink("добавить", "Create", "Element", new { Area = "Admin" }, new { @class = "adminLink" })
                <div class="clear">
                </div>
            }
            @foreach (var element in elements.OrderBy(e => e.SortOrder))
            {
                <div class="element">
                    <div class="elementCheckbox">
                        @Html.CheckBox("el_" + element.Id, WebSession.Elements.Any(e => e.Id == element.Id))
                    </div>
                    @element.Title
                    @if (Request.IsAuthenticated)
                    {
                        @Html.ActionLink("редактировать", "Edit", "Element", new { Area = "Admin", id = element.Id }, new { @class = "adminLink" })
                        @Html.Raw("&nbsp")
                        @Html.ActionLink("удалить", "Delete", "Element", new { Area = "Admin", id = element.Id }, new { @class = "adminLink", onclick = "return confirm('Удалить элемент? При удалении также будут удалены признаки данного элемента из продуктов')" })
                    }
                </div>
            }
            <div class="clear">
            </div>
        </div>
        <div id="condition">
            Если не выбрать ни одного компонента, ассортимент будет показан полностью</div>
        <div class="searchSubmit">
            @*<input type="submit" id="sbmButton" value="Готово!" />*@ <a href="#" id="sbmButton">
            </a>
        </div>
    </div>
}