@using Shop.WebSite
@model IEnumerable<Shop.DataAccess.Entities.ProductStock>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@section AdminNavigation
{
    @Html.Partial("Menu", "Product")
}

<div class="container">
    <h3>Список артикулов продукта</h3>
    <p>
        @Html.ActionLink("Добавить", "Create", new { id = (int)ViewBag.ProductId })
    </p>
    
    <table class="table table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StockNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Size)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAvailable)
            </th>
            <th></th>
        </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StockNumber)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.Size)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAvailable)
            </td>
            <td>
                @Html.ActionLink("Ред.", "Edit", new { id = item.Id },new{title="Редактировать"}) |
                @Html.ActionLink("Уд.", "Delete", new { id = item.Id }, new { onclick = "return confirm('Удалить артикул?')",title="Удалить" }) 
            </td>
        </tr>
    }
    </table>

    <div style="clear: both"></div>
    <div style="margin-top: 30px">
        @Html.ActionLink("Назад к продуктам", "Index", "Product")
    </div>

</div>
