@using Mayka.Helpers
@model Mayka.Models.Content

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="adminContent">
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Content</legend>

        @Html.HiddenFor(model => model.Id)
        <div class="editor-label">
            @Html.LabelFor(model => model.ContentType)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.ContentType,UIHelper.GetContentTypes(Model.ContentType))
            @Html.ValidationMessageFor(model => model.ContentType)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MenuTitle)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MenuTitle)
            @Html.ValidationMessageFor(model => model.MenuTitle)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SortOrder)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SortOrder)
            @Html.ValidationMessageFor(model => model.SortOrder)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Text)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Text, new { @class = "ckeditor" })
            @Html.ValidationMessageFor(model => model.Text)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SeoDescription)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.SeoDescription)
            @Html.ValidationMessageFor(model => model.SeoDescription)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SeoKeywords)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.SeoKeywords)
            @Html.ValidationMessageFor(model => model.SeoKeywords)
        </div>

        

        <p>
            <br/>
            <input type="submit" value="Сохранить" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Назад", "Index","Home",new{area="",id=Model.Name},null)
</div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script type="text/javascript" src="/Controls/ckeditor/ckeditor.js"></script>
    <script type="text/javascript" src="/Controls/ckeditor/adapters/jquery.js"></script>
}