@using SiteExtensions.Graphics
@using Vip
@using Vip.Helpers
@using Vip.Models
@model Vip.Models.CatalogueViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    $(function () {
        //$('#galleryFrame').tinycarousel();
        $('#bx1').bxSlider();
    });
</script>
<div class="catalogue">
    <div class="titleContainer">
        @if (Model.Brand == null)
        {
            <span>@Model.Category.Title</span>
        }
        else
        {
            @Html.ActionLink(Model.Category.Title, "Index", "Catalogue", new { area = "", category = Model.Category.Name, brand = "", filter = "" }, null) <span
                class="brand"> &raquo; @Model.Brand.Title</span>
        }
    </div>
    <div class="patternTop">
    </div>
    @if (Model.Brand != null)
    {
        <div class="galleryContainer">
            <div class="brands left">
                @if (Model.Brands.Any())
                {
                    <ul class="brands">
                        @foreach (var brand in Model.Brands.OrderBy(b => b.SortOrder))
                        {
                            <li>
                                @if (brand.Current)
                                {
                                    @brand.Title
                                }
                                else
                                {
                                    @Html.ActionLink(brand.Title, "Index", "Catalogue", new { area = "", category = Model.Category.Name, brand = brand.Name, filter = Model.Filter }, null)
                                }
                            </li>
                        }
                    </ul>
                }
                @if (Request.IsAuthenticated)
                {
                    
                    @Html.ActionLink("Добавить бренд", "Create", "Brand", new { area = "Admin", id = Model.Category.Id, filter = Model.Filter }, new { @class = "adminLink" })
                }
            </div>
            <div id="gallery">
                <div id="galleryFrame">
                    @*<a class="buttons prev" href="#"></a><a class="buttons next" href="#"></a>*@
                    <ul @*class="overview"*@  id="bx1">
                        @if (Model.Brand.Products.Any())
                        {
                            foreach (var product in Model.Brand.Products)
                            {
                            <li>
                                @if (Request.IsAuthenticated)
                                {
                                    <div class="manageImageLinkContainer">
                                        @Html.ActionLink("Добавить изображение", "Create", "Product", new { area = "Admin", id = Model.Brand.Id, filter = Model.Filter }, new { @class = "adminLink" })
                                        @Html.ActionLink("Удалить", "Delete", "Product", new { area = "Admin", id = product.Id, filter = Model.Filter }, new { @class = "adminLink", onclick = "return confirm('Удалить изображение?')" })
                                    </div>
                                }
                                @Html.Raw(Html.CachedImage("~/Content/Images/", product.ImageSource, SiteSettings.GetThumbnail("catalogueMainImage")))
                            </li>
                            }
                        }
                        else
                        {
                            if (Request.IsAuthenticated)
                            {
                            <li style="width:200px; height: 200px; ">
                                <div class="manageImageLinkContainer">
                                    @Html.ActionLink("Добавить изображение", "Create", "Product", new { area = "Admin", id = Model.Brand.Id }, new { @class = "adminLink" })
                                </div>
                            </li>
                            }
                        }
                    </ul>
                </div>
            </div>
            <div class="clear">
            </div>
        </div>
        <div class="link">
            @if (!string.IsNullOrEmpty(Model.Brand.Href))
            {
                string url = Model.Brand.Href;
                if (!url.Contains("http://"))
                {
                    url = "http://" + url;
                }
                
                <a href="@url">@Model.Brand.Href.Replace("http://", "")</a>
            }
        </div>
        
       
    }
    else
    {

        if (Model.Category.CategoryAttributes.Any())
        {
        <div class="filters">
            @foreach (var attr in Model.Category.CategoryAttributes)
            {
                <span>
                    @if (attr.Current)
                    {
                        @attr.Title
                    }
                    else
                    {
                        @Html.ActionLink(attr.Title, "Index", "Catalogue", new { area = "", category = Model.Category.Name, filter = attr.Name }, null)
                    }
                </span>
            }
        </div>
        }
        <div class="brands">
            @if (Request.IsAuthenticated)
            {
                <div style="text-align: center">
                    @Html.ActionLink("Добавить бренд", "Create", "Brand", new { area = "Admin", id = Model.Category.Id, filter = Model.Filter }, new { @class = "adminLink" })
                </div>
            }
            @if (Model.Brands.Any())
            {
                foreach (var brand in Model.Brands.OrderBy(b => b.SortOrder))
                {
                <div class="brand">
                    @Html.ActionLink(brand.Title, "Index", "Catalogue", new { area = "", category = Model.Category.Name, brand = brand.Name, filter = Model.Filter }, null)
                    @if (Request.IsAuthenticated)
                    {
                        <span class="sortOrder">@brand.SortOrder</span> @Html.Raw("&nbsp;")
                        @Html.ActionLink("Редактировать", "Edit", "Brand", new { area = "Admin", id = brand.Id, filter = Model.Filter }, new { @class = "adminLink" }) @Html.Raw("&nbsp;")
                        @Html.ActionLink("Удалить", "Delete", "Brand", new { area = "Admin", id = brand.Id, filter = Model.Filter }, new { onclick = "return confirm('Вы действительно хотите удалить данный бренд?')", @class = "adminLink" }) 
                    }
                </div>
                }
            }
        </div>
         
        
    }
    <div class="patternBottom">
    </div>
    <div class="pattern">
    </div>
    @if (Model.Brand != null)
    {
        if (!string.IsNullOrEmpty(Model.Brand.Description) || !string.IsNullOrEmpty(Model.Brand.DescriptionTitle))
        {
        @Html.Partial("AboutModel", new AboutModel { Title = Model.Brand.DescriptionTitle, Text = Model.Brand.Description })
        }
    }
    else
    {
        if (!string.IsNullOrEmpty(Model.Category.Description) || !string.IsNullOrEmpty(Model.Category.DescriptionTitle))
        {
        @Html.Partial("AboutModel", new AboutModel { Title = Model.Category.DescriptionTitle, Text = Model.Category.Description })
        }
    }
</div>
