@using Metabuild.Models
@if (ViewBag.MenuList != null)
{
    var menuItems = ((List<Menu>)ViewBag.MenuList).Where(m => (m.MenuLevel == 1 || m.MenuLevel == 0)).Select(m => m).FirstOrDefault();
    if (menuItems != null)
    {
        foreach (var item in menuItems.OrderBy(m => m.SortOrder))
        {
            string selected = item.Selected ? "selected" : "";
            
    <div class="mainMenuItem @selected">
        @if (item.Current)
        {
            @item.Title
        }
        else
        {
            if (item.Id==2)
            {
                <a href="#" id="worksLink">перечень работ</a>
            }else
            {
                @Html.ActionLink(item.Title, "Index", "Home", new {id = item.Name}, null)
            }
        }
        @if (Request.IsAuthenticated)
        {
            if (item.Id!=2)
            {
                <br />
                @Html.ActionLink("Редактировать", "Edit", "Content", new {Area = "Admin", id = item.Id}, new {@class = "adminLink"})
                @Html.Raw("&nbsp;")
                @Html.ActionLink("+Подраздел", "Add", "Content", new {Area = "Admin", parentId = item.Id}, new {@class = "adminLink"})
            }
            else
            {
                <br /><br />
            }
        }
    </div>
            
        }
@*    if (Request.IsAuthenticated)
                {
            @Html.ActionLink("Добавить", "Add", "Content", new { Area = "Admin" }, new { @class = "adminLink", style = "margin-left:20px" })
                }*@
    }
}




@*<div class="mainMenuItem">
        <a href="#">перечень работ</a>
    </div>
    <div class="mainMenuItem">
        <a href="#">ценовая политика</a>
    </div>
*@
