@model Mayka.Models.PhotoGalleryItem

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm("Create", "Gallery", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.ContentId)
    
    <fieldset>
        <legend>PhotoGalleryItem</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ImageSource)
        </div>
        <div class="editor-field">
            <input type="file" name="fileUpload" class="photoFileInput" />
            @Html.ValidationMessageFor(model => model.ImageSource)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Url)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Url)
            @Html.ValidationMessageFor(model => model.Url)
        </div>
        <p>
            <br />
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Gallery", "Home", new { area = "", id = Model.Content.Name }, null)
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
