@using Dev.Mvc.Helpers
@using HavilaTravel.Models
@model HavilaTravel.Models.SiteViewModel
@Html.Raw(Model.Content.Text)
@section ContentTitle{
    <div id="contentTitle">
        @Model.Content.Title
    </div>
}
@section Accordion
{
<div class="clear"></div>
    <div id="accordionContainer">
        @Html.Partial("Accordion", Model.Content.Accordions)
    </div>
}
@section MainBanner
{
    <div id="slideshow">
        @foreach (var banner in Model.MainBanners)
        {
            @Html.Raw(Html.CachedImage("~/Content/Banners/", banner.ImageSource, "mainBanner", banner.Title, banner.Price, banner.ContentName))
        }
    </div>
}
@section SmallBannerLeft
{
@if (!Model.IsRoot)
{
    if (Model.LeftBanner != null)
     {
         @Html.Partial("BannerSmall", Model.LeftBanner)
     }
}else
{
    <div style="width: 100px;"></div>
}
}
@section SmallBannerRight
{
@if (!Model.IsRoot)
    {
    if (Model.RightBanner != null)
    {
        @Html.Partial("BannerSmall", Model.RightBanner)
    }
    }
}
@section SubMenu
{
    @Html.Partial("SubMenu", Model.MenuList)
}
@section LeftSubMenu
{
    @{
        
        

        var menuItems = Model.MenuList.FirstOrDefault(m => m.MenuLevel == 3);
        if (menuItems != null)
        {
            @Html.Partial("LeftSubmenu", menuItems)
        }
    }
}
@*@section MainSearch
{
    @if (Model.IsRoot)
    {

        using (Html.BeginForm("Search", "Home", FormMethod.Get))
        {
        <div id="mainSearchBox">
            @Html.TextBox("query", "Бали", new { @class = "mainsearch" })
        </div>
        }
    }
}*@

@section ActualTours
{
    @if (Model.IsRoot)
    {
        if(Request.IsAuthenticated)
        {
            @Html.Partial("ActualTours", Model.ActualTours)
        }
        else if(Model.ActualTours.Count>0)
        {
            @Html.Partial("ActualTours", Model.ActualTours)
        }
    }

}

@section BellBoy
{
    @if (Model.Bellboy != null)
    {
        <div id="bellboyContainer">
            @Html.Partial("Bellboy", Model.Bellboy)
        </div>
    }
}
@section RootLogoLink
{
    @if (!Model.IsRoot)
    {
        <a href="/" class="rootLink">
            <img src="../../Content/img/pixel.gif" /></a>
    }
}
@section QuickSearch
{
    @*@if (!Model.IsRoot)
    {
        @Html.Partial("QuickSearch")
    }*@
    @if (!Model.IsRoot)
    {
        @Html.Partial("QuickSearch")
    }
}

@section MainMenu
{
    @{
        var menu = Model.MenuList.Where(m => m.MenuLevel == 1).Select(m => m).FirstOrDefault();
    @Html.Partial("MainMenu", menu)
    }
}

@section HeaderLeftMenu
{
    @Html.Partial("HeaderLeftMenu",Model.HeaderLeftMenuItems)
}