@using Dev.Mvc.Helpers
@using HavilaTravel.Models
@model HavilaTravel.Models.Content
@Html.Raw(Model.Text)
@section ContentTitle{
    <div id="contentTitle">
        @Model.Title
    </div>
}
@section Accordion
{
    <div id="accordionContainer">
        @Html.Partial("Accordion", Model.Accordions)
    </div>
}
@section MainBanner
{
    @{
        var banners = ((List<Banner>)ViewBag.MainBanners);
    }
    <div id="slideshow">
        @foreach (var banner in banners)
        {
                
            @Html.Raw(Html.CachedImage("~/Content/Banners/", banner.ImageSource, "mainBanner", banner.Title, banner.Price))
                
        }
    </div>
}
@section SmallBannerLeft
{
    @if (ViewBag.LeftBanner != null)
    {
        @Html.Partial("BannerSmall", (Banner)ViewBag.LeftBanner)
    }
}
@section SmallBannerRight
{
    @if (ViewBag.RightBanner != null)
    {
        @Html.Partial("BannerSmall", (Banner)ViewBag.RightBanner)
    }
}
@section SubMenu
{
    @Html.Partial("SubMenu")
}
@section LeftSubMenu
{
    @Html.Partial("LeftSubmenu")
}
@section MainSearch
{
    @if (ViewBag.IsRoot != null && ViewBag.IsRoot)
    {

        using (Html.BeginForm("Search", "Home",FormMethod.Get))
        {
        <div id="mainSearchBox">
            @Html.TextBox("query", "Бали", new { @class = "mainsearch" })
        </div>
        }
    }
}
