@using Listelli
@using Listelli.Models
@using SiteExtensions.Graphics
@model BrandCatalogueModel 
@section Title
{
    @Html.Partial("PageTitle", new ContentTitleModel { Type = TitleType.Link, Title = GlobalRes.BrandGallery, Action = "Gallery", Controller = "Home" })
}
@if (Roles.IsUserInRole(User.Identity.Name, "Administrators"))
{
    <div class="adminLinkContainer">
        @Html.ActionLink("Добавить текстовый блок", "CreateTextBlock", "BrandItem", new {area = "Admin", brandId = Model.Brand.Id, type = 1}, new {@class = "adminLink"})
        @Html.ActionLink("Добавить текстовый блок в рамке", "CreateTextBlock", "BrandItem", new {area = "Admin", brandId = Model.Brand.Id, type = 2}, new {@class = "adminLink"})
        @Html.ActionLink("Добавить блок изображений", "CreateImagesBlock", "BrandItem", new {area = "Admin", brandId = Model.Brand.Id}, new {@class = "adminLink"})
    </div>
}
<div class="brandDetails">
    <div class="title">@Model.Brand.Title</div>
    <div class="description">@Model.Brand.Description</div>
    <div class="shortLine">
    </div>
    @foreach (var item in Model.Brand.BrandItems.OrderBy(b => b.SortOrder))
    {
        if (item.ContentType == 1)
        {
            <div class="text">
                @if (Roles.IsUserInRole(User.Identity.Name, "Administrators"))
                {
                    <div class="adminLinkContainer">
                        @Html.ActionLink("Редактировать", "EditTextBlock", "BrandItem", new {area = "Admin", id = item.Id}, new {@class = "adminLink"})
                        @Html.ActionLink("Удалить", "DeleteTextBlock", "BrandItem", new {area = "Admin", id = item.Id}, new {@class = "adminLink", onclick = "return confirm('Удалить текстовый блок?')"})
                        <span class="sortOrder">@item.SortOrder</span>
                    </div>
                }
                @Html.Raw(item.Text)
            </div>  
        }
        else if (item.ContentType == 2)
        {
        <div class="box">
            <div class="top">
            </div>
            <div class="middle">
                @if (Roles.IsUserInRole(User.Identity.Name, "Administrators"))
                {
                    <div class="adminLinkContainer">
                        @Html.ActionLink("Редактировать", "EditTextBlock", "BrandItem", new {area = "Admin", id = item.Id}, new {@class = "adminLink"})
                        @Html.ActionLink("Удалить", "DeleteTextBlock", "BrandItem", new {area = "Admin", id = item.Id}, new {@class = "adminLink", onclick = "return confirm('Удалить текстовый блок?')"})
                        <span class="sortOrder">@item.SortOrder</span>
                    </div>
                }
                @Html.Raw(item.Text)
            </div>
            <div class="bottom">
            </div>
        </div>  
        }
        else if (item.ContentType == 3)
        {
            <div class="images">
                @if (Roles.IsUserInRole(User.Identity.Name, "Administrators"))
                {
                    <div class="adminLinkContainer" style="margin-bottom: 10px;">
                        @Html.ActionLink("Редактировать", "EditImagesBlock", "BrandItem", new {area = "Admin", id = item.Id}, new {@class = "adminLink"})
                        @Html.ActionLink("Удалить", "DeleteImagesBlock", "BrandItem", new {area = "Admin", id = item.Id}, new {@class = "adminLink", onclick = "return confirm('Удалить блок изображений?')"})
                        <span class="sortOrder">@item.SortOrder</span>
                    </div>
                }
                
                <ul>
                @foreach (var image in item.BrandItemImages)
                {
                    <li>
                    <a data-fancybox-group="gallery" class="fancybox" href="/Content/Images/@image.ImageSource">
                        @Html.Raw(Html.CachedImage("~/Content/Images/", image.ImageSource, SiteSettings.GetThumbnail("brandImagePreview")))
                    </a>
                    </li>
                }
                </ul>
                <div class="clear">
                </div>
            </div>
        }
    }
</div>
@section Includes
{
    <link href="@Url.Content("~/Content/BrandsGallery.css")" rel="stylesheet" type="text/css" />
}
