@using Listelli.Models
@{
    ViewBag.Title = "Listelli 2013";
}
@section Title
{
    @Html.Partial("PageTitle", new ContentTitleModel { Type = TitleType.Text, Title = "галерея брендов" })
}



<div class="brandsGallery">
    
   @Html.Partial("Brand")
   @Html.Partial("Brand")
   @Html.Partial("Brand")
   <div class="clear"></div>
@Html.Partial("Brand")
   @Html.Partial("Brand")
   @Html.Partial("Brand")
   <div class="clear"></div>
@Html.Partial("Brand")
   @Html.Partial("Brand")
   @Html.Partial("Brand")
   <div class="clear"></div>
@Html.Partial("Brand")
   @Html.Partial("Brand")
   @Html.Partial("Brand")
   <div class="clear"></div>


</div>


@section Includes
{
    <link href="@Url.Content("~/Content/BrandsGallery.css")" rel="stylesheet" type="text/css" />
}
