@using Dev.Mvc.Helpers
@model IEnumerable<HavilaTravel.Models.Banner>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Баннеры</h2>

<p>
    @Html.ActionLink("Добавить", "Create",null,new{@class="adminLink"})
</p>
<table class="adminContentPreview">
    <tr>
        <th>
            Тип баннера
        </th>
        <th>
            Картинка
        </th>
        <th>
            Цена
        </th>
        <th>
            Текст (Верхний текст для маленьких баннеров)
        </th>
        <th>
            Нижний текст для маленьких баннеров
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @{
                switch (item.BannerType)
                {
                    case 1:
                    @Html.Raw("Основной (тот, что вверху)");
                                         break;
                                         case 2:
                    @Html.Raw("Тематический тур");
                                         break;

                case 3:
                    @Html.Raw("Горящий тур");
                                         break;
                }
            }
        </td>
        <td>
            @Html.Raw(Html.CachedImage("~/Content/Banners/", item.ImageSource, "bannerPreview", "", ""))
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title2)
        </td>
        <td>
            @Html.ActionLink("редактировать", "Edit", new { id = item.Id },new{@class="adminLink"}) |
            @Html.ActionLink("удалить", "Delete", new { id = item.Id }, new { @class = "adminLink", onclick = "return confirm('Вы действительно хотите удалить изображение?')" })
        </td>
    </tr>
}

</table>
