@using Dev.Mvc.Helpers
@using HavilaTravel.Models
@model HavilaTravel.Models.Content
@Html.Raw(Model.Text)
@section ContentTitle{
    <div id="contentTitle">
        @Model.Title
    </div>
}
@section Accordion
{
    <div id="accordionContainer">
        @Html.Partial("Accordion", Model.Accordions)
    </div>
}
@section Includes
{
    <script type="text/javascript">

        $(function () {
            $(".fancy").fancybox({ showCloseButton: true, cyclic: true, showNavArrows: true, padding: 0, margin: 0, centerOnScroll: true });

            $("#scrollbar1").tinyscrollbar({ sizethumb: 15 });


            $("#countryBox").click(function () {
                
                $(this).css("display", "none");
            });

            $("#accordion1").accordion(
            {
                animated: 'slide',
                collapsible: true,
                autoHeight: false,
                active: false,
                change: function (event, ui) {
                    ui.newHeader.css("color", "#cc0000");
                    //ui.newHeader.css("text-decoration", "none");
                    ui.oldHeader.css("color", "#a3a3a3");
                    //ui.oldHeader.css("text-decoration", "underline");
                }


            });

            $("#accordion1 table").click(function () {
                this.blur();
            });


            /*$('#slideshow').cycle('stop').remove();*/

            $('#slideshow').cycle(
            {
                fx: 'fade',
                after: onAfter,
                sync: true,
                timeout: 5000,
                delay: -1000
            });

            function onAfter(curr, next, opts) {
                //var msg = 'Slide ' + (opts.currSlide + 1) + ' of ' + opts.slideCount;
                $('#leftCaption').html(next.alt);
                $('#rightCaption').html(next.id);
                //alert();
            };


        });
    </script>
}
@section MainBanner
{
    
    @{
        var banners = ((List<Banner>) ViewBag.Banners).Where(b=>b.BannerType==1);
    }

    <div id="slideshow">
       
        @foreach (var banner in banners)
        {
                @Html.Raw(Html.CachedImage("~/Content/Banners/",banner.ImageSource,"mainBanner",banner.Title,banner.Price))
        }
    </div>
}

@section SmallBannerLeft
{
    @{
        Banner leftBanner = ((List<Banner>) ViewBag.Banners).Where(b => b.BannerType == 2).Select(b => b).FirstOrDefault();

        if(leftBanner!=null)
        {
            @Html.Partial("BannerSmall", leftBanner)
        }
    }
}

@section SmallBannerRight
{
    @{
        Banner rightBanner = ((List<Banner>) ViewBag.Banners).Where(b => b.BannerType == 3).FirstOrDefault();
        if (rightBanner != null)
        {
            @Html.Partial("BannerSmall", rightBanner)
        }
    }
}