@using Dev.Mvc.Helpers
@using HavilaTravel.Models
@model IEnumerable<HavilaTravel.Models.Content>
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section ContentTitle{
    <div id="contentTitle" class="search">
        Результат поиска
    </div>
}
@section SubMenu
{
    <div class="subMenu">
        <table>
            <tr>
                <td class="leftSide">
                </td>
                <td class="separator">
                </td>
                <td class="searchQuery">
                    Ваш запрос: <span>@ViewBag.SearchQuery</span>
                </td>
                <td class="separator">
                </td>
                <td class="rightSide">
                </td>
            </tr>
        </table>
    </div>
}
<div class="searchResults">
    @foreach (var content in Model)
    {
        <div class="item">
            @{
        var accordion = content.Accordions.FirstOrDefault();
        if (accordion != null)
        {
            var image = accordion.AccordionImages.FirstOrDefault();
            if (image != null)
            {
                <div class="picture">
                    @Html.Raw(Html.CachedImage("~/Content/Photos/", image.ImageSource, "thumbnail1", image.ImageSource))
                </div> 
            }
        }
            }
            <div class="title">
                @if (content.PlaceKind == 6)
                {
                    @Html.ActionLink(content.Title, "Index", "Place", new { id = content.Parent.Name, showSpa = "True" }, null)
                }
                else if (content.PlaceKind == 7)
                {
                    @Html.ActionLink(content.Title, "Index", "Place", new { id = content.Parent.Name, showPlacesReview = "True" }, null)
                }
                else
                {
                    @Html.ActionLink(content.Title, "Index", "Place", new { id = content.Name }, null)
                }
            </div>
            @Html.Raw(content.Text)
        </div>
    
    }
</div>
@section MainBanner
{
    @{
        var banners = ((List<Banner>)ViewBag.MainBanners);
    }
    <div id="slideshow">
        @foreach (var banner in banners)
        {
                
            @Html.Raw(Html.CachedImage("~/Content/Banners/", banner.ImageSource, "mainBanner", banner.Title, banner.Price))
                
        }
    </div>
}
@section SmallBannerLeft
{
    @if (ViewBag.LeftBanner != null)
    {
        @Html.Partial("BannerSmall", (Banner)ViewBag.LeftBanner)
    }
}
@section SmallBannerRight
{
    @if (ViewBag.RightBanner != null)
    {
        @Html.Partial("BannerSmall", (Banner)ViewBag.RightBanner)
    }
}
