@using FashionIntention.UI
@using FashionIntention.UI.Helpers
@model IEnumerable<FashionIntention.UI.Models.MainBanner>

@{
    ViewBag.Title = "Основной баннер";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@section AdminNavigation
{
    @Html.Partial("Menu", "MainBanner")
}

<p>
    @Html.ActionLink("Добавить", "Create")
</p>

<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Url)
        </th>
     
        <th>
            @Html.DisplayNameFor(model => model.ImageSrc)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
           
            <td>
                 @Html.DisplayFor(modelItem => item.Url)
            </td>
           
            
            <td style="min-width: 200px">
                <div style="float: left; padding-bottom: 5px">
                    @Html.Raw(Html.CachedImage("~/Content/Images/", item.ImageSrc, SiteSettings.GetThumbnail("bannerPreview")))
                </div>
            </td>
         
            <td>
                @Html.ActionLink("Редактировать", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Удалить", "Delete", new { id = item.Id }, new { onclick = "return confirm('Удалить запись?')" })
            </td>
        </tr>
    }

</table>
