@using SiteExtensions.Graphics
@model EM2014.Models.SiteModel

@section Menu
{
    <div class="menu-container product-details">
        @Html.Partial("_Menu", Model.Menu)
    </div>
}

@*@Html.ActionLink("Редактировать", "Edit", "Content", new { area = "Admin", id = Model.Content.Id }, new { @class = "adminLink" })
@Html.ActionLink("Добавить продукт", "Create", "Product", new { area = "Admin", id = Model.Content.Id }, new { @class = "adminLink" })*@

@*<div class="products clearfix">
    @foreach (var item in Model.Content.Products)
    {
        @Html.Partial("_Product", item)
    }
</div>*@


<div class="productDetails">
    <div class="title">
        <div class="inner left">
            <div class="inner right">
                <span>@Model.Product.Title</span>
            </div>
        </div>
    </div>
    @if (Request.IsAuthenticated)
    {
        @Html.ActionLink("Add product Item", "AddProductItem", "Product", new { area = "Admin", id = Model.Product.Id }, new { @class = "adminLink" })
    }
    @foreach (var item in Model.Product.ProductItems)
    {
        if (!string.IsNullOrEmpty(item.Text))
        {
        <div class="text">@Html.Raw(item.Text)</div>
        }

        if (!string.IsNullOrEmpty(item.ImageSource))
        {
        <div class="image">
            @Html.Raw(Html.OriginalImage("/Content/Images", item.ImageSource))
        </div>
        }
    }

</div>
