@model IEnumerable<Shop.DataAccess.Entities.ProductAttribute>

@{
    ViewBag.Title = "Атрибуты";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@section AdminNavigation
{
    <ul class="nav nav-tabs" role="tablist">
        <li>@Html.ActionLink("Категории", "Index", "Category", new { area = "Admin" }, null)</li>
        <li class="active">@Html.ActionLink("Атрибуты", "Index", "ProductAttribute", new { area = "Admin" }, null)</li>
    </ul>
}

<p class="addEntity">
    @Html.ActionLink("Добавить", "Create")
</p>

<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsCorrectLang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsStatic)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DisplayOnPreview)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsFilterable)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitTitle)
            </td>
            <td>
                @if (!item.IsCorrectLang)
                {
                    <span class="label label-danger">!</span>
                }
                else
                {
                    <span class="label label-success">ok</span>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsStatic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DisplayOnPreview)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsFilterable)
            </td>
            <td>
                @Html.ActionLink("Редактировать", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Удалить", "Delete", new { id = item.Id }, new { onclick = "return confirm('Удалить атрибут?')" }) 
                @if (!item.IsStatic)
                {
                    <text>|</text> @Html.ActionLink("Значения", "Index", "ProductAttributeValue", new {area = "Admin", id = item.Id}, null)
                }
            </td>
        </tr>
    }

</table>
