@model IEnumerable<Shop.DataAccess.Entities.ProductAttribute>

@{
    ViewBag.Title = "Атрибуты";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@section AdminNavigation
{
    @Html.Partial("Menu","ProductAttribute")
}

<p>
    @*<button type="button" class="btn btn-success btn-sm">*@
        @Html.ActionLink("Добавить", "Create")
    @*</button>*@
</p>

<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExternalId)
        </th>
        <th>
            Категории
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsCorrectLang)
        </th>
        <th title="@Html.DisplayNameFor(model => model.IsStatic)">
            П
        </th>
        <th title="@Html.DisplayNameFor(model => model.DisplayOnPreview)">
            О
        </th>
        
        
        <th title="@Html.DisplayNameFor(model => model.IsFilterable)">
            Ф
        </th>
        <th title="@Html.DisplayNameFor(model => model.IsPublic)">
            Д
        </th>
        <th title="@Html.DisplayNameFor(model => model.SortOrder)">
            C
        </th>
        <th>Значения</th>
        <th></th>
        
    </tr>

    @foreach (var item in Model.OrderBy(m=>m.SortOrder))
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExternalId)
            </td>
            <td>
                @foreach (var cat in item.Categories)
                {
                    @Html.Raw(cat.Title+" ");
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitTitle)
            </td>
            <td>
                @if (!item.IsCorrectLang)
                {
                    <span class="label label-danger">!</span>
                }
                else
                {
                    <span class="label label-success">ok</span>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsStatic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DisplayOnPreview)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsFilterable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsPublic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SortOrder)
            </td>
            <td>
                @if (!item.IsStatic)
                {
                    foreach (var value in item.ProductAttributeValues)
                    {
                        @Html.Raw(value.Title+", ")
                    }
                }
            </td>

            <td>
                @Html.ActionLink("Ред.", "Edit", new { id = item.Id },new{title="Редактировать"}) |
                @Html.ActionLink("Уд.", "Delete", new { id = item.Id }, new { onclick = "return confirm('Удалить атрибут?')",title="Удалить" }) 
                @if (!item.IsStatic)
                {
                    <text>|</text> @Html.ActionLink("Знач.", "Index", "ProductAttributeValue", new {area = "Admin", id = item.Id}, new{title="Значения"})
                }
            </td>
           
        </tr>
    }

</table>
