@model Metabuild.Models.Content

@section Title
{
    <div class="title">
        <span>@Model.Title</span>
    </div>
}

@if (Request.IsAuthenticated&&Model.MainPage)
{
    <div>
    @Html.ActionLink("Редактировать главную страницу", "Edit", "Content", new { Area = "Admin", id = Model.Id }, new { @class = "adminLink" })
    </div>
}

@Html.Raw(Model.Text)




@if (Request.IsAuthenticated)
{
<p>
    @Html.ActionLink("Добавить изображение", "AddImage", "Content", new { Area = "Admin", id = Model.Id }, new { @class = "adminLink" })
</p>
}

@Html.Partial("Gallery",Model.ContentImages)