@using FashionIntention.UI
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href='http://fonts.googleapis.com/css?family=Playfair+Display+SC:400,400italic&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=PT+Sans&subset=cyrillic,latin' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="/scripts/main.min.js?v=@SiteSettings.Version"></script>
    <link rel="stylesheet" type="text/css" href="/styles/main.min.css?v=@SiteSettings.Version" media="screen"/>    
    <script type="text/javascript">
        (function (fin) {
            var settings;
            if (fin.settings === null) {
                fin.settings = settings = {};
            } else {
                settings = fin.settings;
            }

            if (!('controlsDescriptors' in settings)) {
                settings.controlsDescriptors = {};
            }

            if (!('dataModels' in settings)) {
                settings.dataModels = {};
            }
        }(FIN));
    </script>
    
    <script type="text/javascript">
        (function (fin, a9) {
            var settings = fin.settings,
                l10n = a9.l10n;

            if (!('locale' in settings)) {
                settings.locale = 'rus';
            }

            if (!('dictionary' in settings)) {
                settings.dictionary = {
                    emMadeIn: 'Сделано в',
                    emStudio: 'Студии Евгения Миллера',
                    subscribeTitle: 'быть в курсе нового',
                    subscribeEnterEmail: 'Введите email',
                    subscribeSuccessful: 'Вы успешно подписались на рассылку',
                    feedbackTitle: 'обратная связь',
                    searchInputText: 'Поиск по сайту',
                    articlesTitle: 'Пресса',
                    aboutTitle: 'Оксана Литвиненко',
                    mediaTitle: 'медиа'
                }
            }

            l10n.locale = settings.locale;
            l10n.dictionary = settings.dictionary;

        }(FIN, A9));
    </script>
    
    <script type="text/javascript">
        (function (fin, a9) {
            var settings = fin.settings,
                l10n = a9.l10n,
                controlsDescriptors = settings.controlsDescriptors;

            controlsDescriptors.site = {
                urlEM: 'http://eugene-miller.com',
                contentImagesPath: '/content/images/',
                mainPageSlideTimeout: 10000,
                mainPageUrl: '/',
                newsPageUrl: 'news.html',
                eventsPageUrl: 'events.html',
                eventDetailsPageUrl: 'event-details.html/{id}',
                mediaPageUrl: 'media.html',
                partnershipPageUrl: 'partnership.html',
                contactsPageUrl: 'contacts.html',
                postDetailsUrl: '/post/{id}',
                postsUrl: '/posts/{year}/{month}',
                articleDetailsUrl: '/press/{id}'
            };

            fin.settings.controlsDescriptors.site.url = {
                em: 'http://eugene-miller.com',
                fb: 'https://www.facebook.com',
                twitter: 'https://twitter.com/',
                pinterest: 'https://ru.pinterest.com/'
            }

        }(FIN, A9));
    </script>
     <script type="text/javascript">
         (function (fin, a9) {
             var settings = fin.settings,
                 dataModels = settings.dataModels;
             @Html.Raw(ViewBag.Calendar);
             @Html.Raw(ViewBag.MainMenu);
             @Html.Raw(ViewBag.Tags);
             @Html.Raw(ViewBag.MainBanners);
        }(FIN, A9));
    </script>

    @RenderSection("scripts", required: false)
</head>
<body>
    @RenderBody()
</body>
</html>
