@using Kulumu
@using Kulumu.Models
@using SiteExtensions.Graphics
@model SiteModel 
@section Add
{
    @Html.Partial("Ad", new AdvertisingPanel { Article = Model.RandomArticle, DiscountProduct = Model.SingleDiscountProduct })
}
@section About
{
    @Html.Partial("About", new AboutModel { Title = Model.Category.BottomDescriptionTitle, Text = Model.Category.BottomDescription })
}
<div class="mainFrame">
    <div class="top">
        @Html.Partial("Title", Model.Category.Title)
    </div>
    <div class="middle">
        <div class="content">
            <div class="description">
                @if (Request.IsAuthenticated)
                {
                    @Html.ActionLink("Редактировать", "Edit", "Category", new { area = "Admin", id = Model.Category.Id }, new { @class = "adminLink" }) 
                    @Html.Raw("&nbsp;")
                    @Html.ActionLink("Удалить", "Delete", "Category", new { area = "Admin", id = Model.Category.Id }, new { @class = "adminLink", onclick = "return confirm('Удалить категорию?')" })
                    <br />
                }
                @Model.Category.Description
                <div class="top-pattern">
                </div>
            </div>
            @if (Request.IsAuthenticated)
            {
                <div>
                    @Html.ActionLink("Добавить изображение", "Create", "Product", new { area = "admin", categoryId = Model.Category.Id }, new { @class = "adminLink" })
                </div>
            }
            @if (!Model.Category.SpecialCategory)
            {
                <div class="categories">
                    <div class="containerLeft">
                        <div class="containerRight">
                            <div class="containerCenter">
                                <ul>
                                    @foreach (var category in Model.Categories)
                                    {
                                        if (Request.IsAuthenticated && category.SpecialCategory || !category.SpecialCategory)
                                        {
                                        <li>
                                            @if (Model.Category.Name == category.Name)
                                            {
                                                @category.Title
                                            }
                                            else
                                            {
                                                @Html.ActionLink(category.Title, "Gallery", "Home", new { id = category.Name }, null)
                                            }
                                        </li>
                                        }
                                    }
                                    @if (Request.IsAuthenticated)
                                    {
                                        <li>
                                            @Html.ActionLink("Добавить", "Create", "Category", new { area = "Admin" }, new { @class = "adminLink" })
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            }
            @foreach (var product in Model.Products)
            {
                <div class="product">
                    <div class="cont">
                        <div class="image">
                            <a rel="@Html.Raw("group1")" href="../../Content/Images/@product.ImageSource" class="fancyImage">
                                @Html.Raw(Html.CachedImage("~/Content/Images/", product.ImageSource, SiteSettings.GetThumbnail("galleryPreview")))
                            </a>
                        </div>
                        @*<div class="frame">
                        </div>*@
                    </div>
                    @*<div class="description">
                        <div class="title">
                            
                        </div>
                    </div>*@
                </div>
            }
            <div class="clear">
            </div>
            <div class="bottom-pattern">
            </div>
        </div>
    </div>
    <div class="bottom">
    </div>
</div>
