@model Shop.WebSite.Areas.Admin.Models.DataTransferModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@section AdminNavigation
{
    @Html.Partial("Menu", "Export")
}

@{
    var list = Model.Categories.Select(category => new SelectListItem { Selected = false, Text = category.Title, Value = category.Name }).ToList();
}

@if (Model.ImportResult.ErrorCode!=-1)
    {
        <div style="padding: 20px 0 10px 0; text-align: center; width: 500px; position: relative; margin: 0 auto;">
            
            @if (Model.ImportResult.ErrorCode != 0)
            {
                <h3><span class="label label-danger">@Model.ImportResult.ErrorMessage</span></h3>
            }
            else
            {

                <h3><span class="label label-success">Файл успешно загружен.</span></h3>

                <table class="table table-striped">
                    <tr>
                        <td style="text-align: left">Всего товаров:</td>
                        <td>@Model.ImportResult.ProductCount</td>
                    </tr>
                    <tr>
                        <td style="text-align: left">Обновлено товаров:</td>
                        <td>@Model.ImportResult.UpdatedProductCount</td>
                    </tr>
                    <tr>
                        <td style="text-align: left">Добавлено товаров:</td>
                        <td>@Model.ImportResult.NewProductCount</td>
                    </tr>
                    <tr>
                        <td style="text-align: left">Не удалось добавить товаров:</td>
                        <td>@Model.ImportResult.AddProductFailedCount</td>
                    </tr>
                    <tr>
                        <td style="text-align: left">Не удолось обновить товаров:</td>
                        <td>@Model.ImportResult.UpdateProductFailedCount</td>
                    </tr>
                    <tr>
                        <td style="text-align: left">Не удалось распознать External Id:</td>
                        <td>@Model.ImportResult.ReadProductFailedCount</td>
                    </tr>
                    <tr>
                        <td style="text-align: left">Добавлено позиций товара:</td>
                        <td>@Model.ImportResult.AddedArticles</td>
                    </tr>
                    <tr>
                        <td style="text-align: left">Обновлено позиций товара:</td>
                        <td>@Model.ImportResult.UpdatedArticles</td>
                    </tr>
                    <tr>
                        <td style="text-align: left">Удалено позиций товара:</td>
                        <td>@Model.ImportResult.DeletedArticles</td>
                    </tr>
                </table>

            }
            
        </div>
    }


<div style="width: 500px; position: relative; margin: 30px auto;">
    
    

    @using (Html.BeginForm("Export", "DataTrasfer", FormMethod.Get, new { role = "form" }))
    {
        <div class="jumbotron">
            <div class="form-group">
                <label>Выберите категорию</label>
                @Html.DropDownList("categoryName", (IEnumerable<SelectListItem>)list, new { @class = "form-control" })

            </div>

            <button type="submit" class="btn btn-success">Экспорт</button>
        </div>
  
    }


    @using (Html.BeginForm("Import", "DataTrasfer", FormMethod.Post, new { role = "form", enctype = "multipart/form-data" }))
    {
        <div class="jumbotron" >
            <div class="form-group">
                <label for="fileUpload">Выберите файл для импорта</label>
                <input type="file" name="fileUpload" id="fileUpload">
                @*<p class="help-block">Example block-level help text here.</p>*@
            </div>

            <button type="submit" class="btn btn-default">Импорт</button>

        </div>
    }

</div>
