@using Listelli.App_LocalResources
@using Listelli.Models
@model Listelli.Models.FactoryCatalogueModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section UserInfoArea
{
    @Html.Partial("UserInfo")
}

@section Title
{
    @Html.Partial("PageTitle", new ContentTitleModel { Type = TitleType.Link, Title = GlobalRes.FactoryCatalogue, Action = "Index", Controller = "Category" })
}


@if (Roles.IsUserInRole(User.Identity.Name, "Administrators"))
{
    <div class="adminLinkContainer">
        @Html.ActionLink("Добавить бренд", "Create", "CategoryBrand", new { area = "Admin", category = Model.Category.Id }, new { @class = "adminLink" })
    </div>
}
<div class="categories">
    <div class="brandsConteiner">
        <div class="top">
        </div>
        <div class="middle">
            <div class="title">
                @Model.Category.Title
            </div>
            <div class="categoryBrands">
                <ul>
                    @foreach (var brand in Model.Category.CategoryBrands.OrderBy(c => c.SortOrder))
                    {
                        <li>
                            @if (ViewBag.CurrentBramdName == brand.Name)
                            {
                                @brand.Title
                            }
                            else
                            {
                                @Html.ActionLink(brand.Title, "Details", "Brand", new { area = "FactoryCatalogue", id = brand.Name, categoryId = Model.Category.Name }, null)
                            }
                            @if (Roles.IsUserInRole(User.Identity.Name, "Administrators"))
                            {
                                <span class="sortOrder">@brand.SortOrder</span>
                                @Html.ActionLink("Ред", "Edit", "CategoryBrand", new { area = "Admin", id = brand.Id }, new { @class = "adminLink" })
                                @Html.Raw("&nbsp;")
                                @Html.ActionLink("Удалить", "Delete", "CategoryBrand", new { area = "Admin", id = brand.Id }, new { @class = "adminLink", onclick = "return confirm('Удалить бренд?')" })
                            }
                        </li>
                        
                    }
                </ul>
            </div>
        </div>
        <div class="bottom">
        </div>
    </div>
    <div class="categoryBrandItems">
        @if (Model.Brand != null)
        {
            if (Roles.IsUserInRole(User.Identity.Name, "Administrators"))
            {
            <div class="adminLinkContainer">
                @Html.ActionLink("Добавить элемент бренда", "Create", "CategoryBrandItem", new { area = "Admin", brandId = Model.Brand.Id }, new { @class = "adminLink" })
                
            </div>
            }
        }
        
        <div class="accordion" id="accordion1">
            @foreach (var item in Model.Brand.CategoryBrandItems.OrderBy(b=>b.SortOrder))
            {
                <h3>
                    <span>@item.Title</span>
                </h3>
                <div class="categoryBrandItem">
                    @if (Roles.IsUserInRole(User.Identity.Name, "Administrators"))
                    {
                            @Html.ActionLink("Редактировать", "Edit", "CategoryBrandItem", new { area = "Admin", id = item.Id }, new { @class = "adminLink" })
                            @Html.Raw("&nbsp;")
                            @Html.ActionLink("Удалить", "Delete", "CategoryBrandItem", new { area = "Admin", id = item.Id }, new { @class = "adminLink", onclick = "return confirm('Удалить элемент?')" })
                            @Html.Raw("&nbsp;")
                            <span class="sortOrder">@item.SortOrder</span>
                            <br/>
                    }
                    @Html.Raw(item.Content)
                </div>
            }
        </div>
    </div>
</div>
@section Includes
{
    <link href="@Url.Content("~/Content/FactoryCatalogue.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/jquery-ui-1.10.3.custom.min.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-ui-1.10.3.custom.min.js")" type="text/javascript"></script>
    

    
    <script type="text/javascript">
        $(document).ready(function () {
            $("#accordion1").accordion({
                active: false,
                collapsible: true,
                beforeActivate: function (event, ui) {
                    //alert(ui.newHeader.html());  // For instance.
                    //alert(ui.oldHeader.html()); 
                    //alert(ui); 
                    ui.newHeader.html("<span style='border-bottom:1px dashed'>" + ui.newHeader.text() + "</span>");
                    ui.oldHeader.html("<span style='border-bottom:1px solid'>" + ui.oldHeader.text() + "</span>");
                }
            });

            //            $("#accordion1").click(function () {
            //                var header = $('#accordion1').accordion('option', 'header');
            //                alert(header);    
            //            });


            $('#accordion1').bind('accordionchange', function (event, ui) {

                alert(ui.id);
            });

        });
        
    </script>
}
