@using HavilaTravel.Models
<!DOCTYPE html>
<html>
<head>
    <title>HAVILA TRAVEL - @ViewBag.PageTitle</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Menu.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Scrollbox.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/PlacesSelector.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Articles.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Gallery.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.5.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.fancybox.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Content/fancybox/jquery.fancybox.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.custom.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.cycle.all.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.tinyscrollbar.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>
    <meta name="description" content="@ViewBag.SeoDescription" />
    <meta name="keywords" content="@ViewBag.SeoKeywords" />
    @RenderSection("Includes", false)
    <script type="text/javascript">
        $(function () {
            $(".fancy").fancybox({ showCloseButton: true, cyclic: true, showNavArrows: true, padding: 0, margin: 0, centerOnScroll: true });

            $("#closeButtonPlaces").click(function () {

                $("#citiesSelector").css("display", "none");
            });

            $("#scrollbar1").tinyscrollbar({ sizethumb: 15 });

            $("#countrySelector").click(function (e) {
                $("#countryBox").css("display", "block");
                $("#countryBox").css("position", "absolute");
                $("#scrollbar1").tinyscrollbar({ sizethumb: 15 });
                e.stopPropagation(); if (window.event) { window.event.cancelBubbling = true; }
            });

            $(".reviewLink").click(function () {
                $("#citiesSelector").css("display", "block");
            });

            $("body").click(function () {
                if ($("#countryBox").css("display") == "block") {
                    $("#countryBox").css("display", "none");
                    $("#countryBox1").css("display", "block");
                }
            });

            $("#countryBox").click(function (e) {
                e.stopPropagation(); if (window.event) { window.event.cancelBubbling = true; }
            });

            $("#closeButtonCountries").click(function () {
                $("#countryBox").css("display", "none");
                $("#countryBox1").css("display", "block");
            });

            $("#accordion1").accordion(
            {
                animated: 'slide',
                collapsible: true,
                autoHeight: false,
                active: false,
                change: function (event, ui) {
                    ui.newHeader.css("color", "#cc0000");
                    ui.oldHeader.css("color", "#a3a3a3");
                }
            });

            $("#accordion1 table").click(function () {
                this.blur();
            });

            $('#slideshow').cycle(
            {
                fx: 'fade',
                after: onAfter,
                sync: true,
                timeout: 5000,
                delay: -1000
            });

            function onAfter(curr, next, opts) {
                $('#leftCaption').html(next.alt);
                $('#rightCaption').html(next.id);
                $('#slideshowLink').attr('href', 'http://havila-travel.com/places/' + next.title);
            };

            //$("#bellboy").delay(1000).animate({ "left": "-=275px" }, 1000);

            $("#query").focus(function () {
                $(this).val("");
                $(this).css("color", "#000");
            });

            $("#changeBellboyLink").click(function () {
            });
        });
    </script>
</head>
<body>
    <div id="header">
        <div id="innerHeader">
            @{
                if (Request.IsAuthenticated)
                {
                <div id="logOffLinkContainer">
                    @Html.ActionLink("Выйти из системы администрирования", "LogOff", "Account", new { Area = "" }, new { @class = "adminLink" })
                </div>
                }
            }
            @RenderSection("RootLogoLink", false)
            <div id="spaLink">
                Посетите наш<br />
                <a href="http://www.havila.com.ua">спа-клуб "ХА-ВИ"</a></div>
            <div id="subscribeLink">
                @Html.ActionLink("Подписаться", "Index", "Subscribe", new { Area = "" }, null)
                <br />
                на рассылку новостей
                @{
                    if (Request.IsAuthenticated)
                    {
                    <br />
                    @Html.ActionLink("Подписчики на рассылку", "Subscribers", "Subscribe", new { Area = "" }, new { @class = "adminLink" })
                    }
                }
            </div>
            <div id="mainBanner">
                @RenderSection("MainBanner", false)
                <div id="ramka">
                    <div id="caption">
                        <div id="leftCaption">
                        </div>
                        <div id="rightCaption">
                        </div>
                    </div>
                </div>
                <a id="slideshowLink" href="">
                    <img src="../../Content/img/pixel.gif" /></a>
            </div>
            @RenderSection("HeaderLeftMenu", false)
        </div>
        @RenderSection("MainMenu", false)
    </div>
    <div id="page">
        <table>
            <tr>
                <td id="leftContent">
                    @RenderSection("QuickSearch", false)
                    @RenderSection("LeftSubMenu", false)
                    @RenderSection("SmallBannerLeft", false)
                </td>
                <td id="centerContent">
                    <div id="contentContainer">
                        @if (Request.IsAuthenticated)
                        {
                            @Html.ActionLink("Редактировать главную страницу", "Edit", "Content", new { Area = "Admin", id = "8" }, new { @class = "adminLink" })
                            <br />
                            @Html.ActionLink("Администрирование баннеров", "Index", "Banner", new { Area = "Admin" }, new { @class = "adminLink" })
                         
                        }
                        @RenderSection("CountrySelectors", false)
                        @RenderSection("ContentTitle", false)
                        @RenderSection("SubMenu", false)
                        <div id="pattern">
                        </div>
                        @RenderBody()
                        @RenderSection("MainSearch", false)
                        @RenderSection("Accordion", false)
                    </div>
                </td>
                <td id="rightContent">
                    <div id="chat">
                        <a href="#">Чат с оператором</a><br />
                        <div class="time">
                            (с 10:00 до 19:00, кроме<br />
                            выходных)</div>
                    </div>
                    <div id="booking">
                        @Html.ActionLink("Подбор тура онлайн", "Index", "Home", new { id = "booking" }, null)
                        @*<a href="#">Онлайн-бронирование</a>*@
                    </div>
                    @RenderSection("SmallBannerRight", false)
                </td>
            </tr>
        </table>
    </div>
    <div id="footer">
        <div id="footerNew">
            @RenderSection("BellBoy", false)
            <div id="innerFooter">
                <div id="sign">
                    &copy; @DateTime.Now.Year Хавила Тревел<br />
                    Сайт разработан в <a href="http://m-brand.com.ua">Студии Евгения Миллера</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
