@using Dev.Mvc.Helpers
@model IEnumerable<HavilaTravel.Models.Accordion>
<div class="accordion">
    @foreach (var item in Model.OrderBy(a => a.SortOrder))
    {
        <table>
            <tr>
                <td class="leftPattern">
                </td>
                <td class="title">
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td class="rightPattern">
                </td>
            </tr>
        </table>
               if (Request.IsAuthenticated)
               {
        @Html.ActionLink("edit", "Edit", "Accordion", new { Area = "Admin", id = item.Id }, new { @class = "adminLink" })
        @Html.Raw("&nbsp;")
        @Html.ActionLink("addPhotos", "AddPhoto", "Accordion", new { Area = "Admin", id = item.Id }, new { @class = "adminLink" })
               }


               if (!string.IsNullOrEmpty(item.Text))
               {
                    <div style="margin-bottom: 50px;">
                        @Html.Raw(item.Text)
                    </div>
               }
         
        
       
           <table>
           <tr>
            @{
                int cnt = 0;
                foreach (var image in item.AccordionImages)
                {
                    <td>
                    <div class="accordionPicture">
                        @Html.Raw(Html.CachedImage("~/Content/Photos/", image.ImageSource, "thumbnail1", image.ImageSource))
                    </div>
                    <div class="accordionPictureTitle">
                        @image.Title
                    </div>
                    </td>
                    cnt++;
                    if(cnt%3==0)
                    {
                        @Html.Raw("</tr><tr>")
                    }

                }
            }
            </tr>
            </table> 

        
        
    }
    @{
        if (Request.IsAuthenticated)
        {
        <p>
            @Html.ActionLink("Create New", "Create", "Accordion", new { Area = "Admin", id = ViewBag.CurrentContentId }, new { @class = "adminLink" })
        </p>        
        }
    }
</div>
