@model HavilaTravel.Models.Banner



    <div class="smallBanner">
        <div class="header banner@{@Model.BannerType }">
        
        @if (Model.BannerType == 3)
        {
            <div class="hotTour"><span>Горящий тур</span>:</div>
        }
        else if (Model.BannerType == 2)
        {
            <div class="topicTour">Ближайший<br /><span>тематический тур</span>:</div>
        }
        
        
        
        </div>
        <div class="topTitle">@Model.Title </div>
        <div class="picture">
            <img src="../Content/Banners/@Model.ImageSource" alt="" />
        </div>
        <div class="bottomTitle">@Model.Title</div>
    </div>

@*<fieldset>
    <legend>Banner</legend>

    <div class="display-label">BannerType</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BannerType)
    </div>

    <div class="display-label">ImageSource</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ImageSource)
    </div>

    <div class="display-label">Price</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Price)
    </div>

    <div class="display-label">Title</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>
</fieldset>*@

