@using HavilaTravel.Models
@{
    var menuItems = (List<Content>)ViewBag.SelectCountryMenu;
}
@if (menuItems != null && menuItems.Count() > 0)
{

       
    
    <div class="placesSelector" id="countryBox">
        <div class="placesSelectorTop">
        </div>
        <div class="placesSelectorCenter">
            <div class="patternTop">
            </div>
            <div class="placesSelectorContent">
                <div id="scrollbar1">
                    <div class="scrollbar">
                        <div class="track">
                            <div class="thumb">
                                <div class="end">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="viewport">
                        <div class="overview">
                            @foreach (var region in menuItems.OrderBy(m => m.SortOrder))
                            {
                                <div>
                                    @Html.ActionLink(region.MenuTitle, "Index", "Place", new { id = region.Name }, null)
                                    @if (Request.IsAuthenticated)
                                    {
                                        @Html.Raw("&nbsp;&nbsp;")
                                        @Html.ActionLink("Редактировать", "Edit", "Content", new { Area = "Admin", id = region.Id }, new { @class = "adminLink" })
                                        @Html.Raw("&nbsp;&nbsp;")
                                        @Html.ActionLink("Удалить", "Delete", "Content", new { Area = "Admin", id = region.Id }, new { @class = "adminLink", onclick = "return confirm('Удалить регион?')" })
                                    }
                                </div>
                                    foreach (var country in region.Children.OrderBy(m => m.SortOrder))
                                    {
                                <div style="padding-left: 30px;">
                                    @Html.ActionLink(country.MenuTitle, "Index", "Place", new { id = country.Name }, null)
                                    @if (Request.IsAuthenticated)
                                    {
                                        @Html.Raw("&nbsp;&nbsp;")
                                        @Html.ActionLink("Редактировать", "Edit", "Content", new { Area = "Admin", id = country.Id }, new { @class = "adminLink" })
                                        @Html.Raw("&nbsp;&nbsp;")
                                        @Html.ActionLink("Удалить", "Delete", "Content", new { Area = "Admin", id = region.Id }, new { @class = "adminLink", onclick = "return confirm('Удалить страну?')" })
                                    }
                                </div>
                                    }
                            }

                            @if (Request.IsAuthenticated)
                            {
                                <div>
                                @Html.ActionLink("+Регион", "AddRegion", "Content", new { Area = "Admin" }, new { @class = "adminLink" })
                                </div>
                            }
                            
                        </div>
                    </div>
                </div>
                @* @foreach (var countryItem in menuItems.Where(m => m.ContentModel == 1).OrderBy(m => m.SortOrder))
            {
                
                
                @countryItem.MenuTitle
                <br />
           foreach (var cityItem in menuItems.Where(m => m.ContentModel == 2 && m.Parent == countryItem).OrderBy(m => m.SortOrder))
           {
                @Html.Raw("&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;") @cityItem.MenuTitle
                <br />
           }
            }*@
            </div>
            <div class="patternBottom">
            </div>
        </div>
        <div class="placesSelectorBottom">
        </div>
    </div>
}
