<div id="mainMenu">
    @{
        var menuItems = (List<HavilaTravel.Models.Content>)ViewBag.MainMenuItems;
    }
    <table>
        <tr>
            @{
                int cnt = 0;
                if(menuItems!=null)
                {
                    foreach (var item in menuItems)
                    {
                        cnt++;

                        string selected = ViewBag.CurrentContentId == item.Name ? "selected" : "";

                        if (cnt == 1)
                        {
                            <td class="firstMenuItem @selected">
                            </td>
                        }

                        var style = cnt == 1 ? "white-space: nowrap" : "";

                        <td style="@style" class="@selected">
                            @if (ViewBag.CurrentContentId != item.Name)
                            {
                                @Html.ActionLink(item.MenuTitle, "Index", "Home", new {id = item.Name}, null)
                                if(Request.IsAuthenticated)
                                {
                                    <br />
                                    @Html.ActionLink("Edit", "Edit", "Content", new { Area = "Admin", id = item.Id }, new { @class = "adminLink" })
                                    <br />
                                    @Html.ActionLink("AddSubmenu", "AddSubmenu", "Content", new { Area = "Admin", id = item.Id }, new { @class = "adminLink" })
                                }
                            }
                            else
                            {
                                @item.MenuTitle
                            }
                        </td>

                            if (cnt == menuItems.Count())
                            {
                            <td class="lastMenuItem @selected">
                                &nbsp;
                            </td>
                        }
                    }
                }
            }
        </tr>
    </table>
</div>
