@using HavilaTravel.Models
@model HavilaTravel.Models.Content
@if (Model.PlaceKind == (int)PlaceKind.Region ||
               Model.PlaceKind == (int)PlaceKind.Country ||
               Model.PlaceKind == (int)PlaceKind.City)
{

    <div class="subMenu">
        <table>
            <tr>
                <td class="leftSide">
                </td>
                <td class="separator">
                </td>
                <td>
                    @switch (Model.PlaceKind)
                    {
                        case (int)PlaceKind.Region:
                        <div class="reviewLink">
                            Выбрать страну
                        </div>        
                            break;

                        case (int)PlaceKind.Country:
                        <div class="reviewLink">
                            Выбрать город</div>
                            break;

                        case (int)PlaceKind.City:
                            if (Request.QueryString["showPlacesReview"] == "True")
                            {
                        @Html.Raw("Достопримечательности")
                            }
                            else
                            {
                        @Html.ActionLink("Достопримечательности", "Index", "Place", new { id = Model.Name, showPlacesReview = true }, null)
                            }

                            if (Request.IsAuthenticated)
                            {
                        <div class="adminLinkContainer">
                            @{
                                var placeReview = Model.Children.Where(c => c.PlaceKind == 7).FirstOrDefault();
                                if (placeReview != null)
                                {
                                
                                @Html.ActionLink("Редактировать", "Edit", "Content", new { Area = "Admin", id = placeReview.Id }, new { @class = "adminLink" })
                               
                                }
                                else
                                {
                                @Html.ActionLink("+Достопримечательности", "AddSubmenu", "Content", new { Area = "Admin", id = Model.Id, placeKind = 7 }, new { @class = "adminLink" })
                                }
                            }
                        </div>
                            }
                            break;
                    }
                    @{
                    if (Request.IsAuthenticated)
                    {
                        switch (Model.PlaceKind)
                        {
                            case (int)PlaceKind.Region:
                        <div class="adminLinkContainer">
                            @Html.ActionLink("+Страна", "AddSubmenu", "Content", new { Area = "Admin", id = Model.Id, placeKind = 2 }, new { @class = "adminLink" })
                        </div>
                       break;

                            case (int)PlaceKind.Country:
                        <div class="adminLinkContainer">
                            @Html.ActionLink("+Город", "AddSubmenu", "Content", new { Area = "Admin", id = Model.Id, placeKind = 3 }, new { @class = "adminLink" })
                        </div>
                       break;
                        }

                    }
                    }
                </td>
                <td>
                    @{
                    var spa = Model.Children.FirstOrDefault(c => c.PlaceKind == (int)PlaceKind.SpaInfo);
                    if (spa != null)
                    {
                        if (Model.PlaceKind == (int)PlaceKind.City)
                        {

                            if (Request.QueryString["showSpa"] == "True")
                            {
                        @Html.Raw("Отели")
                            }
                            else
                            {
                        @Html.ActionLink("Отели", "Index", "Place", new { id = Model.Name, showSpa = true }, null)
                            }

                            if (Request.IsAuthenticated)
                            {
                        <div class="adminLinkContainer">
                            @Html.ActionLink("+Отель", "AddSubmenu", "Content", new { Area = "Admin", id = Model.Id, placeKind = 5 }, new { @class = "adminLink" })
                        </div>
                            }
                        }
                        else
                        {
                        @Html.ActionLink("СПА-курорты", "Index", "Place", new { id = Model.Name, showSpa = true }, null)
                   if (Request.IsAuthenticated)
                   {
                        <div class="adminLinkContainer">
                            @Html.ActionLink("+Курорт", "AddSubmenu", "Content", new { Area = "Admin", id = Model.Id, placeKind = 5 }, new { @class = "adminLink" })
                        </div>
                   }
                        }

                        if (Request.IsAuthenticated)
                        {
                        <div class="adminLinkContainer">
                            @Html.ActionLink("Редактировать", "Edit", "Content", new { Area = "Admin", id = spa.Id }, new { @class = "adminLink" })
                        </div>
                        }

                    }
                    else
                    {
                        if (Request.IsAuthenticated)
                        {
                        @Html.ActionLink("+Spa", "AddSubmenu", "Content", new { Area = "Admin", id = Model.Id, placeKind = 6 }, new { @class = "adminLink" })
                        }

                    }
                    }
                </td>
                <td>
                    @{
                    if (Model.PlaceKind == (int)PlaceKind.Country)
                    {
                        var price = Model.Children.FirstOrDefault(c => c.PlaceKind == (int)PlaceKind.PriceTable);
                        if (price != null)
                        {
                        @Html.ActionLink("Цены по стране", "Index", "Place", new { id = Model.Name, showPrices = true }, null)
                   if (Request.IsAuthenticated)
                   {
                        <div class="adminLinkContainer">
                            @Html.ActionLink("Редактировать", "Edit", "Content", new { Area = "Admin", id = price.Id }, new { @class = "adminLink" })
                        </div>
                   }
                        }
                        else
                        {
                            if (Request.IsAuthenticated)
                            {
                        @Html.ActionLink("+Цены по стране", "AddSubmenu", "Content", new { Area = "Admin", id = Model.Id, placeKind = 8 }, new { @class = "adminLink" })
                            }

                        }
                    }
                    }
                </td>
                <td class="separator">
                </td>
                <td class="rightSide">
                </td>
            </tr>
        </table>
    </div>
}