@using HavilaTravel.Models
<div class="plcesSelectorFixed" id="citiesSelector">
    <div class="plcesSelectorFixedTop">
    </div>
    <div class="plcesSelectorFixedMiddle">
        <div class="closeButtonContainer">
            <div class="closeButton" id="closeButtonPlaces">
            </div>
        </div>

        <div class="patternsContaiter">
        <table>
        <tr>
        <td class="leftPattern"></td>
        <td class="title">Выберите страну/город</td>
        <td class="rightPattern"></td>
        </tr>
        </table>
        </div>

        <div class="content">
        @{
            var places = (List<MenuItem>)ViewBag.PlacesSelectorContent;


            foreach (var item in places)
            {
            <div class="plcesSelectorFixedItem">
                @Html.ActionLink(item.Title, "Index", "Place", new { id = item.Name }, null)
                @if (Request.IsAuthenticated)
                {
                    @Html.Raw("&nbsp;")
                    <span class="sortOrder">@Html.Raw(item.SortOrder.ToString())</span>
                    @Html.Raw("&nbsp;")
                    @Html.ActionLink("Ред", "Edit", "Content", new { Area = "Admin", id = item.Id }, new { @class = "adminLink" })
                    @Html.Raw("&nbsp;")
                    @Html.ActionLink("Удалить", "Delete", "Content", new { Area = "Admin", id = item.Id }, new { @class = "adminLink", onclick = "return confirm('Удалить запись?')" })
                }
            </div>
            }
            <div class="clear"></div>
        }
        </div>

        <div class="patternBottom"></div>
    </div>
    <div class="plcesSelectorFixedBottom">
    </div>
</div>
