@model List<Menu>
           
@using HavilaTravel.Models
@{
    if(Model!=null)
    {
        var menuItems = ((List<Menu>)Model).Where(m => m.MenuLevel == 2).Select(m => m).FirstOrDefault();

        if (menuItems != null && menuItems.Count > 0)
        {
            <div class="subMenu">
                <table>
                    <tr>
                        <td class="leftSide">
                        </td>
                        <td class="separator">
                        </td>

                        @foreach (var item in menuItems.OrderBy(m => m.SortOrder))
                        {
                            <td>
                    
                                @{
                                    if (item.Selected)
                                    {
                                        if(item.Current)
                                        {
                                            @item.Title
                                        }
                                        else
                                        {
                                            @Html.ActionLink(item.Title, "Index", "Home", new { id = item.Name }, new{@class="current"})
                                        }
                                    }
                                    else
                                    {
                                        @Html.ActionLink(item.Title, "Index", "Home", new { id = item.Name }, null)
                                    }
                                    
                                    if (Request.IsAuthenticated)
                                    {
                                        @Html.Raw(" "+item.SortOrder)
                                    }
                                    
                                }

                    
                    
                                @{
                                    if (Request.IsAuthenticated)
                                    {
                                        <div class="adminLinkContainer">
                                        @Html.ActionLink("Редактировать", "Edit", "Content", new { Area = "Admin", id = item.Id }, new { @class = "adminLink" })
                                        </div>
                                    <div class="adminLinkContainer">    
                                    @Html.ActionLink("+Подраздел", "AddSubmenu", "Content", new { Area = "Admin", id = item.Id }, new { @class = "adminLink" })
                                        </div>
                                    <div class="adminLinkContainer">
                                        @Html.ActionLink("Удалить", "Delete", "Content", new { Area = "Admin", id = item.Id }, new { @class = "adminLink", onclick = "return confirm('Вы действительно хотите удалить этот раздел?')" })
                                        </div>
                                    }
                                }
                            </td>
                        }
                        <td class="separator">
                        </td>
                        <td class="rightSide">
                        </td>
                    </tr>
                </table>
            </div>

        }
    }
}
