@using Mayka.Helpers
@using SiteExtensions.Graphics
@model Mayka.Models.SiteModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@Html.Partial("_ContentHeader", new ContentHeaderModel { Title = Model.Content.Title, Text = Model.Content.Text })


<div class="galleryContainer">
    @if (Request.IsAuthenticated)
    {
        <div>
            @Html.ActionLink("Добавить изображение", "Create", "Gallery", new { area = "Admin", id = Model.Content.Id }, new { @class = "adminLink" })
        </div>
    }

@*@foreach (var item in Model.Content.PhotoGalleryItems)
    {
        @Html.Raw(Html.OriginalImage("/Content/Images/", item.ImageSource))
    }*@
    
   <div class="slider-controls">
        <div>
            <div id="slider-prev"></div>
            <div id="slider-next"></div>
            <div class="clear"></div>
        </div>
   </div> 

    <ul class="bxslider">
        @foreach (var item in Model.Content.PhotoGalleryItems)
        {
            <li>@Html.Raw(Html.OriginalImageWitTitleAttribute("/Content/Images/", item.ImageSource, HttpUtility.HtmlEncode("<a target=\"_blank\" href=\""+item.Url+"\">"+item.Title+"</a>")))</li>
        }
    </ul>
    
   

</div>





@section Menu
{
    @Html.Partial("Menu", Model.Menu)
}



