@using EM2013.Models
@model EM2013.Models.SiteViewModel
@section MainMenu
{
    @Html.Partial("_MainMenu", Model.Menu)
}
@if (Request.IsAuthenticated)
{
    @Html.ActionLink("редактировать", "Edit", "Content", new { area = "Admin", id = Model.Content.Id }, new { @class = "adminLink" })
}
@Html.Partial("_ContentDescription", new ContentDescription { Text = Model.Content.Text, Title = Model.Content.Title })

@if (Model.Content.Name == "feedback")
{
    
    <div id="sendFeedbackFormContent">
        @Html.Partial("FeedbackForm", new FeedbackFormModel())
    </div>
}

@section Footer
{
    <div class="footer">
        <div class="logo">
        </div>
    </div>
}

@section LanguageSwitcher
{
<div class="langContainer">
<div class="lang">
    Рус | @Html.ActionLink("Eng","English","Home")
</div>
</div>
}
