@using Shop.WebSite.Models
@model Shop.WebSite.Models.CartModel

@{
    ViewBag.Title += " — Спасибо за заказ!";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="menu-panel">
     @Html.Partial("LanguageSwitcher")
    @Html.Raw(Html.ActionLink("[LINK]", "Index", "Home", null, new { id = "logo" }).ToString().Replace("[LINK]", ""))
    @Html.Partial("MainMenu", new MainMenuModel { Categories = Model.Categories, Contents = Model.Contents })
</div>
<div id="main-banner">
</div>


<div id="thanks">
    <div id="order-number">
        <div class="title">Номер вашего заказа</div>
        <div class="value">@Model.OrderComplete.Number</div>
    </div>
    <div id="order-total-amount">
        <div class="title">К оплате, грн.:</div>
        <div class="value">@Model.OrderComplete.Amount.ToString("N")</div>
    </div>

    <div class="clearfix"></div>

    <div id="thanks-text">
        Спасибо, @Model.OrderComplete.CustomerName! Мы с Вами свяжемся<br>
        в ближайжее время
    </div>
    <div id="main-page-link">
        @Html.ActionLink("В начало сайта","Index","Home") &raquo;
    </div>
</div>
<div class="line"></div>
