@using Filimonov
@using SiteExtensions.Graphics
@model Filimonov.Models.ContentItemProjects
<div class="container">
    <div class="page">
        <div class="menu menuItem projectMenuItem">
            <a href="#" class="showLink">@Model.Title</a>
            @if (Request.IsAuthenticated)
            {
                <div>
                    @Html.ActionLink("Редактировать", "Edit", "Content", new { area = "Admin", id = Model.Id }, new { @class = "adminLink" })
                </div>
            }
        </div>
    </div>
    <div class="frame projectFrame">
        <div class="top">
        </div>
        <div class="middle projects">
            <div class="hide">
                <div class="hideLink">
                </div>
            </div>
            <div class="titleContainer">
                <div class="inner">
                    <div class="titleContainerLeft">
                        <div class="titleContainerRight">
                            <div class="title">
                                @Model.Title
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            
            @foreach (var project in Model.Projects)
            {
                <div class="project">
                    <div class="layer">
                        <p>@project.Title</p>
                        @Html.Raw(Html.ActionLink("[IMAGE]", "Projects", "Home", new { id = project.Name }, new { @class = "projectDetailsLink" }).ToString().Replace("[IMAGE]", ""))
                    </div>
                    @Html.Raw(Html.CachedImage("~/Content/Images/", project.ImageSource, SiteSettings.GetThumbnail("projectPreview")))
                    @*@Html.Raw(Html.ActionLink("[IMAGE]", "Projects", "Home", new { id = project.Name }, new { @class = "projectDetailsLink" }).ToString().Replace("[IMAGE]", ))*@
                </div>
            }
            <div class="clear"></div>
            
            @if (Request.IsAuthenticated)
            {
                <div class="adminLinkContainer">
                @Html.ActionLink("Добавить проект", "Create", "Project", new { Area = "Admin" }, new { @class = "adminLink" })
            </div>
            }

        </div>
        <div class="bottom">
        </div>
    </div>
</div>
<div class="page">
    <div class="menu" style="height: 50px;">
    </div>
</div>
