@model Rakurs.Models.ProductAttribute
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    
    <table class="adminEditContentTable">
        <tr>
            <td colspan="2">
                <h2>
                    Создание атрибута</h2>
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(model => model.Title)
            </td>
            <td>
                RU @Html.EditorFor(model => model.Title)
                @Html.ValidationMessageFor(model => model.Title)
                <br />
                EN @Html.EditorFor(model => model.TitleEng)
                @Html.ValidationMessageFor(model => model.TitleEng)
            </td>
        </tr>
    </table>
    <div class="buttonsContainer">
        <input type="submit" value="Сохранить" />
        @Html.ActionLink("Назад", "Index", "ProductAttributes", new { Area = "Admin" }, null)
    </div>
}
@section Includes
{
    <script type="text/javascript" src="/Scripts/MicrosoftAjax.js"></script>
    <script type="text/javascript" src="/Scripts/MicrosoftMvcValidation.js"></script>
}
