@using EM2013
@using EM2013.Helpers
@using SiteExtensions.Graphics
@model EM2013.Models.ProductItem
<div class="productItem">
    
    @if (!string.IsNullOrEmpty(Model.Description))
    {
        <div class="description">
        
            <table class="cloud">
                <tr>
                    <td class="top-left"></td>
                    <td  colspan="2"  class="top-right"></td>
                </tr>
                <tr>
                    <td class="left"></td>
                    <td colspan="2" class="center">
                        @Html.Raw(Model.Description)
                    </td>
                </tr>
                <tr>
                    <td class="bottom-left"></td>
                    <td class="bottom">&nbsp;</td>
                    <td class="bottom-right"></td>
                </tr>
            </table>
            <div class="cloud-arrow">
            
            </div>
        </div>
    }
    @if (Request.IsAuthenticated)
    {
        <div>
            @Html.ActionLink("редактировать", "Edit", "ProductItem", new { area = "Admin", id = Model.Id }, new { @class = "adminLink" })
            @Html.Raw("&nbsp;")
            @Html.ActionLink("удалить", "Delete", "ProductItem", new { area = "Admin", id = Model.Id }, new { @class = "adminLink", onclick = "return confirm('Удалить объект?')" })
        </div>
    }
    
    @*@Html.Raw(Html.CachedImage("~/Content/Images/", Model.ImageSource, SiteSettings.GetThumbnail("productItem"), ScaleMode.FixedWidth))*@
    @*@Html.Image("~/Content/Images/", Model.ImageSource)*@
        @if (!string.IsNullOrEmpty(Model.ImageSource))
        {
            @Html.Raw(Html.OriginalImage("/Content/Images/", Model.ImageSource))
        }

</div>
