@using NewVision.UI.Helpers
@model NewVision.UI.Models.Event

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@section AdminNavigation
{
    @Html.Partial("Menu", "Event")
}
@section scripts
{
    <script type="text/javascript">
        $(function() {
            if ($("#PreviewContentType").val() == 1) {
                $("#PreviewContentImagesWrapper").css("display", "none");
                $("#PreviewContentVideoSrcWrapper").css("display", "block");
            } else {
                $("#PreviewContentImagesWrapper").css("display", "block");
                $("#PreviewContentVideoSrcWrapper").css("display", "none");
            }

            $("#PreviewContentType").change(function(e) {
                if (e.target.selectedIndex == 1) {
                    $("#PreviewContentImagesWrapper").css("display", "none");
                    $("#PreviewContentVideoSrcWrapper").css("display", "block");
                } else {
                    $("#PreviewContentImagesWrapper").css("display", "block");
                    $("#PreviewContentVideoSrcWrapper").css("display", "none");
                }
            });
        });
    </script>
}
<div class="container">
    <h3>Редактирование проекта</h3>
    @using (Html.BeginForm("Edit", "Event", FormMethod.Post, new { role = "form", @class = "form-horizontal", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Id)
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.Date, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                <input type="text" class="form-control" name="Date" id="Date" placeholder="Введите дату" value="@Model.Date.ToShortDateString()">
            </div>
            @Html.ValidationMessageFor(model => model.Date)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.TitleDescription, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                <input type="text" class="form-control" name="TitleDescription" id="TitleDescription" placeholder="Введите описание заголовока" value="@Model.TitleDescription">
            </div>
            @Html.ValidationMessageFor(model => model.TitleDescription)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.TitleDescriptionEn, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                <input type="text" class="form-control" name="TitleDescriptionEn" id="TitleDescriptionEn" placeholder="Введите описание заголовока" value="@Model.TitleDescriptionEn">
            </div>
            @Html.ValidationMessageFor(model => model.TitleDescriptionEn)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.TitleDescriptionUa, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                <input type="text" class="form-control" name="TitleDescriptionUa" id="TitleDescriptionUa" placeholder="Введите описание заголовока" value="@Model.TitleDescriptionUa">
            </div>
            @Html.ValidationMessageFor(model => model.TitleDescriptionUa)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Title, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                <input type="text" class="form-control" name="Title" id="Title" placeholder="Введите заголовок" value="@Model.Title">
            </div>
            @Html.ValidationMessageFor(model => model.Title)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.TitleEn, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                <input type="text" class="form-control" name="TitleEn" id="TitleEn" placeholder="Введите заголовок" value="@Model.TitleEn">
            </div>
            @Html.ValidationMessageFor(model => model.TitleEn)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.TitleUa, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                <input type="text" class="form-control" name="TitleUa" id="TitleUa" placeholder="Введите заголовок" value="@Model.TitleUa">
            </div>
            @Html.ValidationMessageFor(model => model.TitleUa)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.HighlightedText, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                <input type="text" class="form-control" name="HighlightedText" id="HighlightedText" placeholder="Введите выделенный текст" value="@Model.HighlightedText">
            </div>
            @Html.ValidationMessageFor(model => model.HighlightedText)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.HighlightedTextEn, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                <input type="text" class="form-control" name="HighlightedTextEn" id="HighlightedTextEn" placeholder="Введите выделенный текст" value="@Model.HighlightedTextEn">
            </div>
            @Html.ValidationMessageFor(model => model.HighlightedTextEn)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.HighlightedTextUa, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                <input type="text" class="form-control" name="HighlightedTextUa" id="HighlightedTextUa" placeholder="Введите выделенный текст" value="@Model.HighlightedTextUa">
            </div>
            @Html.ValidationMessageFor(model => model.HighlightedTextUa)
        </div>
         <div class="form-group">
            @Html.LabelFor(model => model.LocationTitle, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                <input type="text" class="form-control" name="LocationTitle" id="LocationTitle" placeholder="Введите заголовок локации" value="@Model.LocationTitle">
            </div>
            @Html.ValidationMessageFor(model => model.LocationTitle)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.LocationTitleEn, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                <input type="text" class="form-control" name="LocationTitleEn" id="LocationTitleEn" placeholder="Введите заголовок локации" value="@Model.LocationTitleEn">
            </div>
            @Html.ValidationMessageFor(model => model.LocationTitleEn)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.LocationTitleUa, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                <input type="text" class="form-control" name="LocationTitleUa" id="LocationTitleUa" placeholder="Введите заголовок локации" value="@Model.LocationTitleUa">
            </div>
            @Html.ValidationMessageFor(model => model.LocationTitleUa)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.LocationAddress, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                <input type="text" class="form-control" name="LocationAddress" id="LocationAddress" placeholder="Введите адрес локации" value="@Model.LocationAddress">
            </div>
            @Html.ValidationMessageFor(model => model.LocationTitle)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.LocationAddressEn, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                <input type="text" class="form-control" name="LocationAddressEn" id="LocationAddressEn" placeholder="Введите адрес локации" value="@Model.LocationAddressEn">
            </div>
            @Html.ValidationMessageFor(model => model.LocationAddressEn)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.LocationAddressUa, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                <input type="text" class="form-control" name="LocationAddressUa" id="LocationAddressUa" placeholder="Введите адрес локации" value="@Model.LocationAddressUa">
            </div>
            @Html.ValidationMessageFor(model => model.LocationAddressUa)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.LocationAddressMapUrl, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                <input type="text" class="form-control" name="LocationAddressMapUrl" id="LocationAddressMapUrl" placeholder="Введите ссылку на карту" value="@Model.LocationAddressMapUrl">
            </div>
            @Html.ValidationMessageFor(model => model.LocationAddressMapUrl)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Description, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                <textarea class="form-control" rows="3" name="Description">@Model.Description</textarea>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.DescriptionEn, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                <textarea class="form-control" rows="3" name="DescriptionEn">@Model.DescriptionEn</textarea>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.DescriptionUa, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                <textarea class="form-control" rows="3" name="DescriptionUa">@Model.DescriptionUa</textarea>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.TicketOrderType, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                <select class="selectpicker" name="TicketOrderType">
                    <option value="0" @(Model.TicketOrderType == 0 ? "selected" : "")>@SiteContentHelper.TicketOrderType[0]</option>
                    <option value="1" @(Model.TicketOrderType == 1 ? "selected" : "")>@SiteContentHelper.TicketOrderType[1]</option>
                    <option value="2" @(Model.TicketOrderType == 2 ? "selected" : "")>@SiteContentHelper.TicketOrderType[2]</option>
                    <option value="2" @(Model.TicketOrderType == 3 ? "selected" : "")>@SiteContentHelper.TicketOrderType[3]</option>
                    @*<option value="3" @Html.Raw(Model.TicketOrderType == 3 ? "noSeats" : "")>noSeats</option>*@
                </select>
            </div>
            @Html.ValidationMessageFor(model => model.TicketOrderType)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.PreviewContentType, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                <select class="selectpicker" name="PreviewContentType" id="PreviewContentType">
                    <option value="0" @(Model.PreviewContentType == 0 ? "selected" : "")>@SiteContentHelper.PreviewContentType[0]</option>
                    <option value="1" @(Model.PreviewContentType == 1 ? "selected" : "")>@SiteContentHelper.PreviewContentType[1]</option>
                </select>
            </div>
            @Html.ValidationMessageFor(model => model.PreviewContentType)
        </div>
        <div class="form-group" id="PreviewContentImagesWrapper">
            @Html.LabelFor(model => model.PreviewContentImages, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                @Html.Partial("InputAnotherImages")
            </div>
        </div>
        <div class="form-group" id="PreviewContentVideoSrcWrapper">
            @Html.LabelFor(model => model.PreviewContentVideoSrc, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                <input type="text" class="form-control" name="PreviewContentVideoSrc" id="PreviewContentVideoSrc" placeholder="Введите адрес видеоролика" value="@Model.PreviewContentVideoSrc">
            </div>
            @Html.ValidationMessageFor(model => model.PreviewContentVideoSrc)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Action, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                <textarea class="form-control ckeditor" rows="3" name="Action">@Model.Action</textarea>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ActionEn, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                <textarea class="form-control ckeditor" rows="3" name="ActionEn">@Model.ActionEn</textarea>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ActionUa, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                <textarea class="form-control ckeditor" rows="3" name="ActionUa">@Model.ActionUa</textarea>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Location, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                <textarea class="form-control ckeditor" rows="3" name="Location">@Model.Location</textarea>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.LocationEn, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                <textarea class="form-control ckeditor" rows="3" name="LocationEn">@Model.LocationEn</textarea>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.LocationUa, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                <textarea class="form-control ckeditor" rows="3" name="LocationUa">@Model.LocationUa</textarea>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ArtGroup, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                <textarea class="form-control ckeditor" rows="3" name="ArtGroup">@Model.ArtGroup</textarea>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ArtGroupEn, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                <textarea class="form-control ckeditor" rows="3" name="ArtGroupEn">@Model.ArtGroupEn</textarea>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ArtGroupUa, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                <textarea class="form-control ckeditor" rows="3" name="ArtGroupUa">@Model.ArtGroupUa</textarea>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Duration, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                <input type="text" class="form-control" name="Duration" id="Duration" placeholder="Введите длительность" value="@Model.Duration">
            </div>
            @Html.ValidationMessageFor(model => model.Duration)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.IntervalQuantity, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                <input type="text" class="form-control" name="IntervalQuantity" id="IntervalQuantity" placeholder="Введите количество антрактов" value="@Model.IntervalQuantity">
            </div>
            @Html.ValidationMessageFor(model => model.IntervalQuantity)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Price, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                <input type="text" class="form-control" name="Price" id="Price" placeholder="Введите цену" value="@Model.Price">
            </div>
            @Html.ValidationMessageFor(model => model.Price)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ContentImages, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                @Html.Partial("InputImages")
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Authors, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
            @foreach (var author in ((IEnumerable<NewVision.UI.Models.Author>)ViewBag.Authors))
            {
                @Html.CheckBox("author_" + author.Id, Model.Authors.Contains(author))
                @author.Title
                @Html.Raw("&nbsp;&nbsp;&nbsp;")
            }    
            </div>
            
        </div>
        <div class="form-group">
            @Html.ActionLink("Назад", "Index", "Event", null, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                <button type="submit" class="btn btn-success">Сохранить</button>
            </div>
        </div>
    }
</div>
