@using NewVision.UI
@using NewVision.UI.Helpers
@model IEnumerable<NewVision.UI.Models.Event>

@{
    ViewBag.Title = "Расписание проектов";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@section AdminNavigation
{
    @Html.Partial("Menu", "Event")
}

<p>
    @Html.ActionLink("Добавить", "Create")
</p>

<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TitleDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HighlightedText)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LocationAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LocationTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TicketOrderType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PreviewContentType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PreviewContentImages)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PreviewContentVideoSrc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Action)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArtGroup)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Duration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IntervalQuantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContentImages)
        </th>
        <th></th>
        <th></th>
    </tr>

    @foreach (var item in Model.OrderBy(e => e.Date))
    {
        <tr>
            <td>
                @Html.Raw(item.Date.ToShortDateString())
                @*@Html.DisplayFor(modelItem => item.Date.ToShortDateString())*@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TitleDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HighlightedText)
            </td>
           <td>
                @Html.DisplayFor(modelItem => item.LocationAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocationTitle)
            </td>
            <td>
                <div class="clip">
                @Html.DisplayFor(modelItem => item.Description)
                    </div>
            </td>
            <td>
                @Html.Raw(SiteContentHelper.TicketOrderType[item.TicketOrderType])
                @*@Html.DisplayFor(modelItem => item.TicketOrderType)*@
            </td>
            <td>
                @Html.Raw(SiteContentHelper.PreviewContentType[item.TicketOrderType])
                @*@Html.DisplayFor(modelItem => item.PreviewContentType)*@
            </td>
            <td style="min-width: 200px">
                @foreach (var image in item.PreviewContentImages)
                {
                    <div style="float: left; padding-bottom: 5px">
                        @Html.ActionLink("Удалить", "DeletePreviewContentImage", "Event", new { area = "Admin", id = image.Id }, new { onclick = "return confirm('Удалить запись?')", @class = "adminLink" })
                        <br />
                        @Html.Raw(Html.CachedImage("~/Content/Images/", image.ImageSrc, SiteSettings.GetThumbnail("eventImagePreview")))
                    </div>
                }
            </td>
            <td>
                <div class="clip">
                @Html.DisplayFor(modelItem => item.PreviewContentVideoSrc)
                    </div>
            </td>
            <td>
                <div class="clip">
                    @Html.DisplayFor(modelItem => item.Action)
                </div>
            </td>
            <td>
                <div class="clip">
                    @Html.DisplayFor(modelItem => item.Location)
                </div>
            </td>
            <td>
                <div class="clip">
                    @Html.DisplayFor(modelItem => item.ArtGroup)
                </div>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IntervalQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td style="min-width: 200px">
                @foreach (var image in item.ContentImages)
                {
                    <div style="float: left; padding-bottom: 5px">
                        @Html.ActionLink("Удалить", "DeleteContentImage", "Event", new { area = "Admin", id = image.Id }, new { onclick = "return confirm('Удалить запись?')", @class = "adminLink" })
                        <br />
                        @Html.Raw(Html.CachedImage("~/Content/Images/", image.ImageSrc, SiteSettings.GetThumbnail("eventImagePreview")))
                    </div>
                }
            </td>
            <td>
                @Html.ActionLink("Редактировать", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Удалить", "Delete", new { id = item.Id }, new { onclick = "return confirm('Удалить запись?')" })
            </td>
        </tr>
    }

</table>
