@using Shop.WebSite
@using Shop.WebSite.Helpers
@using Shop.WebSite.Helpers.Graphics
@using Shop.WebSite.Models
@model CatalogueModel

@{
    ViewBag.Title += " — Новости";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts
{
   @* <script type="text/javascript">
        $('.bxsliderArticleItemImages').bxSlider({
            mode: 'fade',
            //auto: autostart,
            pause: 5000,
            speed: 500,
            pager: false,
            nextSelector: '#slider-next',
            prevSelector: '#slider-prev',
            nextText: '',
            prevText: ''
        });
    </script>*@
}

<div id="main-page-banner">
    <div id="menu-panel-main-page">
        @Html.Partial("LanguageSwitcher")
        @Html.Raw(Html.ActionLink("[LINK]", "Index", "Home", new{id=""}, new { id = "logo" }).ToString().Replace("[LINK]", ""))
        @Html.Partial("MainMenu", new MainMenuModel { Categories = Model.Categories, Contents = Model.Contents })
    </div>
</div>

@Html.Partial("SiteTitle", new BreadCrumbs { new BreadCrumb() { Title = "Новости и события" } })

<div class="article-details">
    <div class="date">@SiteHelper.GetMonthName(Model.Article.Date.Month,Model.CurrentLangCode), @Model.Article.Date.Day, @Model.Article.Date.Year</div>
    <div class="title">@Model.Article.Title</div>
    <div class="text">@Html.Raw(Model.Article.Text)</div>
    
    @foreach (var articleItem in Model.Article.ArticleItems)
    {
        <div class="articleItem">
            <div class="text">
            @Html.Raw(articleItem.Text)
            </div>
            @if (articleItem.ArticleItemImages.Any())
            {

                <div class="slider-container">
                    <div class="slider-image-wrapper">

                        <div id="slider-prev"></div>
                        <div id="slider-next"></div>
                        <ul class="bxsliderArticleItemImages">
                            @foreach (var image in articleItem.ArticleItemImages)
                            {
                                <li>
                                    <a href="/Content/Images/@image.ImageSource" rel="group1" class="fancy">
                                        <div class="zoom"></div>
                                        @Html.Raw(Html.CachedImage("~/Content/Images/", image.ImageSource, SiteSettings.GetThumbnail("articleCaruselItem")))
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            }
        </div>
    }

</div>

@foreach (var item in Model.QuickAdvices)
{
    @Html.Partial("SiteTitle", new BreadCrumbs { new BreadCrumb() { Title = item.Title } })
    <div class="about-bike-choosing">
        @Html.Raw(item.Text)
    </div>
}

<div class="bottom-page"></div>