@using Shop.WebSite
@using Shop.WebSite.Helpers
@using Shop.WebSite.Helpers.Graphics
@using Shop.WebSite.Models
@model Shop.WebSite.Models.CatalogueModel

@{
    ViewBag.Title += " — Велокаталог";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="menu-panel">
    @Html.Partial("LanguageSwitcher")
    @Html.Raw(Html.ActionLink("[LINK]", "Index", "Home", new{id=""}, new { id = "logo" }).ToString().Replace("[LINK]", ""))
    @Html.Partial("MainMenu", new MainMenuModel { Categories = Model.Categories, Contents = Model.Contents })
</div>
<div id="main-banner">
    @Html.Raw(Html.CachedImage("~/Content/Images/", Model.Content.ImageSource, SiteSettings.GetThumbnail("pageBanner")))
</div>

@if (Model.CurrentCategory!=null&& Model.CurrentCategory.Parent == null)
{
    @Html.Partial("SiteTitle", new BreadCrumbs { new BreadCrumb { Title = Model.CurrentCategory!=null?Model.CurrentCategory.Title: "Каталог" } })
}
else if (Model.CurrentCategory != null && Model.CurrentCategory.Parent != null)
{
    @Html.Partial("SiteTitle", new BreadCrumbs
    {
        new BreadCrumb
        {
            Title = Model.CurrentCategory.Parent.Title,
            Name = Model.CurrentCategory.Parent.Name
        },
        new BreadCrumb
        {
            Title = Model.CurrentCategory.Title
        }
    })
}
else
{
    @Html.Partial("SiteTitle", new BreadCrumbs { new BreadCrumb { Title =  "Каталог" } })
}


<div id="catalogue">
    
    <div class="category-previews">
    @if (Model.CurrentCategory == null)
    {
        
         foreach (var category in Model.Categories.Where(c=>c.Parent==null&&c.IsActive))
         {
            @Html.Partial("CategoryPreview", new CategoryPreview
                {
                    Title = category.Title,
                    ImageSource = category.ImageSource,
                    Name = category.Name
                })
         }
         
    }
    else
    {
        foreach (var category in Model.CurrentCategory.Children.Where(c=>c.IsActive))
         {
            @Html.Partial("CategoryPreview", new CategoryPreview
                {
                    Title = category.Title,
                    ImageSource = category.ImageSource,
                    Name = category.Name
                })
         }
    }
         <div class="clearfix"></div>
        </div>
    
    
        
        @if (Model.Products.Any())
        {
            <div id="filters-container">
            @using (Html.BeginForm("Catalogue", "Home", FormMethod.Get))
            {
                <input type="hidden" name="sortBy" value="price"/>
                <input type="hidden" name="sortOrder" id="sortOrder" value=""/>
            
                <div id="price-sort-selector" class="selector">
                    <select class="selectpicker">
                        <option @(ViewBag.SortOrder=="asc"?"selected":"") value="asc">Сначала дешевые</option>
                        <option @(ViewBag.SortOrder=="desc"?"selected":"") value="desc">Сначала дорогие</option>
                    </select>
                </div>
            }
        
           
            @foreach (var productAttribute in Model.ProductAttributes.OrderBy(p => p.SortOrder))
            {
                if (productAttribute.ProductAttributeValues.Any(pav => pav.AvailableProductsCount > 0))
                {
                    <div class="selector checkbox-selector">
                        <div class="title">@productAttribute.Title:</div>
                        <div class="selectors">
                            <ul>
                                @foreach (var categoryValue in productAttribute.ProductAttributeValues.OrderBy(a => a.Title))
                                {
                                    if (categoryValue.AvailableProductsCount > 0)
                                    {
                                        <li>
                                            <input class="attribute-checkbox" @Html.Raw(Model.FilterArray.Contains(categoryValue.Id.ToString()) ? "checked" : "") filter="@CatalogueFilterHelper.GetFilterStringForCheckbox(Model.FilterArray, categoryValue.Id.ToString(), Model.FilterArray.Contains(categoryValue.Id.ToString()))" type="checkbox" id="cb_@categoryValue.Id">

                                            <label for="cb_@categoryValue.Id">@categoryValue.Title (@categoryValue.AvailableProductsCount)</label>
                                    
                                        </li>
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                }
                }
                 </div>
        }

   
    
    
    

    <div id="products">
        @foreach (var product in Model.Products)
        {
            @Html.Partial("ProductPreview", new ProductPreview
            {
                Title = product.Title,
                Label =
                    product.IsNew ? ProductPreviewLabel.WowNew
                        : product.IsTopSale ? ProductPreviewLabel.TopSale
                            : product.IsDiscount ? ProductPreviewLabel.Discount
                                : ProductPreviewLabel.None,
                Price = product.Price,
                OldPrice = product.OldPrice,
                ImageSource = product.ImageSource,
                Name = product.Name
            })
                
        }
        <div class="clearfix"></div>
        
        @Html.Partial("Paging")

    </div>
    <div class="clearfix"></div>
    
</div>
@*<div>
    @Html.Partial("Paging")
</div>*@


<div style="height: 50px"></div>
