@using Shop.WebSite.Models
@model Shop.WebSite.Models.SiteModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="main-page-banner">
    <div id="menu-panel-main-page">
        @Html.Raw(Html.ActionLink("[LINK]","Index","Home",null,new{id="logo"}).ToString().Replace("[LINK]",""))
        <div id="menu-items">
            <ul class="main-menu-items">
                <li class="main-menu-item catalog">@Html.ActionLink("Вело-каталог","Catelogue","Home")</li>
                <li class="main-menu-item"><a href="#">Новости и события</a></li>
                <li class="main-menu-item delivery"><a href="#">Гарантия, оплата и доставка</a></li>
                <li class="main-menu-item rent"><a href="#">Вело-прокат</a></li>
                <li class="main-menu-item"><a href="#">Мастерская</a></li>
                <li class="main-menu-item"><a href="#">Прямой контакт</a></li>
            </ul>
        </div>
    </div>
</div>


<div id="about">
    <div id="avatar"></div>
    <div class="text">
        Привет! Я &mdash; Григорий Войтишин, создатель &laquo;Эктив Лэнда&raquo;. Велосипеды &mdash; моё давнее
        пристрастие, поэтому, всё что ты здесь увидишь, отобрано в ходе большого опыта, проб, ошибок,
        падений &mdash; и подъемов :)
    </div>
    <div id="glad-to-see-you">Рад тебя видеть и с удовольствием помогу тебе</div>
</div>

<div id="chose-your-bike"></div>

<div id="banners">
    <div class="banner" id="banner1"></div>
    <div class="banner" id="banner2"></div>
</div>




@Html.Partial("SiteTitle","Специальные предложения")
<div id="special-offers">
    @foreach (var product in Model.SpecialOffers)
    {
        @Html.Partial("ProductPreview", new ProductPreview
            {
                Title = product.Title, 
                Label = 
                product.IsNew ? ProductPreviewLabel.WowNew 
                : product.IsTopSale ? ProductPreviewLabel.TopSale
                : product.IsDiscount ? ProductPreviewLabel.Discount
                : ProductPreviewLabel.None, 
                Price = product.Price,
                OldPrice = product.OldPrice,
                ImageSource = product.ImageSource
            })
    }

   @* @Html.Partial("ProductPreview",new ProductPreview{Title = "Marin Supersized 14\"", Label = ProductPreviewLabel.WowNew, Price = 2.300M ,ImageSource = "bike-image.png"})
    @Html.Partial("ProductPreview",new ProductPreview{Title = "Marin Supersized 14\"", Label = ProductPreviewLabel.TopSale,Price = 2.300M,ImageSource = "bike-image.png"})
    @Html.Partial("ProductPreview",new ProductPreview{Title = "Marin Supersized 14\"", Label = ProductPreviewLabel.Discount,Price = 2.300M,ImageSource = "bike-image.png"})
    @Html.Partial("ProductPreview",new ProductPreview{Title = "Marin Supersized 14\"", Label = ProductPreviewLabel.None,Price = 2.300M,ImageSource = "bike-image.png"})
    @Html.Partial("ProductPreview",new ProductPreview{Title = "Marin Supersized 14\"", Label = ProductPreviewLabel.WowNew,Price = 2.300M,ImageSource = "bike-image.png"})
    @Html.Partial("ProductPreview",new ProductPreview{Title = "Marin Supersized 14\"", Label = ProductPreviewLabel.TopSale,Price = 2.300M,ImageSource = "bike-image.png"})
    @Html.Partial("ProductPreview",new ProductPreview{Title = "Marin Supersized 14\"", Label = ProductPreviewLabel.Discount,Price = 2.300M,ImageSource = "bike-image.png"})
    @Html.Partial("ProductPreview",new ProductPreview{Title = "Marin Supersized 14\"", Label = ProductPreviewLabel.None,Price = 2.300M,ImageSource = "bike-image.png",OldPrice = 5.550M})*@
    <div class="clearfix"></div>
</div>



@Html.Partial("SiteTitle","Новости и события")
<div id="articles">
   
    @foreach (var article in Shop.WebSite.TempData.Article.GetArticles())
    {
        @Html.Partial("Article",article)
    }
    <div class="clearfix"></div>
</div>



@Html.Partial("SiteTitle","О подборе байка")
<div id="about-bike-choosing">
    Велосипе́д (стар. фр. vélocipède, от лат. vēlōx «быстрый» и pēs «нога») — колёсное транспортное средство,
    приводимое в движение мускульной силой человека через ножные педали или (крайне редко) через ручные рычаги.
    Наиболее распространены велосипеды с двумя колесами, но бывают также одноколёсные и трёхколёсные велосипеды, а
    также велосипеды с большим количеством колёс.
    <br>
    <br>
    Правила дорожного движения России определяют велосипед как «транспортное средство, кроме инвалидных колясок,
    имеющее два колеса или более и приводимое в движение мускульной силой людей, находящихся на нём»
</div>






