@using Shop.WebSite
@using Shop.WebSite.Helpers
@using Shop.WebSite.Helpers.Graphics
@using Shop.WebSite.Models
@model Shop.WebSite.Models.SiteModel
@{
    if (Model.Content != null && !string.IsNullOrEmpty(Model.Content.Title))
    {
        ViewBag.Title += " — " + Model.Content.Title;
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="main-page-banner">
    <div id="menu-panel-main-page">
        @Html.Partial("LanguageSwitcher")
        @Html.Raw(Html.ActionLink("[LINK]", "Index", "Home", new{id=""}, new { id = "logo" }).ToString().Replace("[LINK]", ""))
        @Html.Partial("MainMenu", new MainMenuModel { Categories = Model.Categories, Contents = Model.Contents })
    </div>
</div>


@if (Model.Content.IsMainPage)
{
    <div id="about">
        <div id="avatar"></div>
        <div class="text">
            Привет! Я &mdash; Григорий Войтишин, создатель &laquo;Эктив Лэнда&raquo;. Велосипеды &mdash; моё давнее
            пристрастие, поэтому, всё что ты здесь увидишь, отобрано в ходе большого опыта, проб, ошибок,
            падений &mdash; и подъемов :)
        </div>
        <div id="glad-to-see-you">Рад тебя видеть и с удовольствием помогу тебе</div>
    </div>

    <div id="chose-your-bike">
        @Html.Raw(Html.ActionLink("[LINK]", "Catalogue", "Home").ToString().Replace("[LINK]", ""))
    </div>


    <div id="banners">
        <div class="banner" id="banner1"></div>
        <div class="banner" id="banner2"></div>
    </div>
}
@if (Model.Content.ContentType == 2 && Model.Articles.Any())
{
    @Html.Partial("SiteTitle", new BreadCrumbs { new BreadCrumb() { Title = "Новости и события" } })
    
    <div class="article-large-previews">

        @{
    var i = 0;
    foreach (var article in Model.Articles)
    {
        i++;
            <div class="article-large-preview">
                <div class="image">
                    @Html.Raw(Html.CachedImage("~/Content/Images/", article.ImageSource, SiteSettings.GetThumbnail("articlePreview")))
                </div>
                <div class="date">@SiteHelper.GetMonthName(article.Date.Month, Model.CurrentLangCode), @article.Date.Day, @article.Date.Year</div>
                <div class="title">@Html.ActionLink(article.Title, "ArticleDetails", "Home", new { article = article.Name }, null)</div>
                <div class="text">@article.Description</div>
            </div>
        if (i % 4 == 0)
        {
            <div class="clearfix"></div>
        }
    }
        }
        <div class="clearfix"></div>
    </div>
}

@if (Model.Content != null && !string.IsNullOrEmpty(Model.Content.Text))
{
    <div class="content-text">
        @Html.Raw(Model.Content.Text)

        @foreach (var contentItem in Model.Content.ContentItems)
        {
            <div class="articleItem">
                <div class="text">
                    @Html.Raw(contentItem.Text)
                </div>
                @if (contentItem.ContentItemImages.Any())
                {
                    <div class="slider-container">
                        <div class="slider-image-wrapper">

                            <div id="slider-prev"></div>
                            <div id="slider-next"></div>
                            <ul class="bxsliderArticleItemImages">
                                @foreach (var image in contentItem.ContentItemImages)
                                {
                                    <li>
                                        <a href="/Content/Images/@image.ImageSource" rel="group1" class="fancy">
                                            <div class="zoom"></div>
                                            @Html.Raw(Html.CachedImage("~/Content/Images/", image.ImageSource, SiteSettings.GetThumbnail("articleCaruselItem")))
                                        </a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                }
            </div>
        }
    </div>
}


@if (Model.SpecialOffers.Any())
{
    @Html.Partial("SiteTitle", new BreadCrumbs { new BreadCrumb() { Title = "Специальные предложения" } })
    <div id="special-offers">
        @foreach (var product in Model.SpecialOffers)
        {
            @Html.Partial("ProductPreview", new ProductPreview
            {
                Title = product.Title,
                Label =
                    product.IsNew ? ProductPreviewLabel.WowNew
                        : product.IsTopSale ? ProductPreviewLabel.TopSale
                            : product.IsDiscount ? ProductPreviewLabel.Discount
                                : ProductPreviewLabel.None,
                Price = product.Price,
                OldPrice = product.OldPrice,
                ImageSource = product.ImageSource,
                Name = product.Name
            })
        }
        <div class="clearfix"></div>
    </div>
}



@if (Model.Content.ContentType != 2 && Model.Articles.Any())
{
    @Html.Partial("SiteTitle", new BreadCrumbs { new BreadCrumb { Title = "Новости и события" } })
    <div id="articles">
        @{
    var i = 0;
    foreach (var article in Model.Articles.OrderByDescending(a => a.Date).Take(2))
    {
        i++;
            @Html.Partial("Article", article)
        if (i % 2 == 0)
        {
            <div class="clearfix"></div>
        }
    }
        }
        <div class="clearfix"></div>
    </div>

}



@foreach (var item in Model.QuickAdvices)
{
    @Html.Partial("SiteTitle", new BreadCrumbs { new BreadCrumb() { Title = item.Title } })
    <div class="about-bike-choosing">
        @Html.Raw(item.Text)
    </div>
}

<div class="bottom-page"></div>






