@using Shop.DataAccess.Entities
@using Shop.WebSite
@using Shop.WebSite.Helpers.Graphics
@using Shop.WebSite.Models
@model CatalogueModel

@{
    ViewBag.Title += " — Каталог товаров  — " + (Model.Product!=null? Model.Product.Title:"");
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="menu-panel">
    @Html.Partial("LanguageSwitcher")
    @Html.Raw(Html.ActionLink("[LINK]", "Index", "Home", new{id=""}, new { id = "logo" }).ToString().Replace("[LINK]", ""))
    @Html.Partial("MainMenu", new MainMenuModel { Categories = Model.Categories, Contents = Model.Contents })
</div>
<div id="main-banner">
    @Html.Raw(Html.CachedImage("~/Content/Images/", Model.Content.ImageSource, SiteSettings.GetThumbnail("pageBanner")))
</div>

@*@section Error
{
    @if (!string.IsNullOrEmpty(Model.ErrorMessage))
    {
        <div style="text-align: center">
            <h4><span class="label label-danger">@Model.ErrorMessage</span></h4>
        </div>
    }
}*@

@{
    var bc = new BreadCrumbs();
    if (Model.Product != null)
    {
        if (Model.Product.Category.Parent != null)
        {
            bc.Add(new BreadCrumb
            {
                Title = Model.Product.Category.Parent.Title,
                Name = Model.Product.Category.Parent.Name
            });
        }
        bc.Add(new BreadCrumb
        {
            Title = Model.Product.Category.Title,
            Name = Model.Product.Category.Name
        });
        bc.Add(new BreadCrumb
        {
            Title = Model.Product.Title
        });
    }
}

@if (Model.Product != null)
{
    @Html.Partial("SiteTitle", bc)
}

 @if (ViewBag.Message != null)
    {
        <div class="thankyou">@ViewBag.Message</div>
    }
@if (Model.Product != null)
{
    @Html.Partial("_ProductDetails", Model.Product)
}
else
{
  @Html.Partial("_ProductDetails", new Product())
}






@if (Model.Product != null&&Model.Product.ProductChildren.Count>0)
{
    @Html.Partial("SiteTitle", new BreadCrumbs { new BreadCrumb() { Title = "К покупке пригодятся:" } })
    <div id="tying-products">

    @foreach (var product in Model.Product.ProductChildren)
    {
        @Html.Partial("ProductPreview", new ProductPreview
   {
       Title = product.Title,
       Label =
       product.IsNew ? ProductPreviewLabel.WowNew
       : product.IsTopSale ? ProductPreviewLabel.TopSale
       : product.IsDiscount ? ProductPreviewLabel.Discount
       : ProductPreviewLabel.None,
       Price = product.Price,
       OldPrice = product.OldPrice,
       ImageSource = product.ImageSource,
       Name = product.Name
   })
    }
    <div class="clearfix"></div>
</div>
}


<div id="banners">
    <div class="banner" id="banner1"></div>
    <div class="banner" id="banner2"></div>
</div>


@section includes
{
    <script src="@Url.Content("~/Scripts/product.js")" type="text/javascript"></script>

    <script type="text/javascript">
        ProductCatalogue.initialize();
    </script>
}



@section Layout
{
    <div class="layout">
        
        <div class="map-container">
            <div class="fancy-close-btn"></div>
            <div class="toptitle">
                Обратная связь
                <br/>
            </div>
                    
            @*@Html.Partial("SiteTitle", new BreadCrumbs { new BreadCrumb() { Title = "Обратная связь" } })*@
            @using (Html.BeginForm("Feedback", "Home", FormMethod.Post))
            {
                @Html.Hidden("productName", Model.Product.Name)
                <div class="feedbackForm">
                    <div class="order-fields">
                        <div class="field">
                            <div class="title">ваше имя:</div>
                            <div class="input">
                                <input type="text" name="customerName" id="customerName" value="">
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="field">
                            <div class="title">
                                номер мобильного:<br>
                                <span>Например: (097) 999-22-33</span>
                            </div>
                            <div class="input">
                                <input type="text" name="mobilePhone" id="mobilePhone" value="">
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="field">
                            <div class="title">емейл-адрес:</div>
                            <div class="input">
                                <input type="text" name="email" id="email" value="">
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="field">
                            <div class="title">ваш вопрос:</div>
                            <div class="input textarea">
                                <textarea name="question" id="question"></textarea>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
        
                    <div id="order-done" class="feedback">
                            <input type="submit" onclick=" return FeedbackForm.validateFields() " value=""/>
                    </div>

                    <div id="order-done-wrapper" class="feedback">
                        
                    </div>
                </div>
            }

               
                
        </div>
    </div>
}
