@model IEnumerable<Filimonov.Models.Customer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Presentation/Views/Shared/_Layout.cshtml";
}


@Html.Partial("_PresentationMenu")
<p>
    @Html.ActionLink("Создать пользователя", "Create",null,new {@class="adminLink"})
</p>



<table class="adminTable">
    <tr>
        <th>
            Логин
        </th>
        <th>
            Имя
        </th>
        <th>
            Ссылка для авторизации
        </th>
        <th>Ассоциативные ряды</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @if (item.Name == "admin")
            {
                @Html.DisplayFor(modelItem=>item.Title)
            }
            else
            {
                @Html.ActionLink(item.Title, "Details", "UserCabinet", new { id = item.Name }, null)
            }
        </td>
        <td>
            @if (item.Name != "admin")
            {
                @Html.TextBox("link", "http://fil-interiors.com/presentation/customerlogon/" + item.Name, new { @class = "customerlogonlink" })
            }
        </td>
        <td>
            <table class="reset">
            @foreach (var set in item.ProductSets.OrderBy(ps=>ps.Title))
            {
                <tr>
                    <td>
                        @set.Title
                    </td>
                    <td>
                        @Html.ActionLink("Редактировать", "EditProductSet", "UserCabinet", new { id = set.Id }, new { @class = "adminLink" }) | 
                    </td>
                    <td>
                    @Html.ActionLink("Удалить", "DeleteProductSet", "UserCabinet", new { id = set.Id }, new { @class = "adminLink", onclick = "return confirm('Удалить запись?')" })
                    <br/>
                    </td>
                </tr>
            }
            </table>
            @if (item.Name != "admin")
            {
                @Html.ActionLink("Добавить ассоциативный ряд", "AddProductSet", "UserCabinet", new { id = item.Name }, new { @class = "adminLink" })
            }
        </td>
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { id = item.Id }, new { @class = "adminLink" }) 
            
            @if (item.Name != "admin")
            {
                <text> | </text>
                @Html.ActionLink("Удалить", "Delete", new { id = item.Id }, new { @class = "adminLink", onclick = "return confirm('Удалить пользователя?')" })
            }
        </td>
    </tr>
}

</table>
