@model IEnumerable<Filimonov.Models.Customer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Presentation/Views/Shared/_Layout.cshtml";
}

<p>
    @Html.ActionLink("Создать пользователя", "Create",null,new {@class="adminLink"})
</p>
<table class="adminTable">
    <tr>
        <th>
            Логин
        </th>
        <th>
            Имя
        </th>
        <th>
            Ссылка для авторизации
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @if (item.Name != "admin")
            {
                @Html.TextBox("link", "http://fil-interiors.com/presentation/customerlogon/" + item.Name, new {@class = "customerlogonlink"})
            }
        </td>
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { id=item.Id }) 
            
            @if (item.Name != "admin")
            {
                <text> | </text>
                @Html.ActionLink("Удалить", "Delete", new {id = item.Id},new{onclick="return confirm('Удалить пользователя?')"})
            }
        </td>
    </tr>
}

</table>
