@using Shop
@using Shop.Helpers
@using SiteExtensions
@using SiteExtensions.Graphics
@model Shop.Models.SiteModel
@section MainMenu
{
    @Html.Partial("MainMenu", (Menu)ViewBag.MainMenu ?? new Menu())
}

@section CatalogueMenu
{
    @Html.Partial("CatalogueMenu", (Menu)ViewBag.CatalogueMenu ?? new Menu())
}

@section Title
{
    @Html.Raw("Корзина")
}


@using (Html.BeginForm("Recalculate","Cart"))
{
    decimal totalAmount = 0;
    <div class="cartButtons">
        @Html.ActionLink("Очистить", "Clear", "Cart")
    </div>


    <table class="cartTable">
        <tr>
            <th></th>
            <th>
                Продукт
            </th>
            <th>
                Цена
            </th>
            <th>
                Количество
            </th>
            <th>
                Стоимость
            </th>
        </tr>
        @foreach (var order in WebSession.OrderItems.Select(orderItem => orderItem.Value))
        {

            <tr>
                <td>
                    @Html.Raw(Html.CachedImage("~/Content/Images/", order.ImageSource, SiteSettings.GetThumbnail("thumb0")))
                </td>
                <td>
                    @Html.ActionLink(order.ProductTitle, "ProductDetails", "Home", new { Area = "", categoryId = order.CategoryName, id = order.ProductId }, new{target="_blank"})
                    @*@order.Name*@
                </td>
                <td class="dec">@order.Price.ToString("N")
                </td>
                <td class="editOrderItemQuantity">
                    @Html.TextBox("q_" + order.GetHashCode(), order.Quantity)
                </td>
                @{
                    var amount = order.Quantity*order.Price;
                    totalAmount += amount;
                }
                <td class="dec">@amount.ToString("N")
                </td>
            </tr>
        }
        <tr>
            <td colspan="4" style="text-align: right">
                Всего:
            </td>
            <td class="dec">@totalAmount.ToString("N")
            </td>
        </tr>
    </table>
    <div class="cartButtons">
        <input type="submit" value="Пересчитать"/> &nbsp;|&nbsp; @Html.ActionLink("Оформить заказ", "CheckOut", "Cart")
    </div>
}