@using Shop.WebSite
@using Shop.WebSite.Helpers
@using Shop.WebSite.Helpers.Graphics
@using Shop.WebSite.Models
@model Shop.WebSite.Models.SiteModel

@{
    ViewBag.Title += " — Ваша корзина";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="menu-panel">
    @Html.Raw(Html.ActionLink("[LINK]", "Index", "Home", null, new { id = "logo" }).ToString().Replace("[LINK]", ""))
    @Html.Partial("MainMenu", new MainMenuModel { Categories = Model.Categories, Contents = Model.Contents })
</div>
<div id="main-banner">
</div>


@Html.Partial("SiteTitle", new BreadCrumbs { new BreadCrumb() { Title = "Ваша корзина" } })

<div id="cart-items">


    @foreach (var orderItem in WebSession.OrderItems)
    {
        <div class="cart-item">
            <div class="image">
                @Html.Raw(Html.CachedImage("~/Content/Images/", orderItem.Value.ImageSource, SiteSettings.GetThumbnail("cartProductImage")))
            </div>
            <div class="description">
                <div class="title">
                    @Html.ActionLink(orderItem.Value.ProductTitle, "ProductDetails", "Home", new { product = orderItem.Value.ProductName }, null)
                </div>
                @orderItem.Value.Description
            </div>
            <div class="quantity">
                <div class="arrow-inc"></div>
                <div class="quantity-amount">
                    @orderItem.Value.Quantity
                </div>
                <div class="arrow-dec"></div>
            </div>
            <div class="quantity-unit">шт</div>
            <div class="price">@(orderItem.Value.Quantity * orderItem.Value.Price) грн</div>
            <div class="delete-cart-item">
                @Html.Raw(Html.ActionLink("[LINK]", "Delete", "Cart", new {id=orderItem.Key }, new{onclick="return confirm('Удалить товар из корзины?')"}).ToString().Replace("[LINK]", ""))
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="cart-item-bottom"></div>

        <div class="cart-tying-products-link">
            <a href="#">К этому товару пригодится...</a>
        </div>
    }

    <div id="total">
        <span id="amount">Итого: 7,000 грн</span>
    </div>

    <div id="buy-button">
        @Html.Raw(Html.ActionLink("[LINK]","CheckOut","Cart").ToString().Replace("[LINK]",""))
    </div>
</div>
