<div class="mainMenu">
    @{
        string className = "";
        className = ViewBag.CurrentMenuItemName == "about" ? "selected" : "";
    }
    <div class="first @className">
        @if (className == "selected")
        {
            <text>о нас</text>
        }
        else
        {
            @Html.ActionLink("о нас", "Index", "Home", new { area = "", id = "about" }, null)
        }
        @if (Request.IsAuthenticated)
        {
            <br />
            @Html.ActionLink("Редактировать", "Edit", "Content", new { area = "Admin", id = "about" }, new { @class = "adminLink" })
        }
    </div>
    
    

    @{
        className = ViewBag.CurrentMenuItemName == "gallery" ? "selected" : "";
    }
    <div class="second @className">
        @if (className == "selected")
        {
            <text>коллекции ковров</text>
        }
        else
        {
            @Html.ActionLink("коллекции ковров", "Gallery", "Home", new { area = "" }, null)
        }
        @if (Request.IsAuthenticated)
        {
            <br />
            @Html.ActionLink("Редактировать", "Edit", "Content", new { area = "Admin", id = "gallery" }, new { @class = "adminLink" })
        }
    </div>
    
    

    @{
        className = ViewBag.CurrentMenuItemName == "ourworks" ? "selected" : "";
    }
    <div class="third @className">
        @if (className == "selected")
        {
            <text>наши работы</text>
        }
        else
        {
            @Html.ActionLink("наши работы", "OurWorks", "Home", new { area = "" }, null)
        }
        @if (Request.IsAuthenticated)
        {
            <br />
            @Html.ActionLink("Редактировать", "Edit", "Content", new { area = "Admin", id = "ourworks" }, new { @class = "adminLink" })
        }
    </div>
    
    
    
    
      @{
        className = ViewBag.CurrentMenuItemName == "articles" ? "selected" : "";
    }
    <div class="fourth @className">
        @if (className == "selected")
        {
            <text>акции и скидки</text>
        }
        else
        {
            @Html.ActionLink("акции и скидки", "Articles", "Home", new { area = "" }, null)
        }
        @if (Request.IsAuthenticated)
        {
            <br />
            @Html.ActionLink("Редактировать", "Edit", "Content", new { area = "Admin", id = "articles" }, new { @class = "adminLink" })
        }
    </div>
    

    

    @{
        className = ViewBag.CurrentMenuItemName == "tour" ? "selected" : "";
    }
    <div class="fifth @className">
        @*<a href="#"><span>3D-тур</span><br />по магазину</a>*@
        @if (className == "selected")
        {
            <text><span>3D-тур</span><br />
                по магазину</text>
        }
        else
        {
            @Html.Raw(Html.ActionLink("[IMAGE]", "Tour", "Home", new { area = "", id = 1 }, null).ToString().Replace("[IMAGE]", "<span>3D-тур</span><br />по магазину"))
        }
        @if (Request.IsAuthenticated)
        {
            <br />
            @Html.ActionLink("Редактировать", "Edit", "Content", new { area = "Admin", id = "tour" }, new { @class = "adminLink" })
        }
    </div>
    
    
    
   
    
     @{
        className = ViewBag.CurrentMenuItemName == "contacts" ? "selected" : "";
    }
    <div class="sixth @className">
        @if (className == "selected")
        {
            <text>контактная информация</text>
        }
        else
        {
            @Html.ActionLink("контактная информация", "Index", "Home", new { area = "", id = "contacts" }, null)
        }
        @if (Request.IsAuthenticated)
        {
            <br />
            @Html.ActionLink("Редактировать", "Edit", "Content", new { area = "Admin", id = "contacts" }, new { @class = "adminLink" })
        }
    </div>

</div>
