@model CashMachine.DataAccess.Presentations.WithdrawPresentation
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="success"></div>
Номер карты: <span>@Model.CardNumber</span>
<br />
    Дата: <span>@Model.Date</span>
    <br />
Снятая сумма: <span>@Model.Amount.ToString("N")</span>
<br />

Остаток/баланс: <span>@Model.Balance.ToString("N")</span>
<br />
<div class="back">
    @Html.ActionLink("Назад к списку операций", "Index", "Card")
</div>
<div class="logout">
    @Html.ActionLink("Выход", "LogOut", "Auth")
</div>