@model IEnumerable<Shop.DataAccess.Entities.ProductAttribute>

@{
    ViewBag.Title = "Attributes";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Attributes</h2>
@using (Html.BeginForm())
{
    @Html.Hidden("categoryId",(int)ViewBag.CategoryId)
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Selected)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Selected)
                    @Html.CheckBox("attr_" + item.Id, item.Selected)
                </td>
            </tr>
        }

    </table>
    
    <input type="submit" value="Save"/>
}
