@using Vip.Models
@model Vip.Models.Product
@{
    ViewBag.Title = "Добавление изображения";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<div class="adminContentContainer">
    @using (Html.BeginForm("Create", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.ValidationSummary(true)
        @Html.Hidden("brandId", Model.Brand.Id)
        <table class="adminEditContentTable">
            <tr>
                <td colspan="2">
                    <h2>
                        Добавление изображения для бренда "@Model.Brand.Title"</h2>
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.ImageSource)
                </td>
                <td>
                    Файл:<input type="file" name="fileUpload[0]" class="photoFileInput" /><br />
                    Файл:<input type="file" name="fileUpload[1]" class="photoFileInput" /><br />
                    Файл:<input type="file" name="fileUpload[2]" class="photoFileInput" /><br />
                    Файл:<input type="file" name="fileUpload[3]" class="photoFileInput" /><br />
                    Файл:<input type="file" name="fileUpload[4]" class="photoFileInput" /><br />
                    Файл:<input type="file" name="fileUpload[5]" class="photoFileInput" /><br />
                    Файл:<input type="file" name="fileUpload[6]" class="photoFileInput" /><br />
                    Файл:<input type="file" name="fileUpload[7]" class="photoFileInput" /><br />
                    Файл:<input type="file" name="fileUpload[8]" class="photoFileInput" /><br />
                    Файл:<input type="file" name="fileUpload[9]" class="photoFileInput" /><br />
                    @Html.ValidationMessageFor(model => model.ImageSource)
                </td>
            </tr>
        </table>
        <div class="buttonsContainer">
            <input type="submit" value="Сохранить" />
            @*@Html.ActionLink("Назад", "Index", "Catalogue", new { Area = "", category = Model.Category.Name }, null)*@
        </div>
    }
</div>
