<div class="presentationMenu">
    @if (!Roles.IsUserInRole(User.Identity.Name, "Administrators"))
    {
        <div class="menuItem separator">
        </div>
    }
    <div class="menuItem pictures-lib">
        <div class="title">
            @if (ViewBag.CurrentItem == "picture-lib")
            {
                @Html.Raw("Библиотека изображений")
            }
            else if (ViewBag.CurrentItem == "picture-lib-details")
            {
                @Html.ActionLink("Библиотека изображений", "Index", "Category", new { area = "Presentation" }, new { @class = "selected" })
            }
            else
            {
                @Html.ActionLink("Библиотека изображений", "Index", "Category", new { area = "Presentation" }, null)
            }
        </div>
    </div>
    <div class="menuItem survey-lib">
        <div class="title">
            @if (Roles.IsUserInRole(User.Identity.Name, "Administrators"))
            {
                if (ViewBag.CurrentItem == "survey")
                {
                <text>Библиотека опросников</text>
                }
                else if (ViewBag.CurrentItem == "survey-details")
                {
                @Html.ActionLink("Библиотека опросников", "Index", "Survey", null, new { @class = "selected" })
                }
                else
                {
                @Html.ActionLink("Библиотека опросников", "Index", "Survey")
                }
            }
            else
            {
                if (ViewBag.CurrentItem == "survey-details")
                {
                <text>Опросник</text>
                }
                else
                {
                @Html.ActionLink("Опросник", "Details", "Survey", new { id = User.Identity.Name }, null)
@*<text>Опросник</text>*@
                }
            }
        </div>
    </div>
    <div class="menuItem customer-area">
        <div class="title">
            @if (Roles.IsUserInRole(User.Identity.Name, "Administrators"))
            {
                if (ViewBag.CurrentItem == "customer")
                {
                <text>Раздел заказчика</text>
                }
                else if (ViewBag.CurrentItem == "customer-details")
                {
                @Html.ActionLink("Раздел заказчика", "Index", "Customer", null, new { @class = "selected" })
                }

                else
                {
                @Html.ActionLink("Раздел заказчика", "Index", "Customer")
                }

            }
            else
            {
                if (ViewBag.CurrentItem == "customer-details")
                {
                <text>Раздел заказчика</text>
                }
                else
                {
                @Html.ActionLink("Раздел заказчика", "Details", "UserCabinet", new { id = User.Identity.Name }, null)
                }
            }
        </div>
    </div>
    @if (Roles.IsUserInRole(User.Identity.Name, "Administrators"))
    {
        <div class="menuItem notes">
            <div class="title">
                @if (ViewBag.CurrentItem == "note-details")
                {
                    @Html.ActionLink("Мои статьи и записи", "Index", "Note", null, new { @class = "selected" })
                }
                else if (ViewBag.CurrentItem == "notes")
                {
                    <text>Мои статьи и записи</text>
                }
                else
                {
                    @Html.ActionLink("Мои статьи и записи", "Index", "Note", null, null)
                }
            </div>
        </div>
    }
    <div class="clear">
    </div>
</div>
