@model Filimonov.Models.SurveyItem
@if (Model == null)
{
    return;
}
<tr class="quest">
    <td class="first">
        @Html.TextBox("tbNumber_" + Model.Id, Model.Number, new { @class = "hidden tbn" })
        @{
            string nId = "numberText_" + Model.Id;
        }
        <div class="numberText" id="@nId">
            @Model.Number
        </div>
    </td>
    <td>@Html.TextArea("taQuestion_" + Model.Id, Model.Question, new { @class = "hidden taq" })
        @{
            string qId = "questText_" + Model.Id;
        }
        <div class="questText" id="@qId">
            @Model.Question
        </div>
    </td>
    <td>
    </td>
    <td>
    </td>
    <td class="admin">@Html.ActionLink("Удалить строку", "DeleteSurveyItem", "Survey", new { id = Model.Id }, new { @class = "adminLink", onclick = "return confirm('Удалить строку?')" })
    </td>
</tr>
