@using Filimonov
@model Filimonov.Models.Survey
@{
    ViewBag.Title = SiteSettings.PresentationTitle + " - Опросник";
    Layout = "~/Areas/Presentation/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_PresentationMenu")

@if (Model == null)
{
    @Html.Raw("Для Вас еще не создан опросник")
    return;
}

<div class="surveyDetails">
    <div class="title">
        <h1>@Model.Title</h1>
        <div class="description">
            Создан @Model.Date.ToShortDateString(), клиент: @Html.ActionLink(Model.Customer.Title, "Details", "UserCabinet", new { id = Model.Customer.Name }, null)</div>
    </div>
    <div class="description">
        @if (Roles.IsUserInRole(User.Identity.Name, "Administrators"))
        {
            @Html.Raw(Model.Description)
        }
    </div>
    <form id="surveyForm" action="/">
    @Html.Hidden("surveyId", Model.Id)
        <table id="surveyTable">
            <tr>
                <th>
                    №
                </th>
                <th>
                    Вопрос
                </th>
                <th>
                    Ответ
                </th>
                <th>
                    Примечания
                </th>
                <th class="admin">
                </th>
            </tr>
            @foreach (var item in Model.SurveyItems)
            {
                <tr class="quest">
                    <td class="first">
                        @Html.TextBox("tbNumber_" + item.Id, item.Number, new { @class = "hidden tbn" })
                        @{
                            string nId = "numberText_" + item.Id;
                        }
                        <div class="numberText" id="@nId">
                            @item.Number
                        </div>
                    </td>
                    <td>
                        @Html.TextArea("taQuestion_" + item.Id, item.Question, new { @class = "hidden taq" })
                        @{
                            string qId = "questText_" + item.Id;
                        }
                        <div class="questText" id="@qId">
                            @item.Question
                        </div>
                    </td>
                    <td>
                        @if (Roles.IsUserInRole(User.Identity.Name, "Administrators"))
                        {
                            @Html.Raw(item.Answer)
                        }
                        else
                        {
                            @Html.TextArea("taAnswer_" + item.Id, item.Answer)
                        }
                    </td>
                    <td>
                        @if (Roles.IsUserInRole(User.Identity.Name, "Administrators"))
                        {
                            @Html.Raw(item.Note)
                        }
                        else
                        {
                            @Html.TextArea("taNote_" + item.Id, item.Note)
                        }
                    </td>
                    <td class="admin">
                        @if (Roles.IsUserInRole(User.Identity.Name, "Administrators"))
                        {
                            @Html.ActionLink("Удалить строку", "DeleteSurveyItem", "Survey", new { id = item.Id }, new { @class = "adminLink", onclick = "return confirm('Удалить строку?')" })
                        }
                    </td>
                </tr>
            }
            @if (Roles.IsUserInRole(User.Identity.Name, "Administrators"))
            {
                <tr id="newLine">
                    <td>
                        @Html.TextBox("inputNumber", "", new { @class = "hidden" })
                    </td>
                    <td>
                        @Html.TextArea("txtQuestion", new { @class = "hidden" })
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                </tr>
            }
        </table>
        @if (!Roles.IsUserInRole(User.Identity.Name, "Administrators"))
        {
            <div id="sendAnswer">
        
            </div>
        }
    </form>
</div>
@section Includes
{
    <script type="text/javascript">
        SurveyService.initialize();
    </script>
}
