@using Filimonov
@model IEnumerable<Filimonov.Models.Survey>

@{
    ViewBag.Title = SiteSettings.PresentationTitle + " - Библиотека опросников";
    Layout = "~/Areas/Presentation/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_PresentationMenu")

<div class="survey-title">
    <h1>Библиотека опросников</h1>
</div>
<div class="survey">
    
    @Html.ActionLink("Добавить опросник", "Create", "Survey", null, new{@class="adminLink"})
    <br/>

    <table> 
    @foreach (var survey in Model)
    {
        <tr>
            <td class="date">@survey.Date.ToShortDateString()</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td class="title">
                @Html.ActionLink(survey.Title, "Details", "Survey", new { id = survey.Customer.Name }, null)
            </td>
            <td class="title">
                @Html.ActionLink(survey.Customer.Title, "Details", "Survey", new { id = survey.Customer.Name }, null)
            </td>
            <td class="description">@Html.Raw(survey.Description)</td>
            <td style="vertical-align: top">
                @Html.ActionLink("Редактировать данные", "Edit", "Survey", new { id = survey.Id }, new{@class="adminLink"}) | 
                @Html.ActionLink("Удалить", "Delete", "Survey", new { id = survey.Id }, new{@class="adminLink",onclick="return confirm('Удалить опросник?')"})
            </td>
        </tr>
    }
    </table>
    
    

</div>