@model IEnumerable<Filimonov.Models.Customer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Presentation/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_PresentationMenu")

<div class="survey-title">
    <h1>Библиотека опросников</h1>
</div>
<div class="survey">
    
    <table> 
    @foreach (var customer in Model)
    {
        <tr>
            <td class="date">@customer.SurveyDate.ToShortDateString()</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td class="title">
                @Html.ActionLink(customer.SurveyTitle,"Details","Survey",new{id=customer.Name},null)
            </td>
            <td class="title">
                @Html.ActionLink(customer.Title,"Details","Survey",new{id=customer.Name},null)
            </td>
            <td class="description">@Html.Raw(customer.SurveyDescription)</td>
            <td style="vertical-align: top">
                @Html.ActionLink("Редактировать данные", "EditSurveyData", "Survey", new { id = customer.Name }, new{@class="adminLink"})
            </td>
        </tr>
    }
    </table>

</div>