<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>ПЕНЕТРОН УКРАИНА</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="@ViewBag.SeoDescription" />
    <meta name="keywords" content="@ViewBag.SeoKeywords" />

    @Styles.Render("~/Content/Site.css", "~/Content/Menu.css")
    @Styles.Render("~/Content/bx_styles/bx_styles.css")

    @if (Request.IsAuthenticated)
    { 
        @Styles.Render("~/Content/Admin.css")
    }
    
    <script type="text/javascript">
        var isHomePage =  @(ViewBag.isHomePage != null ? (ViewBag.isHomePage).ToString().ToLowerInvariant() : "false");
    </script>

</head>
    <body>
        <div id="site">
        </div>
        <div class="header top">
            <div class="page">
                <div class="search">
                    @Html.Editor("search")
                </div>
                @if (Request.IsAuthenticated)
                {
                    <div style="position:absolute; width: 300px; left: 500px; ">
                        @Html.ActionLink("Выйти из системы администрирования", "LogOut", "Auth",null,new{@class="adminLink"})
                    </div>
                }
                <div id="phone">
                </div>
                <div id="logo">
                </div>
                
                @Html.Partial("MainMenu")
            </div>
        </div>
       
        
        @RenderBody()
        <div id="footer">
            <div id="em">
                <div id="em-link">
                </div>
            </div>
        </div>
        @*@Scripts.Render("~/bundles/jquery")*@
        @Scripts.Render("~/Scripts/jquery-1.7.1.min.js", "~/Scripts/jquery.bxSlider.min.js", "~/Scripts/site.js", "~/Scripts/jquery.parallax.js")
        
        @RenderSection("Scripts", false)
        
        <script type="text/javascript">
            $(function () {
                //                jQuery('.parallax-layer').parallax();

                $(window).bind('scroll', function (e) {
                    parallaxScroll();
                });    

                        });

            function parallaxScroll() {
                //alert("!!!");
                var scrolled = $(window).scrollTop();

                //alert((0 - (scrolled * .25)) + 'px');
                $('#site').css('top', (0 - (scrolled * .15)) + 'px');
                //$('#parallax-bg2').css('top', (0 - (scrolled * .5)) + 'px');
                //$('#parallax-bg3').css('top', (0 - (scrolled * .75)) + 'px');
            }
            
        </script>
        
    </body>
</html>
