<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>ПЕНЕТРОН УКРАИНА</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/js/common")
</head>
<body>
    <header>
        <div class="top">
            <div class="page">
                <div id="phone"></div>
                <div id="logo"></div>
            </div>
        </div>
        <div class="middle">
            
        </div>
        <div class="bottom">
            
        </div>
    </header>
    <div class="main-page-content">
        <div class="content">
        
            
            @RenderBody()


        </div>
    </div>
    <div id="footer">
        <div id="em">
            <div id="em-link">
                
            </div>    
        </div>
    </div>
</body>
</html>
