<div id="mainMenu">
                <ul>
                    <li>
                        @Html.ActionLink("технологии", "Technologies", "Home",new{area=""},null)
                    </li>
                    <li>
                        @Html.ActionLink("продукция", "Technologies", "Home", new { area = "" }, null)
                    </li>
                    <li>
                        @Html.ActionLink("статьи и документация", "Technologies", "Home", new { area = "" }, null)
                    </li>
                    <li>
                        @Html.ActionLink("объекты и решения", "Technologies", "Home", new { area = "" }, null)
                    </li>
                    <li>
                        @Html.ActionLink("где купить", "Technologies", "Home", new { area = "" }, null)
                    </li>
                    <li>
                        @Html.ActionLink("о компании", "Technologies", "Home", new { area = "" }, null)
                    </li>
                </ul>
            </div>