@using SiteExtensions
@model Leo.Models.Product
           
<div class="galleryItem">
    <div class="galleryTop">
    </div>
    <div class="imageContainer">
        <table>
            <tr>
                <td rowspan="2">
                    <div class="border-left">
                    </div>
                </td>
                <td>
                    <div class="image">
                    <a rel="@Html.Raw("group1")" href="../../Content/Images/@Model.ImageSource" class="fancyImage"  title="@Model.Title">
                    @Html.Raw(Html.CachedImage("~/Content/Images/", Model.ImageSource, "galleryThumbnail", ScaleMode.FixedHeight))
                    </a>
                    </div>
                </td>
                <td rowspan="2">
                    <div class="border-right">
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="border-bottom">
                        <div class="border-bottom-left">
                        </div>
                        <div class="border-bottom-right">
                        </div>
                    </div>
                </td>
            </tr>
        </table>
        @if (Request.IsAuthenticated)
        {
            <div>
                @Html.ActionLink("Редактировать", "Edit", "Product", new { area = "Admin", id = Model.Id }, new { @class = "adminLink" }) &nbsp; 
                @Html.ActionLink("Удалить", "Delete", "Product", new { area = "Admin", id = Model.Id }, new { @class = "adminLink", onclick = "return confirm('Удалить изображение')" })
            </div>
        }
        <div class="imageSignContainer">
                <table class="title">
                    <tr>
                        <td>
                            <div class="left">
                            </div>
                        </td>
                        <td>
                            @Model.Title
                        </td>
                        <td>
                            <div class="right">
                            </div>
                        </td>
                    </tr>
                </table>
                
                <div class="description">
                @Model.Description
                </div>
        </div>
    </div>
</div>
