@model Shop.DataAccess.Entities.Order

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@section AdminNavigation
{
    @Html.Partial("Menu", "Order")
}

<div class="container">
    <h3>Редактирование заказа</h3>
    @using (Html.BeginForm("Edit", "Order", FormMethod.Post, new { role = "form", @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.CustomerName, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                <input type="text" class="form-control" name="CustomerName" id="CustomerName" value="@Model.CustomerName">
            </div>
            @Html.ValidationMessageFor(model => model.CustomerName)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.CustomerPhone, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                <input type="text" class="form-control" name="CustomerPhone" id="CustomerPhone" value="@Model.CustomerPhone">
            </div>
            @Html.ValidationMessageFor(model => model.CustomerPhone)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.CustomerEmail, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                <input type="text" class="form-control" name="CustomerEmail" id="CustomerEmail" value="@Model.CustomerEmail">
            </div>
            @Html.ValidationMessageFor(model => model.CustomerEmail)
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(model => model.Completed) @Html.LabelFor(model => model.Completed)
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Info, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                <textarea class="form-control" rows="3" name="Info">@Model.Info</textarea>
            </div>
            @Html.ValidationMessageFor(model => model.Info)
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(model => model.Subscribed) @Html.LabelFor(model => model.Subscribed)
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.DeliveryMethod, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">

                <input type="radio" name="delivery-method" @Html.Raw(Model.DeliveryMethod==0? "checked":"") value="delivery">
                Доставка <br/>

                <input type="radio" name="delivery-method" @Html.Raw(Model.DeliveryMethod==1? "checked":"") value="takeout">
                Самовывоз <br/>

            </div>
            @Html.ValidationMessageFor(model => model.DeliveryMethod)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.DeliveryCity, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                <input type="text" class="form-control" name="DeliveryCity" id="DeliveryCity" value="@Model.CustomerName">
            </div>
            @Html.ValidationMessageFor(model => model.DeliveryCity)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.DeliveryStreet, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                <input type="text" class="form-control" name="DeliveryStreet" id="DeliveryStreet" value="@Model.CustomerName">
            </div>
            @Html.ValidationMessageFor(model => model.DeliveryStreet)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.DeliveryOffice, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                <input type="text" class="form-control" name="DeliveryOffice" id="DeliveryOffice" value="@Model.CustomerName">
            </div>
            @Html.ValidationMessageFor(model => model.DeliveryOffice)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.PaymentMethod, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                <input type="radio" name="payment-method" @Html.Raw(Model.PaymentMethod==0? "checked":"") value="cache">
                Наличными<br />
                <input type="radio" name="payment-method" @Html.Raw(Model.PaymentMethod==1? "checked":"") value="card">
                Картой
            </div>
            @Html.ValidationMessageFor(model => model.PaymentMethod)
        </div>
        <div class="form-group">
            @Html.ActionLink("Назад", "Index", "Order", null, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                <button type="submit" class="btn btn-success">Сохранить</button>
            </div>
        </div>
    }
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
