@model IEnumerable<Shop.DataAccess.Entities.Order>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@section AdminNavigation
{
    @Html.Partial("Menu", "Order")
}

<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerEmail)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.Completed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Info)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subscribed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeliveryMethod)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeliveryCity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeliveryStreet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeliveryOffice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaymentMethod)
        </th>
        <th>
            Количество позиций
        </th>
        <th>
            Количество товаров
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.OrderBy(o=>o.Completed)) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerPhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Completed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Info)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Subscribed)
        </td>
        <td>
            @Html.Raw(item.DeliveryMethod==0?"Доставка":"Самовывоз")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeliveryCity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeliveryStreet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeliveryOffice)
        </td>
        <td>
            @Html.Raw(item.PaymentMethod==0?"Наличными":"Картой")
        </td>
        <td>
            @item.OrderItems.Count
        </td>
        <td>
            @item.OrderItems.Sum(oi=>oi.Quantity)
        </td>

        <td>
            @Html.ActionLink("Редактировать", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Подробнее", "Details", new { id=item.Id }) |
            @Html.ActionLink("Удалить", "Delete", new { id=item.Id },new{onclick="return confirm('Удалить заказ?')"})
        </td>
    </tr>
}

</table>
