@using Kiki.WebSite
@using Kiki.WebSite.Helpers.Graphics
@using Kiki.WebSite.Models
@model Kiki.WebSite.Models.SiteModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section TopMenu
{
    @Html.Partial("TopMenu", new SiteMenuModel { Contents = Model.Contents, CurrentMenuItemName = Model.Content.Name })
}

@section Menu
{
    @Html.Partial("Menu", new SiteMenuModel { Contents = Model.Contents, CurrentMenuItemName = Model.Content.Name })
}

@section Banner
{
    @if (Model.Banner != null)
    {
        @Html.Partial("Banner",Model.Banner.ImageSource)
    }
}

    @Html.Partial("Title",new SiteTitle{Title = Model.Content.Title, ImageSource = Model.Content.ImageSource} )


<div class="articles">
    
    <div class="subscribe-panel">
        <div class="title">
            будь в курсе!
        </div>
        <div class="text">
            Кики сразу же напишет тебе о свежей хорошей новости, просто введи свой емейл-адрес:
        </div>
        <input type="text" name="email" id="email"/>
        <div id="subscribe-btn">
            Отправить!
        </div>
    </div>
    
    @{
        int i = 1;
    }
    
    @foreach (var item in Model.Articles)
    {
        i++;
        
        <div class="article-preview">
            <div class="image">
                <a href="@Url.Action("ArticleDetails","Home",new{contentName=Model.Content.Name, id=item.Name})">
                @Html.Raw(Html.CachedImage("~/Content/Images/", item.ImageSource, SiteSettings.GetThumbnail("articlePreviw")))    
                </a>
                
                @*<img src="img/tmp/image1.png">*@
            </div>
            <div class="date">@item.Date.ToShortDateString()</div>
            <div class="title">@item.Title</div>
            <div class="link"><a href="@Url.Action("ArticleDetails","Home",new{contentName=Model.Content.Name, id=item.Name})">Вся новость</a> &raquo; </div>
        </div>
        
        if (i % 4 == 0)
        {
           <div class="clear"></div> 
        }
    }

    

   @* <div class="article-preview">
        <div class="image">
            <img src="img/tmp/image1.png">
        </div>
        <div class="date">16.11.2014</div>
        <div class="title">Скоро! Точнее, 20 ноября состоится мастер-класс по надменному взгляду.</div>
        <div class="link"><a href="article-details.html">Вся новость</a> &raquo; </div>
    </div>
    <div class="article-preview">
        <div class="image">
            <img src="img/tmp/image1.png">
        </div>
        <div class="date">16.11.2014</div>
        <div class="title">Скоро! Точнее, 20 ноября состоится мастер-класс по надменному взгляду.</div>
        <div class="link"><a href="article-details.html">Вся новость</a> &raquo; </div>
    </div>
    <div class="article-preview">
        <div class="image">
            <img src="img/tmp/image1.png">
        </div>
        <div class="date">16.11.2014</div>
        <div class="title">Скоро! Точнее, 20 ноября состоится мастер-класс по надменному взгляду.</div>
        <div class="link"><a href="article-details.html">Вся новость</a> &raquo; </div>
    </div>

    <div class="clear"></div>

    <div class="article-preview">
        <div class="image">
            <img src="img/tmp/image1.png">
        </div>
        <div class="date">16.11.2014</div>
        <div class="title">Скоро! Точнее, 20 ноября состоится мастер-класс по надменному взгляду.</div>
        <div class="link"><a href="article-details.html">Вся новость</a> &raquo; </div>
    </div>
    <div class="article-preview">
        <div class="image">
            <img src="img/tmp/image1.png">
        </div>
        <div class="date">16.11.2014</div>
        <div class="title">Скоро! Точнее, 20 ноября состоится мастер-класс по надменному взгляду.</div>
        <div class="link"><a href="article-details.html">Вся новость</a> &raquo; </div>
    </div>
    <div class="article-preview">
        <div class="image">
            <img src="img/tmp/image1.png">
        </div>
        <div class="date">16.11.2014</div>
        <div class="title">Скоро! Точнее, 20 ноября состоится мастер-класс по надменному взгляду.</div>
        <div class="link"><a href="article-details.html">Вся новость</a> &raquo; </div>
    </div>
    <div class="article-preview">
        <div class="image">
            <img src="img/tmp/image1.png">
        </div>
        <div class="date">16.11.2014</div>
        <div class="title">Скоро! Точнее, 20 ноября состоится мастер-класс по надменному взгляду.</div>
        <div class="link"><a href="article-details.html">Вся новость</a> &raquo; </div>
    </div>

    <div class="clear"></div>*@
</div>