@using Kiki.WebSite
@using Kiki.WebSite.Helpers.Graphics
@using Kiki.WebSite.Models
@model Kiki.WebSite.Models.SaleModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section TopMenu
{
    @Html.Partial("TopMenu", new SiteMenuModel { Contents = Model.Contents, CurrentMenuItemName = Model.Content.Name })
}

@section Menu
{
    @Html.Partial("Menu", new SiteMenuModel { Contents = Model.Contents, CurrentMenuItemName = Model.Content.Name })
}


@Html.Partial("Title",new SiteTitle{Title = Model.Sale.Title, ImageSource = Model.Sale.ImageSource} )


 <div class="sale-details">

        <div class="sale-preview">
            <div class="image">
                @Html.Raw(Html.CachedImage("~/Content/Images/", Model.Sale.ImageSource, SiteSettings.GetThumbnail("articlePreviw")))
            </div>
            <div class="title">@Model.Sale.Title</div>
            <div class="description">@Model.Sale.Description</div>
        </div>

        @Html.Raw(Model.Sale.Text)




        <div class="article-details-footer link">
            <a href="@Url.Action("Index","Home",new{id="sales"})">&laquo; Вернуться к акциям</a>
        </div>

    </div>