@using Kiki.WebSite
@using Kiki.WebSite.App_LocalResources
@using Kiki.WebSite.Helpers.Graphics
@using Kiki.WebSite.Models
@model Kiki.WebSite.Models.SiteModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section TopMenu
{
    @Html.Partial("TopMenu", new SiteMenuModel { Contents = Model.Contents, CurrentMenuItemName = Model.Content.Name ,Lang = Model.LangCode})
}

@section Menu
{
    @Html.Partial("Menu", new SiteMenuModel { Contents = Model.Contents, CurrentMenuItemName = Model.Content.Name ,Lang = Model.LangCode})
}

@section Banner
{
    @if (Model.Banner != null)
    {
        @Html.Partial("Banner",Model.Banner.ImageSource)
    }
}

    @Html.Partial("Title",new SiteTitle{Title = Model.LangCode=="en"?Model.Content.TitleEng: Model.Content.Title, ImageSource = Model.Content.ImageSource} )


<div class="sales">
    <div class="subscribe-panel">
        <div id="subscribe-controls">
        <div class="title">
            @GlobalRes.KeepInTouch
        </div>
            <div class="text">
                @GlobalRes.PleaseSubscribeToSales
            </div>
        <input type="text" name="email" id="email"/>
            <div id="subscribe-btn">
                @GlobalRes.Send
            </div>
            </div>
        <div id="subscribed">
        @GlobalRes.SubscribedToSales
        </div>
    </div>

    
    @{
        int i = 1;
    }
    
    @foreach (var item in Model.Sales.OrderByDescending(c=>c.EndDate))
    {
        i++;
        
        <div class="sale-preview">
            <div class="image">
                
                
                @if (item.EndDate < DateTime.Now)
                {
                    <div class="period expired">
                        @GlobalRes.SalePassed
                    </div>
                }
                else
                {
                    <div class="period">
                        @GlobalRes.SaleFrom
                        <br/>
                        @item.StartDate.ToShortDateString() @GlobalRes.SaleTo @item.EndDate.ToShortDateString()
                    </div>
                }

                <a href="/Content/Images/@item.ImageSource"  class="fancy">
                    @Html.Raw(Html.CachedImage("~/Content/Images/", item.ImageSource, SiteSettings.GetThumbnail("articlePreviw")))    
                </a>
                
                @*<img src="img/tmp/image1.png">*@
                
                
            </div>
            <div class="title">@(Model.LangCode=="en"?item.TitleEng: item.Title)</div>
            <div class="description">@(Model.LangCode=="en"?item.DescriptionEng: item.Description)</div>
            @*<div class="link"><a href="@Url.Action("SaleDetails","Home",new{contentName=Model.Content.Name, id=item.Name})">Вся новость</a> &raquo; </div>*@
        </div>
        
        if (i % 4 == 0)
        {
           <div class="clear"></div> 
        }
    }
   <div class="clear"></div> 
</div>