@model Penetron.Models.Building

@{
    ViewBag.Title = "Редактирование объекта";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="adminContent">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)



        @Html.HiddenFor(model => model.Id)

        <table>
            <tr>
                <td colspan="2">
                    <h3>
                        Редактирование категории</h3>
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Name)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.Name)
                    @Html.ValidationMessageFor(model => model.Name)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Title)
                </td>
                <td>
                    @Html.TextBoxFor(model => model.Title)
                    @Html.ValidationMessageFor(model => model.Title)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.SortOrder)
                </td>
                <td>
                    @Html.EditorFor(model => model.SortOrder)
                    @Html.ValidationMessageFor(model => model.SortOrder)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Text)
                </td>
                <td>
                    @Html.TextAreaFor(model => model.Text, new { rows = 12, @class = "ckeditor" })
                    @Html.ValidationMessageFor(model => model.Text)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.SeoDescription)
                </td>
                <td>
                    @Html.TextAreaFor(model => model.SeoDescription, new { rows = 6 })
                    @Html.ValidationMessageFor(model => model.SeoDescription)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.SeoKeywords)
                </td>
                <td>
                    @Html.TextAreaFor(model => model.SeoKeywords, new { rows = 6 })
                    @Html.ValidationMessageFor(model => model.SeoKeywords)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Active)
                </td>
                <td>
                    @Html.EditorFor(model => model.Active)
                    @Html.ValidationMessageFor(model => model.Active)
                </td>
            </tr>

        </table>
        <div class="buttonsContainer">
            <input type="submit" value="Сохранить" />
            @Html.ActionLink("Назад", "Buildings", "Home", new { area = "" }, null)
        </div>
    }
</div>
@section Scripts
{
    @Scripts.Render("~/Scripts/jquery.validate.min.js", "~/Scripts/jquery.validate.unobtrusive.min.js")
    
    <script type="text/javascript" src="/Controls/ckeditor/ckeditor.js"></script>
    <script type="text/javascript" src="/Controls/ckeditor/adapters/jquery.js"></script>

}

