@model Posh.Models.SiteViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Model.Content.MainPage)
{
    @Html.Partial("_SearchCriteriaSelector")
}
@section Title
{
    <div class="title">
        @Model.Content.Title
    </div>
}
@section Content
{
    <div class="content">
        @Html.Raw(Model.Content.Text)
    </div>
}
@section SeoTitle
{
    @if (!string.IsNullOrEmpty(Model.Content.SeoTitle))
    {
        <div class="title seo">
            @Model.Content.SeoTitle
        </div>
    }
}
@section SeoContent
{
    @if (!string.IsNullOrEmpty(Model.Content.SeoText))
    {
        <div class="content seo">
            @Html.Raw(Model.Content.SeoText)
        </div>
    }
}
