@using Shop.WebSite
@using Shop.WebSite.Helpers.Graphics
@model IEnumerable<Shop.DataAccess.Entities.ProductImage>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@section AdminNavigation
{
    @Html.Partial("Menu", "Product")
}

<div class="container">
    <h3>Изображения товара</h3>
    <h3>@ViewBag.ProductTitle</h3>
    <p>
        @Html.ActionLink("Добавить", "Create", new { id = (int)ViewBag.ProductId })
    </p>

    @foreach (var item in Model)
    {
        <div class="adminProductImage @(item.IsDefault?"defaultImage":"")">
            <div>
                @Html.ActionLink("Удалить", "Delete", new { id = item.Id, productId = item.ProductId }, new { onclick = "return confirm('Удалить изображение?')" })
                @Html.ActionLink("Установить главным", "SetDefault", new { id = item.Id, productId = item.ProductId }, new { onclick = "return confirm('Установить это изображение главным для продукта?')" })
            </div>
            @Html.Raw(Html.CachedImage("~/Content/Images/", item.ImageSource, SiteSettings.GetThumbnail("adminProductPreview")))
        </div>
    }
    
    <div style="clear: both"></div>
    <div style="margin-top: 30px">
        @Html.ActionLink("Назад к товарам", "Index", "Product")
    </div>

</div>


