@using Kulumu
@using Kulumu.Helpers
@using SiteExtensions.Graphics
@model Kulumu.Models.AdvertisingPanel
<div class="add-panel">
    <div class="left">
    </div>
    <div class="center">
    </div>
    <div class="bottom">
    </div>
    <div class="right">
    </div>
    <div class="content-panel">
        @if (Request.IsAuthenticated)
        {
            <div style="position: absolute; padding-left: 10px; margin-top: -20px;">
                @Html.ActionLink("Редактировать главную страницу", "Edit", "Content", new { area = "Admin", id = "main" }, new { @class = "adminLink" })
            </div>
            <div style="position: absolute; padding-left: 650px; margin-top: -20px;">
                @Html.ActionLink("Администрирование ковров", "Index", "Product", new { area = "Admin", id = "main" }, new { @class = "adminLink" })
            </div>
        }
        <div class="attention">
        </div>
        <div class="content">
            @if (Model.Article != null)
            {
                <div class="randomArticle">
                    <div class="date">
                        @Model.Article.Date.ToCustomDate()
                    </div>
                    <div class="title">
                        @Html.ActionLink(Model.Article.Title, "Articles", "Home", new {area = ""}, null)
                    </div>
                    <div class="description">
                        @Model.Article.Description
                    </div>
                    <div class="allNewsLink">
                        @Html.ActionLink("Все новости", "Articles", "Home", new {area = ""}, null) &raquo;
                    </div>
                </div>
            }
            <div class="presentDiscount">
            </div>
            @if (Model.DiscountProduct != null)
            {
                <div class="discount">
                    <div class="txt">
                        <div class="seal">
                            <div class="text">
                                @Html.Raw(Model.DiscountProduct.Price)
                            </div>
                        </div>
                        <div class="title">
                            @Model.DiscountProduct.Title
                        </div>
                        <div class="description">
                            @Html.Raw(Model.DiscountProduct.Description)
                        </div>
                    </div>
                    <div class="discount-frame">
                        <div class="image-frame"></div>
                        @Html.Raw(Html.CachedImage("~/Content/Images/", Model.DiscountProduct.ImageSource, SiteSettings.GetThumbnail("discount"), ScaleMode.Crop))
                    
                    </div>
                </div>
            }
        </div>
        <div class="pattern">
        </div>
    </div>
</div>
