@using Shop.Models
@model Shop.Models.SiteViewModel
@{
    
}
@section Categories
{
    @Html.Partial("_Categories", Model.Categories)
}
@section Brands
{
    @Html.Partial("_Brands", Model.Brands)
}
@section Tags
{
    @Html.Partial("_Tags", Model.Tags)
}
@if (Model.Content != null)
{
    @Html.Raw(Model.Content.Text)
}
@if (Model.Content != null && Model.Content.Name == "service")
{
    <div id="sendWishFormContent">
        @Html.Partial("_WishForm", new WishFormModel())
    </div>
}
@if (Model.Content != null && Model.Content.Name == "about")
{
    <div id="addCommentFormContent">
        @Html.Partial("_CommentForm", new CommentFormModel())
    </div>
}
@section HeaderPicture
{
    @{
        string style = "background: url('Content/img/header-bg.gif') no-repeat; background-position:33px 20px;";
    }
    <div id="header-bg-container" style="@Html.Raw(style)">
    </div>
}
