@using Kulumu
@using SiteExtensions.Graphics
@model IEnumerable<Kulumu.Models.Product>
           @{
            int cnt = 0;
        }
@foreach (var product in Model)
{
    cnt++;
    <div class="product">
        <div class="cont">
            <div class="image">
                            @if (product.Discount)
            {
            <div class="promostar">
                @Html.Raw(product.DiscountText)
            </div>
            }

                @if (Request.IsAuthenticated)
                {
                    <div class="abs">
                        @Html.ActionLink("Редактировать", "Edit", "Product", new {area = "Admin", id = product.Id}, new {@class = "adminLink"})
                        @Html.ActionLink("Удалить", "Delete", "Product", new { area = "Admin", id = product.Id }, new { @class = "adminLink", onclick = "return confirm('Удалить продукт?')" })
                    </div>
                }
                @Html.Raw(Html.ActionLink("[IMAGE]", "ProductDetails", "Home", new { area = "", id = product.Id }, null).ToString().Replace("[IMAGE]", Html.CachedImage("~/Content/Images/", product.ImageSource, SiteSettings.GetThumbnail("galleryPreview"))))
            </div>
        </div>
        @*<div class="sign">
            <div class="signTitle">@product.Title</div>
            <div class="signDescription">@Html.Raw(product.Description)</div>
        </div>*@
    </div>
    if (cnt%3==0)
            {
                <div class="clear"></div>
            }
}
<div class="clear">
</div>
