@using Kulumu
@using SiteExtensions.Graphics
@model Kulumu.Models.Product



<div class="productInfo">
    <div class="title">
        @Html.Raw(Model.Title)
    </div>
    @Html.Raw(Model.Description)
</div>
<div class="productImages">
    <div class="preview">
        <a href="#" id="pictureLink" class="fancy">
            <img src="" alt="" id="pictureContainer" />
        </a>
        @*@Html.Raw(Html.CachedImage("~/Content/Images/", Model.ImageSource, SiteSettings.GetThumbnail("productPreview")))*@
    </div>
    <div id="productPreviews">
    @foreach (var image in Model.ProductImages)
    {
        <div class="productThumb" onclick="ProjectCatalogue.changeImage('@image.ImageSource') ">
            @if (Request.IsAuthenticated)
            {
                <div class="abs">
                    @Html.ActionLink("Обложка","SetCoverImage","Product",new{id=image.Id},new{@class="adminLink",onclick="return confirm('Сделать обложкой?')"})
                    <br/>
                    @Html.ActionLink("Удалить", "DeleteProductImage", "Product", new { id = image.Id }, new { @class = "adminLink", onclick = "return confirm('Удалить изображение?')" })
                </div>
            }
            @Html.Raw(Html.CachedImage("~/Content/Images/", image.ImageSource, SiteSettings.GetThumbnail("productThumb")))
        </div>
    }
        <div class="clear"></div>
        </div>
</div>

<div class="clear"></div>