@using Kulumu
@using Kulumu.Models
@using SiteExtensions.Graphics
@model Kulumu.Models.Product


@Html.Hidden("productId",Model.Id)
@Html.Hidden("firstImageId",Model.ProductImages.First().Id)
<div class="productInfo">
    <div class="title">
        @Html.Raw(Model.Title)
    </div>
    @Html.Raw(Model.Description)
    <div class="properties">
    <table>
        <tr>
            <td class="title">Артикул:</td>
            <td>@Model.StockNumber</td>
        </tr>
        <tr>
            <td class="title">Состав:</td>
            <td>@Model.Structure</td>
        </tr>
        <tr>
            <td class="title">Плотность:</td>
            <td>@Model.Consistence</td>
        </tr>
        <tr>
            <td class="title">Производитель:</td>
            <td>@Model.Producer</td>
        </tr>
        <tr>
            <td class="title">Высота ворса:</td>
            <td>@Model.Nap</td>
        </tr>
        <tr>
            <td class="title">Цена:</td>
            <td>@Model.Price</td>
        </tr>
    </table>
    </div>
    @if (Model.Category.Name != "ourworks")
    {
        @Html.Partial("_ProductSizeList", Model.Category.ProductSizes)
    }
</div>
<div class="productImages">
    <div class="preview">
        @*<a href="#" id="pictureLink" class="fancy">*@
        <a href="#" id="pictureLink" class="fancyPopup">
            <img src="" alt="" id="pictureContainer" />
        </a>
        @*@Html.Raw(Html.CachedImage("~/Content/Images/", Model.ImageSource, SiteSettings.GetThumbnail("productPreview")))*@
    </div>
    <div id="productPreviews">
    @foreach (var image in Model.ProductImages)
    {
        <div class="productThumb" onclick="ProjectCatalogue.changeImage('@image.ImageSource', @Model.Id, @image.Id)">
            @if (Request.IsAuthenticated)
            {
                <div class="abs">
                    @Html.ActionLink("Обложка","SetCoverImage","Product",new{id=image.Id},new{@class="adminLink",onclick="return confirm('Сделать обложкой?')"})
                    <br/>
                    @Html.ActionLink("Удалить", "DeleteProductImage", "Product", new { id = image.Id }, new { @class = "adminLink", onclick = "return confirm('Удалить изображение?')" })
                </div>
            }
            @Html.Raw(Html.CachedImage("~/Content/Images/", image.ImageSource, SiteSettings.GetThumbnail("productThumb")))
        </div>
    }
        <div class="clear"></div>
        </div>
</div>

<div class="clear"></div>

<div class="orderContainer">
    <div class="orderLink"><a href="#order">Заказать</a></div>
    <div class="orderContent" id="order">
        
        @Html.Partial("OrderForm", new OrderFormModel { ProductId = Model.Id, ProductTitle = Model.Title, ProductSizes = Model.Category.ProductSizes })
    </div>
</div>