@model IEnumerable<Shop.DataAccess.Entities.ProductAttribute>

@{
    ViewBag.Title = "Attributes";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@section AdminNavigation
{
       @Html.Partial("Menu","Category")
}

<div class="container">
@using (Html.BeginForm("Attributes", "Category", FormMethod.Post, new { role = "form", @class = "form-horizontal" }))
{
    @Html.Hidden("categoryId",(int)ViewBag.CategoryId)
    <table class="table table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                Выбрать
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Selected)
                    @Html.CheckBox("attr_" + item.Id, item.Selected)
                </td>
            </tr>
        }

    </table>
    
        <div class="form-group">
            @Html.ActionLink("Назад", "Index", "Category", null, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                <button type="submit" class="btn btn-success">Сохранить</button>
            </div>
        </div>
}
    </div>