@model IEnumerable<Shop.DataAccess.Entities.Category>

@{
    ViewBag.Title = "Категории";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@section AdminNavigation
{
    @Html.Partial("Menu","Category")
}



<p>
    @*<button type="button" class="btn btn-success btn-sm">*@
        @Html.ActionLink("Добавить", "Create")
    @*</button>*@
</p>

<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SeoDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SeoKeywords)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SeoText)
        </th>
        <th style="width: 1px">
            @Html.DisplayNameFor(model => model.IsCorrectLang)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        string categoryLevel = item.CategoryLevel > 0 ? "subcategory" : "";
        <tr>
            <td class="@categoryLevel">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td class="@categoryLevel">
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td class="adminTextContainer">
                <div>
                    @Html.DisplayFor(modelItem => item.SeoDescription)
                </div>
            </td>
            <td class="adminTextContainer">
                <div>
                    @Html.DisplayFor(modelItem => item.SeoKeywords)
                </div>
            </td>
            <td class="adminTextContainer">
                <div>
                    @Html.DisplayFor(modelItem => item.SeoText)
                </div>
            </td>
            <td>
                @if (!item.IsCorrectLang)
                {
                    <span class="label label-danger">!</span>
                }
                else
                {
                    <span class="label label-success">ok</span>
                }
            </td>
            <td>
                @Html.ActionLink("Редактировать", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Атрибуты", "Attributes", new { id = item.Id }) |
                @Html.ActionLink("Удалить", "Delete", new { id = item.Id }, new { onclick = "return confirm('Удалить категорию?')" })
                @if (item.CategoryLevel == 0)
                {
                    <text> | </text>
                    @Html.ActionLink("Добавить подкатегорию", "Create", new {id = item.Id})
                }
            </td>
        </tr>
    }

</table>
