@model Kiki.DataAccess.Entities.Service

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@section AdminNavigation
{
    @Html.Partial("Menu", "Service")
}

<div class="container">
    <h3>Редактирование услуги</h3>
    @using (Html.BeginForm("Edit", "Service", FormMethod.Post, new { role = "form", @class = "form-horizontal", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)
       
        <div class="form-group">
            @Html.LabelFor(model => model.Title, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                <input type="text" class="form-control" name="Title" id="Title" placeholder="Введите заголовок" value="@Model.Title">
            </div>
            @Html.ValidationMessageFor(model => model.Title)
        </div>
 <div class="form-group">
            @Html.LabelFor(model => model.TitleR, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                <input type="text" class="form-control" name="TitleR" id="TitleR" placeholder="Введите заголовок" value="@Model.TitleR">
            </div>
            @Html.ValidationMessageFor(model => model.TitleR)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.TitleEng, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                <input type="text" class="form-control" name="TitleEng" id="TitleEng" placeholder="Введите заголовок" value="@Model.TitleEng">
            </div>
            @Html.ValidationMessageFor(model => model.TitleEng)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                <input type="text" class="form-control" name="Name" id="Name" placeholder="Введите заголовок" value="@Model.Name">
            </div>
            @Html.ValidationMessageFor(model => model.Title)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Description, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                <textarea class="form-control ckeditor" rows="3" name="Description">@Model.Description</textarea>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.DescriptionEng, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                <textarea class="form-control ckeditor" rows="3" name="DescriptionEng">@Model.DescriptionEng</textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Изображения</label>
            <div class="col-sm-10">
                @Html.Partial("InputImages")
            </div>
        </div>
          <div class="form-group">
            @Html.LabelFor(model => model.SortOrder, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                <input type="text" class="form-control" name="SortOrder" id="SortOrder" placeholder="Введите заголовок" value="@Model.SortOrder">
            </div>
            @Html.ValidationMessageFor(model => model.SortOrder)
        </div>
        <div class="form-group">
            @Html.ActionLink("Назад", "Index", "Service", null, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                <button type="submit" class="btn btn-success">Сохранить</button>
            </div>
        </div>
    }
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="/Controls/ckeditor/ckeditor.js"></script>
    <script type="text/javascript" src="/Controls/ckeditor/adapters/jquery.js"></script>
}
