<nav>
<ul>
    <li class="first-child">
        @Html.ActionLink("О компании", "Index", "Home", new { Area = "" }, null)
    </li>
    <li>
        @Html.ActionLink("Доставка", "Index", "Home", new { Area = "" }, null)
    </li>
    <li>
        @Html.ActionLink("Контакты", "Index", "Home", new { Area = "" }, null)
    </li>
    <li>
        @Html.ActionLink("Акции", "Index", "Home", new { Area = "" }, null)
    </li>
    <li>
        @Html.ActionLink("Услуги", "Index", "Home", new { Area = "" }, null)
    </li>
</ul>
</nav>
