@using EM2013
@using EM2013.Models
@using SiteExtensions.Graphics
@model EM2013.Models.SiteViewModel
@section MainMenu
{
    @Html.Partial("_MainMenu", Model.Menu)
}
@if (Request.IsAuthenticated)
{
    @Html.ActionLink("редактировать", "Edit", "Content", new { area = "Admin", id = Model.Content.Id }, new { @class = "adminLink" })
}
@Html.Partial("_ContentDescription", new ContentDescription { Text = Model.Content.Text, Title = Model.Content.Title })

@if (Model.Content.Name == "feedback")
{
    
    <div id="sendFeedbackFormContent">
        @Html.Partial("FeedbackForm", new FeedbackFormModel())
    </div>
}

@if(Model.Content.Name=="secretlink")
{
    <div class="secretImagesContainer">
        @if(Request.IsAuthenticated)
        {
            <div>
            @Html.ActionLink("Добавить изображение","Create","SecretImage",new{area="Admin"},new{@class="adminLink"})
            </div>
        }
        @foreach(var imageSet in Model.SecretImages)
        {
            <div class="secretImage">
                @if(Request.IsAuthenticated)
                {
                    <div>
                        @Html.ActionLink("Удалить", "Delete", "SecretImage", new { area = "Admin",id=imageSet.Id }, new { @class = "adminLink", onclick="return confirm('Удалить изображение?')" })
                    </div>
                }
                <a rel="@Html.Raw("group1")" href="../../Content/Images/@imageSet.ImageSource" class="fancyImage">
                    @Html.Raw(Html.OriginalImage("/Content/Images/", imageSet.PreviewImageSource))
                </a>
            </div>
            
        }
        <div class="clear"></div>
    </div>
}

@section Footer
{
    <div class="footer">
        <div class="logo">
        </div>
    </div>
}

@section LanguageSwitcher
{
<div class="langContainer">
<div class="lang">
    Рус | @Html.ActionLink("Eng","English","Home")
</div>
</div>
}
