@using EM2013.Models
@using SiteExtensions
@model CatalogueViewModel
@section MainMenu
{
    @Html.Partial("_MainMenu", Model.Menu)
}
@Html.Partial("_ContentDescription", new ContentDescription { CategoryTitle = Html.ActionLink(Model.Category.Title, "Index", "Home", new { area = "", category = Model.Category.Name, product = "" }, null).ToString(), Title = Model.Product.Title, Text = Model.Product.Description })
@if (Request.IsAuthenticated)
{
    @Html.ActionLink("Редактировать", "Edit", "Product", new { area = "Admin", id = Model.Product.Id}, new { @class = "adminLink" })
}
<div class="productItems">
    @foreach (var item in Model.Product.ProductItems.OrderBy(pi=>pi.SortOrder))
    {
        @Html.Partial("_ProductItem", item)
    }
</div>
@if (Request.IsAuthenticated)
{
    @Html.ActionLink("добавить объект", "Create", "ProductItem", new { area = "Admin", id = Model.Product.Id }, new { @class = "adminLink" })
}
@section Footer
{
    <div class="footer">
        <div class="pagerContainer">
                <table>
                    <tr>
                        <td class="left">
                        </td>
                        <td class="center">
                            <div style="margin-top: -4px;">
                            &laquo; @Html.ActionLink(Model.Category.TitleToCategory??"Назад","Index","Home",new{area="",category=Model.Category.Name,product=""},null)
                            </div>
                        </td>
                        <td class="right">
                        </td>
                    </tr>
                </table>
            </div>
    </div>
}
@section LanguageSwitcher
{
<div class="langContainer">
<div class="lang">
    Рус | @Html.ActionLink("Eng","English","Home")
</div>
</div>
}
