@using Shop.WebSite
@using Shop.WebSite.Helpers.Graphics
@model Shop.DataAccess.Entities.Article
<div class="article-preview">
    @Html.Raw(Html.CachedImage("~/Content/Images/", Model.ImageSource, SiteSettings.GetThumbnail("articleSmallPreview"),"preview-image"))
    <div class="content">
        <div class="date">@Model.Date</div>
        <div class="title">@Model.Title</div>
        <div class="text">
            @Html.Raw(Model.Description)
        </div>
        <div class="all-article-link">
            @Html.ActionLink("Вся новость","ArticleDetails","Home",new{article=Model.Name},null) &raquo;
        </div>
    </div>
</div>
