@using NewVision.UI
@using NewVision.UI.Helpers
@model IEnumerable<NewVision.UI.Models.EventAnnouncement>

@{
    ViewBag.Title = "Контент главной страницы";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@section AdminNavigation
{
    @Html.Partial("Menu","EventAnnouncement")
}

<p>
        @Html.ActionLink("Добавить", "Create")
</p>

<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Text)
        </th>
        <th>
            
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                @foreach (var image in item.EventAnnouncementImages)
                {
                    <div style="float: left">
                        @Html.ActionLink("Удалить","DeleteImage","EventAnnouncement",new{area="Admin",id=image.Id},new{ onclick = "return confirm('Удалить запись?')", @class="adminLink"})
                        <br/>
                        @Html.Raw(Html.CachedImage("~/Content/Images/", image.ImageSrc, SiteSettings.GetThumbnail("eventAnnouncementPreview")))
                    </div>
                }
            </td>
            <td>
                @Html.ActionLink("Редактировать", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Удалить", "Delete", new { id = item.Id }, new { onclick = "return confirm('Удалить запись?')" })
            </td>
        </tr>
    }

</table>
