@using Shop
@using SiteExtensions.Graphics
@model Shop.Models.Product
           
           
<div class="product">
    <div class="image">
        @Html.Raw(Html.ActionLink("[IMAGE]", "ProductDetails", "Home", new { categoryId= Model.Category.Name, id = Model.Name }, null).ToString().Replace("[IMAGE]", Html.CachedImage("~/Content/Images/", Model.ImageSource, SiteSettings.GetThumbnail("productPreview"))))
    </div>
    <div class="description">
        @if (Request.IsAuthenticated)
        {
            <div>
                @Html.ActionLink("Редактировать","Edit","Product",new{area="Admin", id=Model.Id},new{@class="adminLink"})
                @Html.ActionLink("Удалить", "Delete", "Product", new { area = "Admin", id = Model.Id }, new { @class = "adminLink", onclick="return confirm('Удалить продукт?')" })
            </div>
        }
        <div class="title">@Model.Title</div>
        <div class="price">@Model.Price грн</div>
    </div>
</div>

