@using SiteExtensions.Graphics
@using Vip
@model Vip.Models.ProjectViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="projects">
    @Html.Partial("_ProjectsTitle", Model.Project)
    <div class="projectDetailsContainer">
        @if (Request.IsAuthenticated)
        {
            <div>
                @Html.ActionLink("Добавить изображение", "AddImage", "Project", new { area = "Admin", id = Model.Project.Id }, new { @class = "adminLink" })
            </div>
        }
        <div class="title">
        </div>
        <div class="picture">
            <a href="#" id="pictureLink" class="fancyImage">
            </a>    
            <img src="" alt="" id="pictureContainer" />
        </div>
        <div class="previews">
            <div class="previewsContainer" id="galleryPreviews">
                <ul>
                    
                    @foreach (var item in Model.Project.ProjectImages)
                    {<li>
                     <div class="preview"  onclick="setImage('@item.ImageSource')">
                         @Html.Raw(Html.CachedImage("~/Content/Images/", item.ImageSource, SiteSettings.GetThumbnail("projectDetailsPreviewThumbnail"), ScaleMode.Corp))
                     </div>
                     </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
@section Includes
{
    <link href="@Url.Content("~/Content/Projects.css")" rel="stylesheet" type="text/css" />
     <script type="text/javascript">

         $(function () {
             //$('#galleryPreviews').jcarousel({ 'scroll': 1 });
             //$(".fancy").fancybox({ hideOnContentClick: true, showCloseButton: false, cyclic: true, showNavArrows: false, padding: 0, margin: 0, centerOnScroll: true });
         });

         function setImage(path) {
             $("#pictureContainer").attr("src", "/ImageCache/projectBigImage/" + path);
             $("#pictureLink").attr("href", "/Content/Images/" + path);
         }
      
    </script>
}
