@using Shop.Helpers
@model Shop.Models.Product
<div class="product">
    <div class="image">
        @{
            //var image = Model.ProductImages.FirstOrDefault(im => im.Default) != null ? Model.ProductImages.FirstOrDefault(im => im.Default) : Model.ProductImages.FirstOrDefault();
            //var image = Model.ProductImages.FirstOrDefault();
            var image = Model.ProductImages.FirstOrDefault(im => im.Default) ?? Model.ProductImages.FirstOrDefault();
            if(image!=null)
                {
                    @Html.Raw(Html.CachedImage("~/Content/Images/", image.ImageSource, "thumbnail2", image.ImageSource))
                }
        }
    </div>
    <div class="description">
        <div class="title">
            @Html.ActionLink(Model.Title, "ProductDetails", "Shop", new { Area = "", category = Model.Category.Name, id = Model.Name }, null)
        </div>
        <div class="shortDescription">
            @Model.ShortDescription
        </div>
        <div class="price">
            @Model.Price.ToString("N") грн.
        </div>
        <div class="buttons">
            @Html.ActionLink("Подробнее", "ProductDetails", "Shop", new { Area = "", category = Model.Category.Name, id = Model.Name }, new { @class = "details" })
            <a href="#" class="addToCart" onclick="Shop.addToCart(@Model.Id)">В корзину</a>
        </div>
    </div>
    <div class="clear"></div>
</div>
