@using Shop.Helpers
@model Shop.Models.Product
<div class="product">
    <div class="image">
        @{
            //var image = Model.ProductImages.FirstOrDefault(im => im.Default) != null ? Model.ProductImages.FirstOrDefault(im => im.Default) : Model.ProductImages.FirstOrDefault();
            //var image = Model.ProductImages.FirstOrDefault();
            var image = Model.ProductImages.FirstOrDefault(im => im.Default) ?? Model.ProductImages.FirstOrDefault();
            if (image != null)
            {
                @Html.Raw(Html.ActionLink("[Image]", "ProductDetails", "Shop", new { Area = "", category = Model.Category.Name, id = Model.Name }, null).ToString().Replace("[Image]", Html.CachedImage("~/Content/Images/", image.ImageSource, "thumbnail1", ScaleMode.Insert)))
            }
            else
            {
                <div style="width: inherit; height:inherit; border:1px solid #817a7a; text-align:center; display: table-cell; vertical-align: middle ">
                Нет изображения
                </div>
            }
        }
    </div>
    <div class="description">
        <div class="productId">
        Код товара: @Model.Id
        </div>
        <div class="title">
            @Html.ActionLink(Model.Title, "ProductDetails", "Shop", new { Area = "", category = Model.Category.Name, id = Model.Name }, null)
        </div>
        <div class="shortDescription">
            @Html.Raw(Model.ShortDescription)
        </div>
        <div class="buttons">
            <div class="price">
                @Model.Price.ToString("N") грн.
            </div>
            @Html.ActionLink("Подробнее", "ProductDetails", "Shop", new { Area = "", category = Model.Category.Name, id = Model.Name }, new { @class = "details" })
            <a href="#" class="addToCart" onclick="Shop.addToCart(@Model.Id)">В корзину</a>
        </div>
    </div>
    <div class="clear">
    </div>
</div>
