@using Filimonov
@model Filimonov.Models.Product
@{
    ViewBag.Title = SiteSettings.PresentationTitle + " - Создание продукта";
    Layout = "~/Areas/Presentation/Views/Shared/_Layout.cshtml";
    var layouts = (IEnumerable<SelectListItem>)ViewBag.Layouts;
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<style>
    .thumb
    {
        height: 75px;
        border: 1px solid #000;
        margin: 10px 5px 0 0;
    }
</style>
@using (Html.BeginForm("Create", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
        

    @Html.Hidden("categoryId", (int)ViewBag.CategoryId)
    
    
    <table>
        <tr>
            <td>@Html.LabelFor(model => model.LayoutId)</td>
            <td>
                @Html.DropDownListFor(model => model.LayoutId, layouts)
                @Html.ValidationMessageFor(model => model.LayoutId)
            </td>
        </tr>
        <tr>
            <td>Изображения</td>
            <td>
                 <div>
        <input type="file" id="files" name="files[]" multiple />
        <div>
            <output id="list"></output>
        </div>
        <script>
            function handleFileSelect(evt) {
                var files = evt.target.files; // FileList object

                // Loop through the FileList and render image files as thumbnails.
                for (var i = 0, f; f = files[i]; i++) {

                    // Only process image files.
                    if (!f.type.match('image.*')) {
                        continue;
                    }

                    var reader = new FileReader();

                    // Closure to capture the file information.
                    reader.onload = (function (theFile) {
                        return function (e) {
                            // Render thumbnail.
                            var span = document.createElement('span');
                            span.innerHTML = ['<img class="thumb" src="', e.target.result,
                                '" title="', escape(theFile.name), '"/>'].join('');
                            document.getElementById('list').insertBefore(span, null);
                        };
                    })(f);

                    // Read in the image file as a data URL.
                    reader.readAsDataURL(f);
                }
            }

            document.getElementById('files').addEventListener('change', handleFileSelect, false);
        </script>
    </div>

            </td>
        </tr>
    </table>
    
   
    
    <div class="buttonsContainer">
        <input type="submit" value="Закачать" />
        @Html.ActionLink("Назад", "Details", "Category", new { Area = "Presentation", id = ViewBag.CategoryName }, null)
    </div>
    
}
<div>
</div>
