@using Penetron
@using SiteExtensions.Graphics
@model Penetron.Models.TechnologyModel
<div class="content-container">
    <div class="content">
        <div class="title-container">
            @if (Model.Technology != null)
            {
                if (Model.ParentTitle != null)
                {
                <div class="parentTitle">
                    @Model.ParentTitle /
                </div>
            
                }
            
                <table class="title">
                    <tr>
                        <td class="left">
                        </td>
                        <td class="center">@Model.Technology.Title
                        </td>
                        <td class="right">
                        </td>
                    </tr>
                </table>
           
            
            }
        </div>
        <div class="text-container">
            @Html.Partial("Menu", Model.TechnologyMenu)
            <div class="content-text">
                @if (Model.Technology != null)
                {
                    @Html.Raw(Model.Technology.Text)
                }
                @if (Model.Technology != null && Model.Technology.TechnologyImages.Any())
                {
                    <div class="stars">
                    </div>
                    @Html.Partial("Carusel", Model.Technology.TechnologyImages)
                }
                @if (Model.Technology != null&&Request.IsAuthenticated)
                {
                    <div class="adminLinkContainer">
                        @Html.ActionLink("Добавить изображения", "AddImage", "Technology", new { area = "Admin", id = Model.Technology.Id }, new { @class = "adminLink" })
                    </div>
                }
            </div>
            <div class="clear">
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script type="text/javascript">
        $(function () {
            $('#bx1').bxSlider();
        });

    </script>
}
