@model Shop.DataAccess.Entities.Content

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@section AdminNavigation
{
    @Html.Partial("Menu", "Content")
}


<div class="container">
    <h3>Добавление страницы контента</h3>
    @using (Html.BeginForm("Create", "Content", FormMethod.Post, new { role = "form", @class = "form-horizontal"}))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.CurrentLang)
   
        <div class="form-group">
            @Html.LabelFor(model => model.Title, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                <input type="text" class="form-control" name="Title" id="Title" placeholder="Введите заголовок" value="@Model.Title">
            </div>
            @Html.ValidationMessageFor(model => model.Title)
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                <input type="text" class="form-control" name="Name" id="Name" placeholder="Введите идентификатор" value="@Model.Name">
                <p class="help-block">Отображается как часть адреса в строке браузера. Должен быть уникальным. Если оставить пустым, то значение будет взято из поля "Заголовок" и транслитерировано в латинские символы.</p>
            </div>
            @Html.ValidationMessageFor(model => model.Name)
        </div>
        
      
        
        <div class="form-group">
            @Html.LabelFor(model => model.SortOrder, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                <input type="text" class="form-control" name="SortOrder" id="SortOrder" placeholder="Введите порядок отображения" value="@Model.SortOrder">
            </div>
            @Html.ValidationMessageFor(model => model.SortOrder)
        </div>
        
        
        
        <div class="form-group">
            @Html.LabelFor(model => model.Text, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                <textarea class="form-control" rows="3" name="Text">@Model.Text</textarea>
            </div>
        </div>
        
         <div class="form-group">
            @Html.LabelFor(model => model.SeoDescription, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                <textarea class="form-control" rows="3" name="SeoDescription">@Model.SeoDescription</textarea>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.SeoKeywords, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                <textarea class="form-control" rows="3" name="SeoKeywords">@Model.SeoKeywords</textarea>
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.Text, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                <textarea class="form-control" rows="3" name="SeoText">@Model.SeoText</textarea>
            </div>
        </div>
         
        <div class="form-group">
            @Html.LabelFor(model => model.ContentType, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                <select class="selectpicker" name="ContentType">
                    <option value="0" @Html.Raw(Model.ContentType==0?"selected":"")>Главная</option>    
                    <option value="1" @Html.Raw(Model.ContentType==1?"selected":"")>Каталог</option>    
                    <option value="2" @Html.Raw(Model.ContentType==2?"selected":"")>Новости</option>    
                    <option value="3" @Html.Raw(Model.ContentType==3?"selected":"")>Контакты</option>      
                    <option value="4" @Html.Raw(Model.ContentType==4?"selected":"")>Контент</option>      
                </select>
            </div>
            @Html.ValidationMessageFor(model => model.ContentType)
        </div>
       
        <div class="form-group">
            @Html.ActionLink("Назад", "Index", "Content", null, new { @class = "col-sm-2 control-label" })
            <div class="col-sm-10">
                <button type="submit" class="btn btn-success">Сохранить</button>
            </div>
        </div>
        
         
    }
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
