@model IEnumerable<Shop.DataAccess.Entities.Content>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@section AdminNavigation
{
    @Html.Partial("Menu", "Content")
}



<p>
    <button type="button" class="btn btn-success btn-sm">@Html.ActionLink("Добавить", "Create")</button>
</p>
<table class="table table-striped">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContentType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SortOrder)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Text)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SeoDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SeoKeywords)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SeoText)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsCorrectLang)
        </th>
       
        <th></th>
    </tr>

    @foreach (var item in Model.OrderBy(c=>c.SortOrder))
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @{
                    switch (item.ContentType)
                    {
                        case 0:@Html.Raw("Главная");
                        break;
                        case 1:@Html.Raw("Каталог");
                        break;
                        case 2:@Html.Raw("Новости");
                        break;
                        case 3:@Html.Raw("Контакты");
                        break;
                        case 4:@Html.Raw("Контент");
                        break;
                    }
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SortOrder)
            </td>

            <td class="adminTextContainer">
                <div>
                    @Html.Raw(item.Text)
                </div>
            </td>
             <td class="adminTextContainer">
                <div>
                    @Html.DisplayFor(modelItem => item.SeoDescription)
                </div>
            </td>
            <td class="adminTextContainer">
                <div>
                    @Html.DisplayFor(modelItem => item.SeoKeywords)
                </div>
            </td>
           <td class="adminTextContainer">
                <div>
                    @Html.DisplayFor(modelItem => item.SeoText)
                </div>
            </td>
            <td>
                @if (!item.IsCorrectLang)
                {
                    <span class="label label-danger">!</span>
                }
                else
                {
                    <span class="label label-success">ok</span>
                }
            </td>
           
            <td>
                @Html.ActionLink("Редактировать", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Подробнее", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Удалить", "Delete", new { id = item.Id }, new { onclick = "return confirm('Удалить страницу?')" })
            </td>
        </tr>
    }

</table>

