@using Filimonov
@using Filimonov.Models
@using SiteExtensions.Graphics
@model IEnumerable<Filimonov.Models.Category>
@{
    ViewBag.Title = "Библиотека изображений";
    Layout = "~/Areas/Presentation/Views/Shared/_Layout.cshtml";
}
@if (Roles.IsUserInRole(User.Identity.Name, "Administrators"))
{
    @Html.ActionLink("Добавить категорию", "Create", "Category", new { area = "Presentation" }, new { @class = "adminLink" })
}

@Html.Partial("_PresentationMenu")

<div class="categories">
    @foreach (var item in Model)
    {
        <div class="category">
            <span class="category-preview-title">
                @Html.ActionLink(item.Title, "Details", "Category", new { id = item.Name }, null)
            </span>
            @if (Request.IsAuthenticated)
            {
                <div class="abs">
                    @Html.ActionLink("Редактировать", "Edit", "Category", new { area = "Presentation", id = item.Id }, new { @class = "adminLink" })
                </div>
            }
            @Html.Raw(Html.ActionLink("[IMAGE]", "Details", "Category", new { id = item.Name }, null).ToString().Replace("[IMAGE]", Html.CachedImage("~/Content/Images/", item.ImageSource, SiteSettings.GetThumbnail("categoryPreview"))))
            
        </div>
    }
    <div class="clear">
    </div>
</div>
