@using Dev.Mvc.Helpers
@model IEnumerable<HavilaTravel.Models.Accordion>
<div class="accordion" id="accordion1">
    @foreach (var item in Model.OrderBy(a => a.SortOrder))
    {
        <table style="margin-top: 30px;">
            <tr>
                <td class="leftPattern">
                </td>
                <td class="title">
                    <a href="#">@Html.DisplayFor(modelItem => item.Title)</a> 
                </td>
                <td class="rightPattern">
                </td>
            </tr>
        </table>
        
        <div>
        
        @{
               if (Request.IsAuthenticated)
               {
        @Html.ActionLink("Редактировать", "Edit", "Accordion", new { Area = "Admin", id = item.Id }, new { @class = "adminLink" })
        @Html.Raw("&nbsp;")
        @Html.ActionLink("Добавить фотографии", "AddPhoto", "Accordion", new { Area = "Admin", id = item.Id }, new { @class = "adminLink" })
               }


               if (!string.IsNullOrEmpty(item.Text))
               {
                    <div style="margin-bottom: 50px;">
                        @Html.Raw(item.Text)
                    </div>
               }
    }
        
       
           <table>
           <tr>
            @{
                   int cnt = 0;
                   foreach (var image in item.AccordionImages)
                   {
                    <td>
                    <div class="accordionPicture">
                        <a rel="@Html.Raw("group" + item.Id)" href="../../Content/Photos/@image.ImageSource" class="fancy">
                        @Html.Raw(Html.CachedImage("~/Content/Photos/", image.ImageSource, "thumbnail1", image.ImageSource))
                        </a>
                    </div>
                    <div class="accordionPictureTitle">
                        @image.Title
                    </div>
                    </td>
                   cnt++;
                   if (cnt % 3 == 0)
                   {
                        @Html.Raw("</tr><tr>")
                   }

                   }
            }
            </tr>
            </table> 
            </div>
        
        
    }
    
</div>

@{
        if (Request.IsAuthenticated)
        {
        <p>
            @Html.ActionLink("Добавить гармошку", "Create", "Accordion", new { Area = "Admin", id = ViewBag.CurrentContentId }, new { @class = "adminLink" })
        </p>        
        }
    }
