@using Dev.Mvc.Helpers
@model HavilaTravel.Models.Banner



    <div class="smallBanner">
        <div class="header banner@{@Model.BannerType }">
        
        @if (Model.BannerType == 3)
        {
            <div class="hotTour">@Html.ActionLink("Горящий тур","Index","Home",new{id=Model.ContentName},null):</div>
        }
        else if (Model.BannerType == 2)
        {
            <div class="topicTour">Ближайший<br /> @Html.ActionLink("тематический тур","Index","Home",new{id=Model.ContentName},null):</div>
        }
        
        
        
        </div>
        <div class="topTitle">@Html.ActionLink(Model.Title,"Index","Home",new{id=Model.ContentName},null)</div>
        <div class="picture">
            <div class="price price@{@Model.BannerType }">
                @Model.Price
            </div>

            @Html.Raw( Html.ActionLink("[Image]", "Index", "Home", new { id = Model.ContentName }, null).ToString().Replace("[Image]", Html.CachedImage("~/Content/Banners/", Model.ImageSource, "tourBanner", "", "")))

            
        </div>
        <div class="bottomTitle">@Model.Title2</div>
    </div>

