@using Dev.Mvc.Helpers
@model HavilaTravel.Models.Bellboy
<div id="bellboyContainer">
    <div id="bellboy">
    <img src="/Content/Bellboy/@Model.ImageSource" alt="" id="bellboy1" />
    @if (Request.IsAuthenticated)
    {
        @Html.ActionLink("Администрирование фуцыка","Index","Bellboy",new{Area="Admin"},new{@class="adminLink"})
    }
        <div class="text">
            &mdash;Изволите<br />
            <a href="@Model.TopLink" class="firstSign">@Model.TopText</a>,<br />
            <div style="margin-top: 10px;">
                или<br />
                <a href="@Model.BottomLink" class="secondSign">@Model.BottomText</a>?
            </div>
        </div>
        
    </div>
</div>