@using Dev.Mvc.Helpers
@using HavilaTravel.Models
@model SiteViewModel
@if (Request.IsAuthenticated)
{
    @Html.ActionLink("Добавить новость", "Add", "Articles", new { Area = "Admin" }, new { @class = "adminLink" })
}
@foreach (var item in Model.Articles)
{

    
    
    <div class="article">
        <div class="date">@Html.DisplayFor(modelItem => item.Date)</div>
        @if (Request.IsAuthenticated)
        {
            <div>
                @Html.ActionLink("Редактировать", "Edit", "Articles", new { Area = "Admin", id = item.Id }, new { @class = "adminLink" })
                @Html.Raw("&nbsp;&nbsp;")
                @Html.ActionLink("Удалить", "Delete", "Articles", new { Area = "Admin", id = item.Id }, new { @class = "adminLink", onclick = "return confirm('Вы действительно хотите удалить новость?')" })
            </div>
        }
        <div class="title">@Html.DisplayFor(modelItem => item.Title)</div>
        <div class="text">@Html.Raw(item.Text)</div>
        <div class="details">@Html.ActionLink("Полный текст", "Details", "Articles", new { Area = "", id = item.Id }, null)</div>
    </div>   
            
            
}
@section ContentTitle
{
    <div id="contentTitle">
        Новости
    </div>
}
@section MainBanner
{
    <div id="slideshow">
        @foreach (var banner in Model.MainBanners)
        {
            @Html.Raw(Html.CachedImage("~/Content/Banners/", banner.ImageSource, "mainBanner", banner.Title, banner.Price, banner.ContentName))
        }
    </div>
}
@section SmallBannerLeft
{
    @if (Model.LeftBanner != null)
    {
        @Html.Partial("BannerSmall", Model.LeftBanner)
    }
}
@section SmallBannerRight
{
    @if (Model.RightBanner != null)
    {
        @Html.Partial("BannerSmall", Model.RightBanner)
    }
}
@section RootLogoLink
{
    @if (!Model.IsRoot)
    {
        <a href="/" class="rootLink">
            <img src="../../Content/img/pixel.gif" /></a>
    }
}
@section QuickSearch
{
    @if (!Model.IsRoot)
    {
        @Html.Partial("QuickSearch")
    }
}

@section MainMenu
{
    @{
    var menu = Model.MenuList.Where(m => m.MenuLevel == 1).Select(m => m).FirstOrDefault();
    @Html.Partial("MainMenu",menu)
    }
}
@section HeaderLeftMenu
{
    @Html.Partial("HeaderLeftMenu",Model.HeaderLeftMenuItems)
}
@section BellBoy
{
    @if (Model.Bellboy != null)
    {
        <div id="bellboyContainer">
            @Html.Partial("Bellboy", Model.Bellboy)
        </div>
    }
}