@model IEnumerable<Filimonov.Models.Layout>
@{
    ViewBag.Title = "Администрирование разделов";
    Layout = "~/Areas/Presentation/Views/Shared/_Layout.cshtml";
}
<h2>
    Администрирование разделов</h2>
<p>
    @Html.ActionLink("Добавить раздел", "Create", "Layout", null, new { @class = "adminLink" })
</p>
<table class="adminTable">
    <tr>
        <th>
            Идентификатор
        </th>
        <th>
            Название
        </th>
        <th>
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.ActionLink("Редактировать", "Edit", "Layout", new { id = item.Id }, new { @class = "adminLink" })
                |
                @Html.ActionLink("Удалить", "Delete", "Layout", new { id = item.Id }, new { @class = "adminLink", onclick = "return confirm('Удалить раздел?')" })
            </td>
        </tr>
    }
</table>
<br/>
@Html.ActionLink("Назад в библиотеку изображений","Index","Category")
