@using Mayka.Helpers
@model Mayka.Helpers.MenuItem

@if (Model.Current)
{
    <li>@Model.Title

        @if (Request.IsAuthenticated)
        {
            <span class="sortOrder">@Model.SortOrder </span>
            
            @Html.ActionLink("ред", "Edit", "Content", new { area = "Admin", id=Model.ContentId }, new { @class = "adminLink" })
        }
    </li>
}
else
{
    switch (Model.ContentType)
    {
            case ContentType.HomePage:
            if (Request.IsAuthenticated)
            {
                <li>@Html.ActionLink(Model.Title, "Index", "Home", new { id = Model.ContentName }, null)
                    <span class="sortOrder">@Model.SortOrder </span>
            @Html.ActionLink("ред", "Edit", "Content", new { area = "Admin", id=Model.ContentId }, new { @class = "adminLink" })

                </li>
            }
            break;
        case ContentType.Content:
            <li>@Html.ActionLink(Model.Title, "Index", "Home", new { id = Model.ContentName }, null) 
                
                @if (Request.IsAuthenticated)
        {
            <span class="sortOrder">@Model.SortOrder </span>
            @Html.ActionLink("ред", "Edit", "Content", new { area = "Admin", id=Model.ContentId }, new { @class = "adminLink" })
        }
            </li>        
            break;
        case ContentType.Gallery:
            <li>@Html.ActionLink(Model.Title, "Gallery", "Home", new { id = Model.ContentName }, null) 
                @if (Request.IsAuthenticated)
        {
            <span class="sortOrder">@Model.SortOrder </span>
            @Html.ActionLink("ред", "Edit", "Content", new { area = "Admin", id=Model.ContentId }, new { @class = "adminLink" })
        }

            </li>        
            break;
        case ContentType.Products:
            <li>@Html.ActionLink(Model.Title, "Products", "Home", new { id = Model.ContentName }, null) 
                @if (Request.IsAuthenticated)
        {
            <span class="sortOrder">@Model.SortOrder </span>
            
            
            @Html.ActionLink("ред", "Edit", "Content", new { area = "Admin", id=Model.ContentId }, new { @class = "adminLink" })
        }

            </li>        
            break;
    }
}

