<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Fonts.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Ad.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Menu.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Articles.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bx_styles/bx_styles.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.5.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
    @*<link href="@Url.Content("~/Content/jcarousel.css")" rel="stylesheet" type="text/css" />*@
    @*<script src="@Url.Content("~/Scripts/jquery.jcarousel.min.js")" type="text/javascript"></script>*@
    <script src="@Url.Content("~/Scripts/PageScripts.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.fancybox.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Content/fancybox/jquery.fancybox.css")" rel="stylesheet" type="text/css" />
    @*<script src="@Url.Content("~/Scripts/jquery.tinycarousel.min.js")" type="text/javascript"></script>  *@
    <script src="@Url.Content("~/Scripts/jquery.bxSlider.min.js")" type="text/javascript"></script>
    @if (Request.IsAuthenticated)
    {
        <link href="@Url.Content("~/Content/Admin.css")" rel="stylesheet" type="text/css" />
    }
    <meta name="description" content="@ViewBag.SeoDescription" />
    <meta name="keywords" content="@ViewBag.SeoKeywords" />
    <script type="text/javascript">
                var isHomePage =  @(ViewBag.isHomePage != null ? (ViewBag.isHomePage).ToString().ToLowerInvariant() : "false");
                BasePageExtender.initialize();

                $(".fancy").fancybox({ showCloseButton: false, padding: 0, margin: 0 });
        $(".fancyImage").fancybox({ titlePosition: 'outside', showCloseButton: true, cyclic: true, showNavArrows: true, padding: 0, margin: 0, centerOnScroll: true });
    </script>
    @RenderSection("Includes", false)
</head>
<body>
    <div class="page">
        @if (Request.IsAuthenticated)
        {
            <div style="position: absolute; z-index: 100; padding-left: 10px;">
                @Html.ActionLink("Выйти из системы администрирования", "LogOff", "Account", new { area = "" }, new { @class = "adminLink" })
            </div>
        }
        @Html.Partial("Header")
        @RenderSection("Add", false)
        <div class="main-content">
            @RenderBody()
        </div>
        @RenderSection("About", false)
    </div>
    <div class="footer">
        <div class="copy">
            &copy; @DateTime.Now.Year Сеть магазинов ковров “Килими”
        </div>
        <div class="em">
            Создание сайта &mdash;<br />
            <a href="http://eugene-miller.com">Студия Евгения Миллера</a>
        </div>
    </div>
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-36498436-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

</script>
</body>
</html>
