<div class="mainMenu">
    <table>
        <tr>
            <td class="first">
                @Html.ActionLink("о производителях", "Index", "Home", new { area = "", id = "about" }, null)
                @if (Request.IsAuthenticated)
                {
                    <br />
                    @Html.ActionLink("Редактировать", "Edit", "Content", new { area = "Admin", id = "about" }, new { @class = "adminLink" })
                }
            </td>
            <td class="second">
                @Html.ActionLink("наши новости", "Index", "Home", new { area = "", id = "articles" }, null)
                @if (Request.IsAuthenticated)
                {
                    <br />
                    @Html.ActionLink("Редактировать", "Edit", "Content", new { area = "Admin", id = "articles" }, new { @class = "adminLink" })
                }
            </td>
            <td class="separator">
            </td>
            <td class="third">
                @Html.ActionLink("адрес магазина и филиалов", "Index", "Home", new { area = "", id = "contacts" }, null)
                @if (Request.IsAuthenticated)
                {
                    <br />
                    @Html.ActionLink("Редактировать", "Edit", "Content", new { area = "Admin", id = "contacts" }, new { @class = "adminLink" })
                }
            </td>
            <td class="fourth">
                <a href="#"><span>3D-тур</span><br />
                    по магазину</a>
            </td>
        </tr>
    </table>
</div>
