@model Listelli.Models.Designer
@{
    ViewBag.Title = "Редактирование данных о дизайнере";
    Layout = "~/Areas/DesignersPortfolio/Views/Shared/_Layout.cshtml";
}

<div class="adminContentContainer">
    @using (Html.BeginForm("Edit", "Designer", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model=>model.Id)
    
        <table class="adminEditContentTable">
            <tr>
                <td colspan="2">
                    <h2>
                        Добавление дизайнера</h2>
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Name)
                </td>
                <td>
                    @Html.EditorFor(model => model.Name)
                    @Html.ValidationMessageFor(model => model.Name)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.DesignerName)
                </td>
                <td>
                    @Html.EditorFor(model => model.DesignerName)
                    @Html.ValidationMessageFor(model => model.DesignerName)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.DesignerNameF)
                </td>
                <td>
                    @Html.EditorFor(model => model.DesignerNameF)
                    @Html.ValidationMessageFor(model => model.DesignerNameF)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.ImageSource)
                </td>
                <td>
                    <input type="file" name="fileUpload" class="photoFileInput" />
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Description)
                </td>
                <td>
                    @Html.TextAreaFor(model => model.Description, new { @class = "ckeditor" })
                    @Html.ValidationMessageFor(model => model.Description)
                </td>
            </tr>
        </table>
        <div class="buttonsContainer">
            <input type="submit" value="Сохранить" />
            @Html.ActionLink("Назад", "Index", "Designer", new { Area = "Admin" }, null)
        </div>
    }
</div>
@section Includes
{
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <script type="text/javascript" src="/Controls/ckeditor/ckeditor.js"></script>
    <script type="text/javascript" src="/Controls/ckeditor/adapters/jquery.js"></script>
}
