@model Posh.Models.Album

@{
    ViewBag.Title = "Редактирование альбома";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Редактирование альбома</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.Id)
        <table class="editor-table">
        <tr>
            <td class="editor-label">@Html.LabelFor(model => model.Name)
            </td>
            <td class="editor-field">@Html.EditorFor(model => model.Name)
            </td>
            <td>@Html.ValidationMessageFor(model => model.Name)
            </td>
        </tr>
        <tr>
            <td class="editor-label">@Html.LabelFor(model => model.Title)
            </td>
            <td class="editor-field">@Html.EditorFor(model => model.Title)
            </td>
            <td>@Html.ValidationMessageFor(model => model.Title)
            </td>
        </tr>
        <tr>
            <td class="editor-label">@Html.LabelFor(model => model.SortOrder)
            </td>
            <td class="editor-field">@Html.EditorFor(model => model.SortOrder)
            </td>
            <td>@Html.ValidationMessageFor(model => model.SortOrder)
            </td>
        </tr>
    </table>
    <p>
        <input type="submit" value="Сохранить" />
    </p>
}

<div class="backLink">
    @Html.ActionLink("Назад", "Index", "Home", new { Area = "", id = "catalogue" }, null)
</div>

@section Includes
{
    <script type="text/javascript" src="/Controls/ckeditor/ckeditor.js"></script>
    <script type="text/javascript" src="/Controls/ckeditor/adapters/jquery.js"></script>
}

