@using Shop.Helpers
@model IEnumerable<Shop.Models.Product>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<h2>
    Продукты</h2>
<p>
    @Html.ActionLink("Добавить новую запись", "Create")
</p>
<table class="reviewTable">
    <tr>
        <th>
            Код продукта
        </th>
        <th>
            Бренд
        </th>
        <th>
            Название
        </th>
        <th>
            Идентификатор
        </th>
        <th>
            Изображение
        </th>
        <th>
            Краткое описание
        </th>
        <th>
            Описание
        </th>
        <th>
            Новый
        </th>
        <th title="Специальное предложение">
            Спец. предл.
        </th>
        <th>
            Активный
        </th>
        <th>
            Порядок отображения
        </th>
        <th>
            Описание<br />
            (для поисковиков)
        </th>
        <th>
            Ключевые слова<br />
            (для поисковиков)
        </th>
        <th>
            Цена
        </th>
        <th>
            Старая цена
        </th>
        <th>
        </th>
    </tr>
    @foreach (var item in Model)
    {


        if (item.Description!=null&&item.Description.Length > 50)
        {
            item.Description = item.Description.Substring(0, 50);
        }

        if (item.ShortDescription != null && item.ShortDescription.Length > 50)
        {
            item.ShortDescription = item.ShortDescription.Substring(0, 50);
        }

        <tr>
            <td>
                @item.Id
            </td>
            <td>
                @item.Brand.Title
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @{
           var image = item.ProductImages.FirstOrDefault(im => im.Default) ?? item.ProductImages.FirstOrDefault();
           if (image != null && image.Default)
           {
                    @Html.Raw(Html.CachedImage("~/Content/Images/", image.ImageSource, "thumbnail0", image.ImageSource))
           }
                }
            </td>
            <td>
                @Html.Raw(item.ShortDescription)
            </td>
            <td>
                @Html.Raw(item.Description)
            </td>
            <td>
                @Html.Raw(item.IsNew ? "да" : "нет")
            </td>
            <td>
                @Html.Raw(item.IsSpecialOffer ? "да" : "нет")
            </td>
            <td>
                @Html.Raw(item.Published ? "да" : "нет")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SortOrder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SeoDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SeoKeywords)
            </td>
            <td class="digit">
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td class="digit">
                @Html.DisplayFor(modelItem => item.OldPrice)
            </td>
            <td>
                @Html.ActionLink("Просм", "Details", new { id = item.Id })<br />
                @Html.ActionLink("Ред", "Edit", new { id = item.Id })
                <br />
                @Html.ActionLink("Атр", "Attributes", new { id = item.Id })<br />
                @Html.ActionLink("Изобр", "Images", new { id = item.Id })<br />
                @Html.ActionLink("Тег", "Tags", new { id = item.Id })<br />
                @Html.ActionLink("Удал", "Delete", new { id = item.Id }, new { onclick = "return confirm('Удалить товар?')" })
            </td>
        </tr>
    }
</table>
