@model IEnumerable<Shop.Models.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Продукты</h2>

<p>
    @Html.ActionLink("Добавить новую запись", "Create")
</p>
<table>
    <tr>
        <th>
            Название
        </th>
        <th>
            Краткое описание
        </th>
        <th>
            Описание
        </th>
        <th>
            Новый
        </th>
        <th title="Специальное предложение">
            Спец. предл.
        </th>
        <th>
            Активный
        </th>
        <th>
            Порядок отображения
        </th>
        <th>
            Описание<br/>(для поисковиков)
        </th>
        <th>
            Ключевые слова<br/>(для поисковиков)
        </th>
        <th>
            Цена
        </th>
        <th>
            Старая цена
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShortDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.Raw(item.IsNew?"да":"нет")
        </td>
        <td>
            @Html.Raw(item.IsSpecialOffer ? "да" : "нет")
        </td>
        <td>
            @Html.Raw(item.Published ? "да" : "нет")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SortOrder)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SeoDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SeoKeywords)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OldPrice)
        </td>
        <td>
            @Html.ActionLink("Просмотр", "Details", new { id = item.Id })
            @Html.ActionLink("Редактировать", "Edit", new { id=item.Id }) 
            @Html.ActionLink("Атрибуты", "Attributes", new { id = item.Id })
            @Html.ActionLink("Изображения", "Images", new { id = item.Id })
            @Html.ActionLink("Удалить", "Delete", new { id=item.Id },new{onclick="return confirm('Удалить товар?')"})
        </td>
    </tr>
}

</table>
