@using Leo
@using SiteExtensions.Graphics
@model IEnumerable<Leo.Models.Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@section AdminNavigation
{
    <ul class="nav nav-tabs" role="tablist">
        <li>@Html.ActionLink("Контент главной страницы", "Index", "SpecialContent", new { area = "Admin" }, null)</li>
        <li class="active">@Html.ActionLink("Категории", "Index", "Category", new { area = "Admin" }, null)</li>
        <li>@Html.ActionLink("Новости", "Index", "Article", new { area = "Admin" }, null)</li>
    </ul>
}

@if (TempData["errorMessage"] != null)
{
    <div style="text-align: center">
    <h4><span class="label label-danger"> @TempData["errorMessage"]</span>    </h4>
        </div>
}


   


<h3>Категории</h3>

<p>
    @Html.ActionLink("Добавить категорию", "Create")
</p>
<table class="table table-striped">
    @*<table class="table">*@
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SortOrder)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Text)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsCorrectLang)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        
        <tr>
            <td>
                @if (item.CategoryLevel > 0)
                {
                    string categoryLevel = "level" + item.CategoryLevel;
                    <span class="category-level-indicator @categoryLevel"></span>
                }
                @if (item.CategoryType)
                {
                    <span class="label label-info">Категория новостей</span>
                }
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SortOrder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                @if (!item.IsCorrectLang)
                {
                    <span class="label label-danger">!</span>
                }
                else
                {
                    <span class="label label-success">ok</span>
                }
            </td>
            <td>
                @Html.ActionLink("Редактировать", "Edit", "Category", new { id = item.Id }, null) |
                @if (!item.Children.Any())
                {
                    @Html.ActionLink("Удалить", "Delete", "Category", new { id = item.Id }, new { onclick = "return confirm('Удалить категорию?')" }) <text>|</text>
                }
                @Html.ActionLink("Добавить подкатегорию", "Create", "Category", new { id = item.Id }, null) |
                @Html.ActionLink("Добавить продукт", "Create", "Product", new { id = item.Id }, null) |
                @if (item.CategoryType)
                {
                    @Html.ActionLink("Добавить новость", "Create", "Article", new { id = item.Id }, null)
                }
            </td>
        </tr>

                foreach (var product in item.Products)
                {
                    <tr>
                        <td>
                            <span class="category-level-indicator level2"></span><span class="product-indicator label label-info">product</span> @product.Name
                        </td>
                        <td>@product.SortOrder</td>
                        <td>@product.Title</td>
                        <td>@product.Text</td>
                        <td>
                            @if (!item.IsCorrectLang)
                            {
                                <span class="label label-danger">!</span>
                            }
                            else
                            {
                                <span class="label label-success">ok</span>
                            }
                        </td>
                        <td>
                            @Html.ActionLink("Редактировать", "Edit", "Product", new { id = product.Id }, null) |
                                @Html.ActionLink("Добавить изображение", "AddImage", "Product", new { id = product.Id }, null) |
                                @Html.ActionLink("Удалить", "Delete", "Product", new { id = product.Id }, new { onclick = "return confirm('Удалить продукт?')" })
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6">
                            @foreach (var image in product.ProductImages)
                            {
                                <div style="float: left; margin: 0 3px">
                                    @Html.Raw(Html.CachedImage("~/Content/Images/", image.ImageSource, SiteSettings.GetThumbnail("productImagePreview")))
                                    <br />
                                    @Html.ActionLink("Удалить", "DeleteImage", "Product", new { id = image.Id }, new { onclick = "return confirm('Удалить изображение?')" })
                                </div>
                            }
                        </td>
                    </tr>
  
                }


                foreach (var article in item.Articles.OrderBy(a=>a.Date))
                {
                    <tr>
                        <td>
                            <span class="category-level-indicator level2"></span><span class="product-indicator label label-success">Новость</span> @article.Date.ToShortDateString()
                        </td>
                        <td>@if (!article.Published)
                            {
                                <span class="label label-danger">Не опубликована</span>
                            }
                            else
                            {
                                <span class="label label-success">Опубликована</span>
                            }
                        </td>
                        <td>@article.Title</td>
                        <td>@article.Description</td>
                        <td>
                            @if (!article.IsCorrectLang)
                            {
                                <span class="label label-danger">!</span>
                            }
                            else
                            {
                                <span class="label label-success">ok</span>
                            }
                        </td>
                        <td>
                            @Html.ActionLink("Редактировать", "Edit", "Article", new { id = article.Id }, null) |
                            @Html.ActionLink("Добавить блок новостей", "Create", "ArticleItem", new { id = article.Id }, null) |
                            @*@Html.ActionLink("Добавить блок изображений", "AddImagesBlock", "Article", new { id = article.Id }, null) |*@
                            @Html.ActionLink("Удалить", "Delete", "Article", new { id = article.Id }, new { onclick = "return confirm('Удалить новость?')" })
                        </td>
                    </tr>

                    foreach (var articleItem in article.ArticleItems.OrderBy(i=>i.SortOrder))
                    {
                        <tr>
                            <td></td>
                            <td>@articleItem.SortOrder</td>
                            <td></td>
                            <td>
                                <div>
                                    @articleItem.Text
                                </div>
                                <div>
                                    @foreach (var image in articleItem.ArticleItemImages)
                                          {
                                              <div style="float: left; margin: 0 3px">
                                                  @Html.Raw(Html.CachedImage("~/Content/Images/", image.ImageSource, SiteSettings.GetThumbnail("articleItemImagePreview")))
                                                  <br />
                                                  @Html.ActionLink("Удалить", "DeleteImage", "ArticleItem", new { id = image.Id }, new { onclick = "return confirm('Удалить изображение?')" })
                                              </div>
                                          }
                                </div>
                            </td>
                            <td>
                            @if (!articleItem.IsCorrectLang)
                            {
                                <span class="label label-danger">!</span>
                            }
                            else
                            {
                                <span class="label label-success">ok</span>
                            }
                        </td>
                            <td>
                                @Html.ActionLink("Редактировать", "Edit", "ArticleItem", new { id = articleItem.Id }, null) |
                                @Html.ActionLink("Удалить", "Delete", "ArticleItem", new { id = articleItem.Id }, new { onclick = "return confirm('Удалить блок?')" })
                            </td>
                        </tr>
  
                    }
                }
    }

</table>
