@using Shop.Models
@model IEnumerable<Shop.Models.ProductAttribute>
@{
    ViewBag.Title = "Attributes";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";

    var productValues = (IEnumerable<ProductAttributeValues>)ViewBag.ProductAttributeValues;
}
<h2>
    Атрибуты продукта "@ViewBag.ProductName"</h2>
@using (Html.BeginForm())
{
    @Html.Hidden("productId", (int)ViewBag.ProductId)
    <table>
        <tr>
            <th>
                Название
            </th>
            <th>
                Тип значения
            </th>
            <th>
                Значение
            </th>
        </tr>
        @foreach (var item in Model.OrderBy(a => a.SortOrder))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValueType)
                </td>
                <td>
                    @foreach(var attributeValue in item.ProductAttributeValues.OrderBy(a=>a.Value))
                    {
                        @Html.CheckBox("attr_" + attributeValue.Id, productValues.Contains(attributeValue)) @attributeValue.Value @Html.Raw("&nbsp;&nbsp;&nbsp;")
                    }
                </td>
            </tr>
        }
    </table>
    
    <p>
        <input type="submit" value="Сохранить" />
    </p>
}
<div>
    @Html.ActionLink("Назад к списку товаров", "Index")
</div>
