@model IEnumerable<Shop.Models.ProductAttribute>
@{
    ViewBag.Title = "Attributes";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<h2>
    Attributes</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            SortOrder
        </th>
        <th>
            Name
        </th>
        <th>
            ValueType
        </th>
        <th>
        </th>
    </tr>
    @foreach (var item in Model.OrderBy(a => a.SortOrder))
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SortOrder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValueType)
            </td>
            <td>
                @{
                   List<SelectListItem> selectList = new List<SelectListItem>();
                   selectList.Add(new SelectListItem{Text = "---",Value = ""});
            
                   foreach (var value in item.ProductAttributeValues)
                   {
                        selectList.Add(new SelectListItem{Text = value.Value,Value = value.Value});
                   }
                   
                   
                }

                @Html.DropDownList("attr_"+item.Id,selectList)

            </td>
        </tr>
    }
</table>
