<ul class="adminMenu">
    <li>@Html.ActionLink("Бренды", "Index", "Brand", new { Area = "Admin" }, null)</li>
    <li>@Html.ActionLink("Категории", "Index", "Category", new { Area = "Admin" }, null)</li>
    <li>@Html.ActionLink("Атрибуты", "Index", "ProductAttribute", new { Area = "Admin" }, null)</li>
    <li>@Html.ActionLink("Продукты", "Index", "Product", new { Area = "Admin" }, null)</li>
    <li>@Html.ActionLink("Теги", "Index", "Tag", new { Area = "Admin" }, null)</li>
    <li style="width: 30px"></li>
    <li>@Html.ActionLink("Контент", "Index", "Content", new { Area = "Admin" }, null)</li>
    <li style="width: 30px"></li>
    <li>@Html.ActionLink("Заказы", "Index", "Order", new { Area = "Admin" }, null)</li>
    <li style="width: 30px"></li>
    <li>@Html.ActionLink("Поиск", "Index", "Search", new { Area = "Admin" }, null)</li>
</ul>
<hr/>